.has-switch {
	border-color: rgba(0, 0, 0, 0.3); border-radius: 0px; -webkit-border-radius: 0; -moz-border-radius: 0;
}
.has-switch span {
	border-radius: 0px !important; padding-right: 4px; padding-left: 4px; font-weight: 700; box-shadow: inset 0px 2px 2px rgba(0,0,0,0.1); -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, .1); -webkit-border-radius: 0; -moz-border-radius: 0; -moz-box-shadow: inset 0 2px 2px rgba(0, 0, 0, .1);
}
.has-switch label::before {
	background: url("../img/switch_handle.png") no-repeat 0px 0px; margin: -5px 0px 0px -2px; left: 50%; top: 50%; width: 5px; height: 10px; display: block; position: absolute; content: "";
}
.switch-mini.has-switch label::before {
	margin: -3px 0px 0px -2px; width: 3px; height: 8px;
}
.has-switch span.switch-mini {
	line-height: 11px;
}
.has-switch label.switch-mini {
	line-height: 11px;
}
.switch-width-large.has-switch span {
	text-align: center; min-width: 100px;
}
.switch-width-xlarge.has-switch span {
	text-align: center; min-width: 180px;
}
.has-switch span.switch-large {
	font-size: 17px;
}
.has-switch label.switch-large {
	font-size: 17px;
}
.has-switch span.switch-primary {
	background: rgb(75, 140, 247); border-color: rgb(75, 140, 247); filter: none;
}
.has-switch span.switch-left {
	background: rgb(75, 140, 247); border-color: rgb(75, 140, 247); filter: none;
}
.has-switch span.switch-primary:hover {
	background: rgb(75, 140, 247);
}
.has-switch span.switch-left:hover {
	background: rgb(75, 140, 247);
}
.has-switch span.switch-primary:focus {
	background: rgb(75, 140, 247);
}
.has-switch span.switch-left:focus {
	background: rgb(75, 140, 247);
}
.has-switch span.switch-primary:active {
	background: rgb(75, 140, 247);
}
.has-switch span.switch-left:active {
	background: rgb(75, 140, 247);
}
.has-switch span.active.switch-primary {
	background: rgb(75, 140, 247);
}
.has-switch span.active.switch-left {
	background: rgb(75, 140, 247);
}
.has-switch span.disabled.switch-primary {
	background: rgb(75, 140, 247);
}
.has-switch span.disabled.switch-left {
	background: rgb(75, 140, 247);
}
.has-switch span[disabled].switch-primary {
	background: rgb(75, 140, 247);
}
.has-switch span[disabled].switch-left {
	background: rgb(75, 140, 247);
}
.has-switch span.switch-primary:active {
	
}
.has-switch span.switch-left:active {
	
}
.has-switch span.active.switch-primary {
	
}
.has-switch span.active.switch-left {
	
}
.has-switch span.switch-info {
	background: rgb(70, 184, 218); border-color: rgb(70, 184, 218); filter: none;
}
.has-switch span.switch-info:hover {
	background: rgb(70, 184, 218);
}
.has-switch span.switch-info:focus {
	background: rgb(70, 184, 218);
}
.has-switch span.switch-info:active {
	background: rgb(70, 184, 218);
}
.has-switch span.active.switch-info {
	background: rgb(70, 184, 218);
}
.has-switch span.disabled.switch-info {
	background: rgb(70, 184, 218);
}
.has-switch span[disabled].switch-info {
	background: rgb(70, 184, 218);
}
.has-switch span.switch-info:active {
	
}
.has-switch span.active.switch-info {
	
}
.has-switch span.switch-success {
	background: rgb(53, 170, 71); border-color: rgb(53, 170, 71); filter: none;
}
.has-switch span.switch-success:hover {
	background: rgb(53, 170, 71);
}
.has-switch span.switch-success:focus {
	background: rgb(53, 170, 71);
}
.has-switch span.switch-success:active {
	background: rgb(53, 170, 71);
}
.has-switch span.active.switch-success {
	background: rgb(53, 170, 71);
}
.has-switch span.disabled.switch-success {
	background: rgb(53, 170, 71);
}
.has-switch span[disabled].switch-success {
	background: rgb(53, 170, 71);
}
.has-switch span.switch-success:active {
	
}
.has-switch span.active.switch-success {
	
}
.has-switch span.switch-warning {
	background: rgb(251, 176, 70); border-color: rgb(251, 176, 70); filter: none;
}
.has-switch span.switch-warning:hover {
	background: rgb(251, 176, 70);
}
.has-switch span.switch-warning:focus {
	background: rgb(251, 176, 70);
}
.has-switch span.switch-warning:active {
	background: rgb(251, 176, 70);
}
.has-switch span.active.switch-warning {
	background: rgb(251, 176, 70);
}
.has-switch span.disabled.switch-warning {
	background: rgb(251, 176, 70);
}
.has-switch span[disabled].switch-warning {
	background: rgb(251, 176, 70);
}
.has-switch span.switch-warning:active {
	
}
.has-switch span.active.switch-warning {
	
}
.has-switch span.switch-danger {
	background: rgb(198, 50, 42); border-color: rgb(198, 50, 42); filter: none;
}
.has-switch span.switch-danger:hover {
	background: rgb(198, 50, 42);
}
.has-switch span.switch-danger:focus {
	background: rgb(198, 50, 42);
}
.has-switch span.switch-danger:active {
	background: rgb(198, 50, 42);
}
.has-switch span.active.switch-danger {
	background: rgb(198, 50, 42);
}
.has-switch span.disabled.switch-danger {
	background: rgb(198, 50, 42);
}
.has-switch span[disabled].switch-danger {
	background: rgb(198, 50, 42);
}
.has-switch span.switch-danger:active {
	
}
.has-switch span.active.switch-danger {
	
}
@media not all, only screen and (min-resolution:144dpi)
{
.has-switch label::before {
	background-image: url("../img/switch_handle@2x.png") !important; background-size: 5px !important;
}
}
