[class^='flag-'] {
	background-position: 0px -9288px; width: 16px; height: 16px; line-height: 16px; margin-top: -1px; vertical-align: middle; display: inline-block; background-image: url("flags.png"); background-repeat: no-repeat;
}
[class*=' flag-'] {
	background-position: 0px -9288px; width: 16px; height: 16px; line-height: 16px; margin-top: -1px; vertical-align: middle; display: inline-block; background-image: url("flags.png"); background-repeat: no-repeat;
}
[class^='flag-']:last-child {
	
}
[class*=' flag-']:last-child {
	
}
.flag-AD {
	background-position: 0px 0px;
}
.flag-AE {
	background-position: 0px -36px;
}
.flag-AF {
	background-position: 0px -72px;
}
.flag-AG {
	background-position: 0px -108px;
}
.flag-AI {
	background-position: 0px -144px;
}
.flag-AL {
	background-position: 0px -180px;
}
.flag-AM {
	background-position: 0px -216px;
}
.flag-AN {
	background-position: 0px -252px;
}
.flag-AO {
	background-position: 0px -288px;
}
.flag-AQ {
	background-position: 0px -324px;
}
.flag-AR {
	background-position: 0px -360px;
}
.flag-AS {
	background-position: 0px -396px;
}
.flag-AT {
	background-position: 0px -432px;
}
.flag-AU {
	background-position: 0px -468px;
}
.flag-AW {
	background-position: 0px -504px;
}
.flag-AX {
	background-position: 0px -540px;
}
.flag-AZ {
	background-position: 0px -576px;
}
.flag-BA {
	background-position: 0px -612px;
}
.flag-BB {
	background-position: 0px -648px;
}
.flag-BD {
	background-position: 0px -684px;
}
.flag-BE {
	background-position: 0px -720px;
}
.flag-BF {
	background-position: 0px -756px;
}
.flag-BG {
	background-position: 0px -792px;
}
.flag-BH {
	background-position: 0px -828px;
}
.flag-BI {
	background-position: 0px -864px;
}
.flag-BJ {
	background-position: 0px -900px;
}
.flag-BL {
	background-position: 0px -936px;
}
.flag-BM {
	background-position: 0px -972px;
}
.flag-BN {
	background-position: 0px -1008px;
}
.flag-BO {
	background-position: 0px -1044px;
}
.flag-BR {
	background-position: 0px -1080px;
}
.flag-BS {
	background-position: 0px -1116px;
}
.flag-BT {
	background-position: 0px -1152px;
}
.flag-BW {
	background-position: 0px -1188px;
}
.flag-BY {
	background-position: 0px -1224px;
}
.flag-BZ {
	background-position: 0px -1260px;
}
.flag-CA {
	background-position: 0px -1296px;
}
.flag-CC {
	background-position: 0px -1332px;
}
.flag-CD {
	background-position: 0px -1368px;
}
.flag-CF {
	background-position: 0px -1404px;
}
.flag-CG {
	background-position: 0px -1440px;
}
.flag-CH {
	background-position: 0px -1476px;
}
.flag-CI {
	background-position: 0px -1512px;
}
.flag-CK {
	background-position: 0px -1548px;
}
.flag-CL {
	background-position: 0px -1584px;
}
.flag-CM {
	background-position: 0px -1620px;
}
.flag-CN {
	background-position: 0px -1656px;
}
.flag-CO {
	background-position: 0px -1692px;
}
.flag-CR {
	background-position: 0px -1728px;
}
.flag-CU {
	background-position: 0px -1764px;
}
.flag-CV {
	background-position: 0px -1800px;
}
.flag-CW {
	background-position: 0px -1836px;
}
.flag-CX {
	background-position: 0px -1872px;
}
.flag-CY {
	background-position: 0px -1908px;
}
.flag-CZ {
	background-position: 0px -1944px;
}
.flag-DE {
	background-position: 0px -1980px;
}
.flag-DJ {
	background-position: 0px -2016px;
}
.flag-DK {
	background-position: 0px -2052px;
}
.flag-DM {
	background-position: 0px -2088px;
}
.flag-DO {
	background-position: 0px -2124px;
}
.flag-DZ {
	background-position: 0px -2160px;
}
.flag-EC {
	background-position: 0px -2196px;
}
.flag-EE {
	background-position: 0px -2232px;
}
.flag-EG {
	background-position: 0px -2268px;
}
.flag-EH {
	background-position: 0px -2304px;
}
.flag-ER {
	background-position: 0px -2340px;
}
.flag-ES {
	background-position: 0px -2376px;
}
.flag-ET {
	background-position: 0px -2412px;
}
.flag-EU {
	background-position: 0px -2448px;
}
.flag-FI {
	background-position: 0px -2484px;
}
.flag-FJ {
	background-position: 0px -2520px;
}
.flag-FK {
	background-position: 0px -2556px;
}
.flag-FM {
	background-position: 0px -2592px;
}
.flag-FO {
	background-position: 0px -2628px;
}
.flag-FR {
	background-position: 0px -2664px;
}
.flag-GA {
	background-position: 0px -2700px;
}
.flag-GB {
	background-position: 0px -2736px;
}
.flag-GD {
	background-position: 0px -2772px;
}
.flag-GE {
	background-position: 0px -2808px;
}
.flag-GG {
	background-position: 0px -2844px;
}
.flag-GH {
	background-position: 0px -2880px;
}
.flag-GI {
	background-position: 0px -2916px;
}
.flag-GL {
	background-position: 0px -2952px;
}
.flag-GM {
	background-position: 0px -2988px;
}
.flag-GN {
	background-position: 0px -3024px;
}
.flag-GQ {
	background-position: 0px -3060px;
}
.flag-GR {
	background-position: 0px -3096px;
}
.flag-GS {
	background-position: 0px -3132px;
}
.flag-GT {
	background-position: 0px -3168px;
}
.flag-GU {
	background-position: 0px -3204px;
}
.flag-GW {
	background-position: 0px -3240px;
}
.flag-GY {
	background-position: 0px -3276px;
}
.flag-HK {
	background-position: 0px -3312px;
}
.flag-HN {
	background-position: 0px -3348px;
}
.flag-HR {
	background-position: 0px -3384px;
}
.flag-HT {
	background-position: 0px -3420px;
}
.flag-HU {
	background-position: 0px -3456px;
}
.flag-IC {
	background-position: 0px -3492px;
}
.flag-ID {
	background-position: 0px -3528px;
}
.flag-IE {
	background-position: 0px -3564px;
}
.flag-IL {
	background-position: 0px -3600px;
}
.flag-IM {
	background-position: 0px -3636px;
}
.flag-IN {
	background-position: 0px -3672px;
}
.flag-IQ {
	background-position: 0px -3708px;
}
.flag-IR {
	background-position: 0px -3744px;
}
.flag-IS {
	background-position: 0px -3780px;
}
.flag-IT {
	background-position: 0px -3816px;
}
.flag-JE {
	background-position: 0px -3852px;
}
.flag-JM {
	background-position: 0px -3888px;
}
.flag-JO {
	background-position: 0px -3924px;
}
.flag-JP {
	background-position: 0px -3960px;
}
.flag-KE {
	background-position: 0px -3996px;
}
.flag-KG {
	background-position: 0px -4032px;
}
.flag-KH {
	background-position: 0px -4068px;
}
.flag-KI {
	background-position: 0px -4104px;
}
.flag-KM {
	background-position: 0px -4140px;
}
.flag-KN {
	background-position: 0px -4176px;
}
.flag-KP {
	background-position: 0px -4212px;
}
.flag-KR {
	background-position: 0px -4248px;
}
.flag-KW {
	background-position: 0px -4284px;
}
.flag-KY {
	background-position: 0px -4320px;
}
.flag-KZ {
	background-position: 0px -4356px;
}
.flag-LA {
	background-position: 0px -4392px;
}
.flag-LB {
	background-position: 0px -4428px;
}
.flag-LC {
	background-position: 0px -4464px;
}
.flag-LI {
	background-position: 0px -4500px;
}
.flag-LK {
	background-position: 0px -4536px;
}
.flag-LR {
	background-position: 0px -4572px;
}
.flag-LS {
	background-position: 0px -4608px;
}
.flag-LT {
	background-position: 0px -4644px;
}
.flag-LU {
	background-position: 0px -4680px;
}
.flag-LV {
	background-position: 0px -4716px;
}
.flag-LY {
	background-position: 0px -4752px;
}
.flag-MA {
	background-position: 0px -4788px;
}
.flag-MC {
	background-position: 0px -4824px;
}
.flag-MD {
	background-position: 0px -4860px;
}
.flag-ME {
	background-position: 0px -4896px;
}
.flag-MF {
	background-position: 0px -4932px;
}
.flag-MG {
	background-position: 0px -4968px;
}
.flag-MH {
	background-position: 0px -5004px;
}
.flag-MK {
	background-position: 0px -5040px;
}
.flag-ML {
	background-position: 0px -5076px;
}
.flag-MM {
	background-position: 0px -5112px;
}
.flag-MN {
	background-position: 0px -5148px;
}
.flag-MO {
	background-position: 0px -5184px;
}
.flag-MP {
	background-position: 0px -5220px;
}
.flag-MQ {
	background-position: 0px -5256px;
}
.flag-MR {
	background-position: 0px -5292px;
}
.flag-MS {
	background-position: 0px -5328px;
}
.flag-MT {
	background-position: 0px -5364px;
}
.flag-MU {
	background-position: 0px -5400px;
}
.flag-MV {
	background-position: 0px -5436px;
}
.flag-MW {
	background-position: 0px -5472px;
}
.flag-MX {
	background-position: 0px -5508px;
}
.flag-MY {
	background-position: 0px -5544px;
}
.flag-MZ {
	background-position: 0px -5580px;
}
.flag-NA {
	background-position: 0px -5616px;
}
.flag-NC {
	background-position: 0px -5652px;
}
.flag-NE {
	background-position: 0px -5688px;
}
.flag-NF {
	background-position: 0px -5724px;
}
.flag-NG {
	background-position: 0px -5760px;
}
.flag-NI {
	background-position: 0px -5796px;
}
.flag-NL {
	background-position: 0px -5832px;
}
.flag-NO {
	background-position: 0px -5868px;
}
.flag-NP {
	background-position: 0px -5904px;
}
.flag-NR {
	background-position: 0px -5940px;
}
.flag-NU {
	background-position: 0px -5976px;
}
.flag-NZ {
	background-position: 0px -6012px;
}
.flag-OM {
	background-position: 0px -6048px;
}
.flag-PA {
	background-position: 0px -6084px;
}
.flag-PE {
	background-position: 0px -6120px;
}
.flag-PF {
	background-position: 0px -6156px;
}
.flag-PG {
	background-position: 0px -6192px;
}
.flag-PH {
	background-position: 0px -6228px;
}
.flag-PK {
	background-position: 0px -6264px;
}
.flag-PL {
	background-position: 0px -6300px;
}
.flag-PN {
	background-position: 0px -6336px;
}
.flag-PR {
	background-position: 0px -6372px;
}
.flag-PS {
	background-position: 0px -6408px;
}
.flag-PT {
	background-position: 0px -6444px;
}
.flag-PW {
	background-position: 0px -6480px;
}
.flag-PY {
	background-position: 0px -6516px;
}
.flag-QA {
	background-position: 0px -6552px;
}
.flag-RO {
	background-position: 0px -6588px;
}
.flag-RS {
	background-position: 0px -6624px;
}
.flag-RU {
	background-position: 0px -6660px;
}
.flag-RW {
	background-position: 0px -6696px;
}
.flag-SA {
	background-position: 0px -6732px;
}
.flag-SB {
	background-position: 0px -6768px;
}
.flag-SC {
	background-position: 0px -6804px;
}
.flag-SD {
	background-position: 0px -6840px;
}
.flag-SE {
	background-position: 0px -6876px;
}
.flag-SG {
	background-position: 0px -6912px;
}
.flag-SH {
	background-position: 0px -6948px;
}
.flag-SI {
	background-position: 0px -6984px;
}
.flag-SK {
	background-position: 0px -7020px;
}
.flag-SL {
	background-position: 0px -7056px;
}
.flag-SM {
	background-position: 0px -7092px;
}
.flag-SN {
	background-position: 0px -7128px;
}
.flag-SO {
	background-position: 0px -7164px;
}
.flag-SR {
	background-position: 0px -7200px;
}
.flag-SS {
	background-position: 0px -7236px;
}
.flag-ST {
	background-position: 0px -7272px;
}
.flag-SV {
	background-position: 0px -7308px;
}
.flag-SY {
	background-position: 0px -7344px;
}
.flag-SZ {
	background-position: 0px -7380px;
}
.flag-TC {
	background-position: 0px -7416px;
}
.flag-TD {
	background-position: 0px -7452px;
}
.flag-TF {
	background-position: 0px -7488px;
}
.flag-TG {
	background-position: 0px -7524px;
}
.flag-TH {
	background-position: 0px -7560px;
}
.flag-TJ {
	background-position: 0px -7596px;
}
.flag-TK {
	background-position: 0px -7632px;
}
.flag-TL {
	background-position: 0px -7668px;
}
.flag-TM {
	background-position: 0px -7704px;
}
.flag-TN {
	background-position: 0px -7740px;
}
.flag-TO {
	background-position: 0px -7776px;
}
.flag-TR {
	background-position: 0px -7812px;
}
.flag-TT {
	background-position: 0px -7848px;
}
.flag-TV {
	background-position: 0px -7884px;
}
.flag-TW {
	background-position: 0px -7920px;
}
.flag-TZ {
	background-position: 0px -7956px;
}
.flag-UA {
	background-position: 0px -7992px;
}
.flag-UG {
	background-position: 0px -8028px;
}
.flag-US {
	background-position: 0px -8064px;
}
.flag-UY {
	background-position: 0px -8100px;
}
.flag-UZ {
	background-position: 0px -8136px;
}
.flag-VA {
	background-position: 0px -8172px;
}
.flag-VC {
	background-position: 0px -8208px;
}
.flag-VE {
	background-position: 0px -8244px;
}
.flag-VG {
	background-position: 0px -8280px;
}
.flag-VI {
	background-position: 0px -8316px;
}
.flag-VN {
	background-position: 0px -8352px;
}
.flag-VU {
	background-position: 0px -8388px;
}
.flag-WF {
	background-position: 0px -8424px;
}
.flag-WS {
	background-position: 0px -8460px;
}
.flag-YE {
	background-position: 0px -8496px;
}
.flag-YT {
	background-position: 0px -8532px;
}
.flag-ZA {
	background-position: 0px -8568px;
}
.flag-ZM {
	background-position: 0px -8604px;
}
.flag-ZW {
	background-position: 0px -8640px;
}
.flag-_abkhazia {
	background-position: 0px -8676px;
}
.flag-_basque-country {
	background-position: 0px -8712px;
}
.flag-_british-antarctic-territory {
	background-position: 0px -8748px;
}
.flag-_commonwealth {
	background-position: 0px -8784px;
}
.flag-_england {
	background-position: 0px -8820px;
}
.flag-_gosquared {
	background-position: 0px -8856px;
}
.flag-_kosovo {
	background-position: 0px -8892px;
}
.flag-_mars {
	background-position: 0px -8928px;
}
.flag-_nagorno-karabakh {
	background-position: 0px -8964px;
}
.flag-_nato {
	background-position: 0px -9000px;
}
.flag-_northern-cyprus {
	background-position: 0px -9036px;
}
.flag-_olympics {
	background-position: 0px -9072px;
}
.flag-_red-cross {
	background-position: 0px -9108px;
}
.flag-_scotland {
	background-position: 0px -9144px;
}
.flag-_somaliland {
	background-position: 0px -9180px;
}
.flag-_south-ossetia {
	background-position: 0px -9216px;
}
.flag-_united-nations {
	background-position: 0px -9252px;
}
.flag-_unknown {
	background-position: 0px -9288px;
}
.flag-_wales {
	background-position: 0px -9324px;
}
@media not all, only screen and (min-resolution:144dpi)
{
[class^='flag-'] {
	background-image: url("flags@2x.png") !important; background-size: 16px !important;
}
[class*=' flag-'] {
	background-image: url("flags@2x.png") !important; background-size: 16px !important;
}
}
