 .select2-container-multi .select2-choices {
    min-width: 200px;
}
.select2-container .select2-choice {
    min-width: 200px;
    min-height: 30px;
	
}
.displaynone {
	display: none;
}
.red {
	color:#F22613;
}
.btn-block {
	height:37px;
	font-size:14px;
	border-radius:0px;
}
.lnumberstyle {
	float:left;
	border:0px red solid;
	text-align:left;
	padding:5px;
	font-weight:bold;
	font-size:15px !important;
	drection:rtl;
	
}
.lnumberstyle span{
	float:left;
	disply:inline-block;
	font-size:15px !important;
	border-bottom:1px #000 solid;
}
 
.mailDetails {
    padding-right: 15px;
}
ul.time-input-list {
  position: absolute;
  max-height: 200px;
  width: 70px;
  overflow: auto;
  overflow-y: auto;
  overflow-x: none;
  background: #fff;
  border: 1px solid #000;
  z-index: 99;
  
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

ul.time-input-list li {
  margin: 0px;
  padding: 0px;
  text-align: left;
}

ul.time-input-list li.selected {
  background: #316AC5;
  color: white;
  cursor: pointer;
}
/*----------------------MHD code---------------------------*/
/* main code*/
a , button{
	outline:0 !important;
}
.login_wrapper{
	direction: rtl !important;
}
.login_head h1 {
    margin: 0;
    font-size: 17px !important;
    font-family: Yekan,'YekanNumbers',"Helvetica Neue","Segoe UI",Helvetica,Arial,"Lucida Grande",sans-serif !important;
    text-align: center;
    color: #267312 ;
}
/* search */
.moviecard {
  background: #fff;
  display: block;
  padding: 0;
  position: relative;
}
.moviecard__modal {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 100px;
  border-top-right-radius: 10px;
  overflow: hidden;
  padding: 0;
}
.moviecard__modal:focus, .moviecard__modal:active {
  outline: 0;
}
.moviecard__backdrop {
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}
.moviecard__slider {
  max-height: 300px;
}
.moviecard__slider li {
  overflow: hidden;
}
.moviecard__slider + .orbit-timer {
  display: none;
  left: 10px;
  right: auto;
}
.moviecard__slider + .orbit-timer > span {
  opacity: .5;
  right: -20px;
}
.moviecard__slider + .orbit-timer.paused > span {
  opacity: .5;
  right: -24px;
}
.moviecard__slider + .orbit-timer .orbit-progress {
  left: 0;
}
.moviecard__poster {
  border: 5px solid #fff;
}
.moviecard__info {
  padding: 5px 15px;
}
.moviecard__info h1 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1;
  margin: 0;
  text-transform: uppercase;
}
.moviecard__info .progress {
  height: 10px;
}
.moviecard__searchbox {
}
.moviecard__searchbox input,
.moviecard__searchbox .button {
      border: 1px solid rgb(70, 136, 71);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
}
.moviecard__searchbox input {
  border-bottom-right-radius: 3px !important;
  border-top-right-radius: 3px !important;
  border-right-color: #442267;
}
.moviecard__searchbox .button {
 border-bottom-left-radius: 3px !important;
    border-top-left-radius: 3px !important;
    background:  #198FFF;
	border-buttom:2px solid blue;
    color: #fff;
}
.moviecard__autocomplete {
  display: block;
}
.moviecard__autocomplete > li {
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  cursor: pointer;
  display: block;
  padding: .25em;
  text-align: center;
}
.moviecard__autocomplete > li P {
  color: #fff;
  font-size: 0.75rem;
  line-height: 1;
  margin-top: 0.625rem;
  text-transform: uppercase;
}
.moviecard__autocomplete > li:hover {
  background: #9876bb;
  border-radius: 5px;
  color: #fff;
}

.inline-list {
  margin-bottom: 1rem;
}
.inline-list .inline-list {
  margin-left: 0;
}
.inline-list--comma {
  margin-bottom: 0;
}
.inline-list--comma::after {
  clear: both;
  content: "";
  display: table;
}
.inline-list--comma > li {
  margin-left: 0;
}
.inline-list--comma > li:after {
  content: ',';
  margin-right: .15em;
}
.inline-list--comma > li:last-child:after {
  content: '';
}

 .main_search input[type=text] {
    background-color: #fff !important;
    border: none !important;
    border-bottom: none !important;
    outline: 0 !important;
    height: 32px !important;
    width: 78% !important;
    box-shadow: none !important;
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
    transition: all .3s !important;
} 
/*print page*/
#printArea{
	direction: rtl;
}
#printArea .panel {
    border-radius: 0 !important;
    border: 0 !important;
    border-image: none !important;
    margin-bottom: 20px !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
#printArea .form_sep{
    margin:5px !important;
}
#printArea .letter-print-footer{
    font-size:13px;
	font-weight:bold;
}
@font-face {
     font-family: 'Yekan';
     src: url("../fonts/YekanWeb-Regular.eot");
     src: url("../fonts/YekanWeb-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/YekanWeb-Regular.woff") format("woff"), url("../fonts/YekanWeb-Regular.ttf") format("truetype"), url("../fonts/YekanWeb-Regular.svg#YekanWeb-Regular") format("svg");
     font-style: normal;
     font-weight: normal;
     text-rendering: optimizeLegibility
 }
 @font-face {
     font-family: 'YekanNumbers';
     src: url("../fonts/YekanNumbers-Regular.eot");
     src: url("../fonts/YekanNumbers-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/YekanNumbers-Regular.woff") format("woff"), url("../fonts/YekanNumbers-Regular.ttf") format("truetype"), url("../fonts/YekanNumbers-Regular.svg#YekanNumbers-Regular") format("svg");
     font-style: normal;
     font-weight: normal;
     text-rendering: optimizeLegibility
 }
body, page {
  font-family: Yekan,'YekanNumbers',"Helvetica Neue","Segoe UI",Helvetica,Arial,"Lucida Grande",sans-serif;
}
.logo img{
	width:100px;
	height:auto;
}	  
.back-letter{
	background-color: #f0eff2;
}
.container-fluid{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-footer:after {
    clear: both;
}
.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
    content: " ";
    display: table;
}
a{
	outline:0;
}
.no-padding{
	padding:0px!important;
}
.btn-compose{
	background-color: #F5F4F6;
    width: 100%;
    box-shadow: none !important;
    border-radius: 0;
    text-align: right;
	color:#333;
	 font-family: Yekan,'YekanNumbers',"Helvetica Neue","Segoe UI",Helvetica,Arial,"Lucida Grande",sans-serif !important;
	padding: 8px 12px !important;
}
.btn-compose i{
	color:#6F289C;
}
.primary-property-btn .btn:focus i::before, .primary-property-btn .btn:focus .icon-text, .primary-property-btn .btn:hover i::before, .primary-property-btn .btn:hover .icon-text {
    color: #6F289C;
}
.sepH_b{
	margin:0px !important;
}
.sepH_b p{
	margin:0px !important;
}
.form-control {
    padding: 2px 12px !important;
    font-size: 14px !important;
}
/*=======================sidebar=======================*/
.accordion-menu {
  width: 100%;
  background-color: #F0EFF2;
  border-radius: 0px;
}

.accordion-menu li.open .dropdownlink {
  color: #6F289C;
}
.accordion-menu li.open .dropdownlink .fa-angle-left {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.accordion-menu li:last-child .dropdownlink {
  border-bottom: 0;
}

.dropdownlink {
  cursor: pointer;
  display: block;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
  color: #212121;
  position: relative;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.dropdownlink i {
  position: absolute;
  top: 7px;
  left: 16px;
}
.dropdownlink .fa-angle-left {
  right: -12px;
  left: auto;
}

.submenuItems {
  display: none;
  background: transparent;
}
.submenuItems li {
}

.submenuItems a {
  display: block;
  color: #727272;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.submenuItems a:hover {
  background-color: transparent;
  color: #fff;
}

.sidebar-menu{
	background-color: #F0EFF2;
    padding: 20px 0;
}
.sidebar-menu ul{
	list-style:none;
	line-height:1.8;
}
.sidebar-menu ul li a{
	color:#333;
	outline:0;
}
.sidebar-menu ul li a span{
    /* float: left;
    margin-left: 116px; */
}
.sidebar-menu ul li a:hover{
	color:#6F289C;
	outline:0;
}
/* ========== panel-body================*/
.panel-body {
    padding: 0px !important;
}
/* ========== deaial page================*/
#detailPart-main{
    overflow-y: scroll;
    height: 400px;
    overflow-x: hidden;
}
.mailOptions {
    background-color: #f5f4f6;
}
.mailOptions ul {
	list-style: none;
}
.mailOptions li {
    display: inline-block;
    margin: 7px;
}
.mailOptions li i{
    font-size: 2rem;
	color:#444;
}
.mailOptions li .fa-angle-down{
	font-size: 17px;
    margin-right: 2px;
}
.mailOptions li .fa-ellipsis-h{
	font-size: 14px;
    margin-left: 2px;
}
.mailOptions li .fa-caret-square-o-down, .mailOptions li .fa-file-pdf-o, .mailOptions li .fa-print{
    margin-left: 2px;
}
.mailOptions li a{
	color:#444;
}
.mailOptions li .mailOption {
    cursor: pointer;
}
.dropdown-toggle{
    border: none !important;
    background: transparent !important;
}
.dropdown-menu li{
    width: 100%;
    border: none !important;
    font-size: 1.3rem;
}
.dropdown-menu > li > a {
    font-size: 14px;
}
.dropdown-menu > li > a:hover {
    color: rgb(38, 38, 38);
    text-decoration: none;
    background-color: #f0e8f5;
    width: 90%;
}
.mailDetails .letter-subject{
   margin-top:0px;
    border-bottom: 5px solid #eee;
    padding: 5px 0 10px;
}
.mailDetails .letter-subject .fa-circle, .form_sep .fa-circle{
    color: #eee;
    margin-left: 10px;
    font-size: 12px;
}
.to_sep{
    margin-right: 41px;
}
.letter-status{
	color:#333;
}
.mailDetails .letter-number{
    margin-left:20px;
	color:#777;
    text-align: left;
}
.mailDetails .letter-body{
   padding:10px  50px 40px!important;
}
.mailDetails .letter-number .fa-paperclip{
    margin-left:35px;
    font-size: 15px;
    color: rgb(153, 153, 153);
}
.mailDetails .letter-option-bellow{
    background-color: transparent !important;
	border:none !important;
}
input[type=date], .select2-choices, input[type=datetime-local], input[type=email], input[type=number], input[type=password], input[type=search-md], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], textarea.md-textarea {
    background-color: transparent !important;
    border: none !important;
     border-bottom: 1px solid #ccc !important; 
    border-radius: 0 !important;
    outline: 0 !important;
    height: 2.1rem !important;
    width: 100% !important;
    box-shadow: none !important;
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
    transition: all .3s !important;
}

.select2-container-multi .select2-choices{
	background-image: none !important;
}
.select2-container, .select2-container-multi{
	width:100%;
}
/* input[type=date],  input[type=email], input[type=number], input[type=password], input[type=search-md], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], textarea.md-textarea ,.select-line{
	border-bottom: 1px solid #ccc;
} */
.select2-input{
	border:none !important;
}
.letter-attach-img{
	width:100px;
	height:100px;
	object-fit:cover;
}
#detailPart a{
	color:#333;
    font-size: 11px;
}
/* image hover */
/* Advanced CSS hover styles */
.letter-attach a { text-decoration: none; display: block; }
.letter-attach img 	{ display: block; position: relative; z-index: -1; } /* IE8 fix, background colour appears behind img for uknown reason set negative z-index */
.letter-attach:not([class=na]) img 		{ position: static; } /* Reset relative position, as this plays havoc with good browsers */
.letter-attach a:hover,.letter-attach a:focus	{ display: block; outline: none;  }
.letter-attach a:hover:after,
.letter-attach a:focus:after
{
	content: attr(title);
	color: #fff;
	position: absolute;
	bottom: 0;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-weight: bold;
	width: 100%;
	background: rgb(0,0,0);
	background: rgba(0,0,0,0.5);
	background: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)); /* Firefox 3.6+ */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0.5))); /* Safari */
	display: block;
	text-shadow: 1px 1px 1px #000;
}
.letter-attach a.reverse:hover:after,
.letter-attach a.reverse:focus:after { top: 0; right: 0; }

.letter-attach a.offset:hover:after,
.letter-attach a.offset:focus:after { top: 50%; margin-top: -15px; }

.letter-attach a.alternate01:hover:after,
.letter-attach a.alternate01:focus:after
{ 
	top: 0;
	width: 50%; 
	height: 100%; 
	line-height: normal; 
	text-align: left; 
	padding: 4px; 
	font-size: 12px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* Change colours */
.letter-attach.highlight01 a:hover img, .letter-attach.highlight01 a:focus img { outline-color: #1E528C; }

.letter-attach.highlight01 a:hover:after,
.letter-attach.highlight01 a:focus:after
{
	background: rgb(30,82,140); 
	background: rgba(30, 82, 140, 0.7);
	background: -moz-linear-gradient(top, rgba(30, 82, 140, 0.7), rgba(43, 117, 200, 0.7)); /* Firefox 3.6+ */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(30, 82, 140, 0.7)), to(rgba(43, 117, 200, 0.7))); /* Safari */
	color: #fff;
	text-shadow: 1px 1px 1px #000;
}


/* ========== compose page================*/
.panel-compose{
	padding:20px;
}
.hidden-content {
    display:none;
}
#ccbcc{
	cursor:pointer;
}
#mceu_14-body{
	display:none !important;
}
.btn.default {
    box-sizing: border-box;
    height: 32px;
    line-height: 32px;
    padding: 0 25px;
    background-color: #198FFF;
    color: #fff;
    box-shadow: 0 2px #063A93;
    border-radius: 3px;
    font-weight: 400;
    border: 2px solid transparent;
    cursor: pointer;
}
.btn.default:hover{
    background-color: #0A80E3;
    color: #fff;
}
.disablefont {
	color:#aaa !important;
	cursor:not-allowed;
}
.disablefontAllTime {
	color:#aaa !important;
	cursor:not-allowed;
}
.enablefont {
	color:#333 !important;
	cursor:pointer;
}
.activedeative{
	
}
/* ========== list page================*/
@media only screen and (max-width: 800px) {
    
    /* Force table to not be like tables anymore */
	#no-more-tables table, 
	#no-more-tables thead, 
	#no-more-tables tbody, 
	#no-more-tables th, 
	#no-more-tables td, 
	#no-more-tables tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#no-more-tables tr { border: 1px solid #ccc; }
 
	#no-more-tables td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		white-space: normal;
		text-align:left;
	}
 
	#no-more-tables td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	/*
	Label the data
	*/
	#no-more-tables td:before { content: attr(data-title); }
}
.table-hover tr .a1{
	width:2%;
}
.table-hover tr .a2{
	width:15%;
}
.table-hover tr .a8{
	width:15%;
}
.table-hover tr .a3{
	width:20%;
	overflow: hidden;
    text-overflow: ellipsis;
}
.table-hover tr .a4{
	width:10%;
}
.table-hover tr .a5{
	width:5%;
}
.table-hover tr .a6{
	width:15%;
}
.table-hover tr .a7{
	width:15%;
}
.table-hover tr .a8{
	width:2%;
}
.table-hover tbody .table-row{
    border-bottom: 1px solid #eee !important;
}
.table-hover tbody .table-row:first-child{
    border-top: 1px solid #eee !important;
}
.table-striped > tbody > tr:nth-child(2n+1) > td {
    background-color: #fff !important;
}
.table-striped > tbody > tr:nth-child(2n+1):hover > td {
    background-color: #f9f9f9 !important;
}
.component a{
	color:#333;
    font-size: 14px;
}
.component a:hover{
	color:#6F289C;
}
.table-row .fa-circle{
    color: #d6d6d6;
    font-size: 10px;
}
.warning { 
    color: #EC9742 !important; 
}
.danger { 
    color: #C93F27 !important; 
}
.info { 
    color: #4C96CC !important; 
}
.success { 
    color: #46B858 !important; 
}
.violet { 
    color: #7966B3 !important; 
}
.table-row{
	cursor:pointer;
}
#modalArchive #textarea_message{
	width: 530px !important;
text-align: right;
float: right;

}
.modal-header{
	text-align:right;
}
.panel-body{
	text-align:right;
}
.avatar{
	width:120px;
	height:120px;
}
.alert{
	padding-right:20px;
}
.alert .close {
 
    margin-right: 10px !important;

}
.alert-dismissable .close {
 
    right: 10px !important;

}
