html {
	height: 100%; max-width: 100%;
}
body {
	height: 100%; max-width: 100%;
}
body {
	-ms-overflow-x: hidden;
}
a {
	color: rgb(41, 146, 200);
}
a:hover {
	color: rgb(5, 100, 149);
}
a:focus {
	color: rgb(5, 100, 149);
}
a {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
button {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
.btn {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:focus {
	text-decoration: none;
}
textarea:hover {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='text']:hover {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='password']:hover {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='datetime']:hover {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='datetime-local']:hover {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='date']:hover {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='month']:hover {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='time']:hover {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='week']:hover {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='number']:hover {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='email']:hover {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='url']:hover {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='search']:hover {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='tel']:hover {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='color']:hover {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
.uneditable-input:hover {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
textarea:focus {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='text']:focus {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='password']:focus {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='datetime']:focus {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='datetime-local']:focus {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='date']:focus {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='month']:focus {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='time']:focus {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='week']:focus {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='number']:focus {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='email']:focus {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='url']:focus {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='search']:focus {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='tel']:focus {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='color']:focus {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
.uneditable-input:focus {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
.btn-primary:hover {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
.btn-warning:hover {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
.btn-danger:hover {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
.btn-success:hover {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
.btn-info:hover {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
.btn-inverse:hover {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
.btn-default:hover {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
.form-control:hover {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
.form-control:focus {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
.has-success .form-control:focus {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
.has-warning .form-control:focus {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
.has-error .form-control:focus {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
textarea {
	-webkit-appearance: none;
}
input[type='text'] {
	-webkit-appearance: none;
}
input[type='submit'] {
	-webkit-appearance: none;
}
form {
	margin-bottom: 0px;
}
label {
	font-weight: normal; display: block;
}
input[type='radio'] {
	margin-top: 2px;
}
input[type='checkbox'] {
	margin-top: 2px;
}
fieldset + fieldset {
	margin-top: 20px;
}
legend {
	margin: 0px; border: currentColor; border-image: none; font-size: 16px; position: relative;
}
legend::after {
	width: 100%; height: 16px; margin-top: 2px; border-top-color: rgb(227, 227, 227); border-top-width: 1px; border-top-style: dashed; display: block; content: "";
}
fieldset .row + .row {
	margin-top: 20px;
}
.input-lg {
	border-radius: 1px; -webkit-border-radius: 1px; -moz-border-radius: 1px;
}
.help-block {
	font-size: 11px;
}
[disabled].form-control {
	border-color: rgb(192, 192, 192) rgb(217, 217, 217) rgb(217, 217, 217);
}
[readonly].form-control {
	border-color: rgb(192, 192, 192) rgb(217, 217, 217) rgb(217, 217, 217);
}
fieldset[disabled] .form-control {
	border-color: rgb(192, 192, 192) rgb(217, 217, 217) rgb(217, 217, 217);
}
.form-control + .input-group-btn > .btn {
	margin-left: -1px;
}
.form-control + .input-group-btn > .btn + .btn {
	margin-left: -5px;
}
.row + .row {
	margin-top: 24px;
}
.label {
	padding: 0px 4px; border: 1px solid rgb(119, 119, 119); border-image: none; line-height: 14px; font-size: 11px;
}
.badge {
	padding: 0px 4px; border: 1px solid rgb(119, 119, 119); border-image: none; line-height: 14px; font-size: 11px;
}
.label-danger {
	background: rgb(203, 17, 17); border: 1px solid rgb(159, 12, 12); border-image: none;
}
.badge-danger {
	background: rgb(203, 17, 17); border: 1px solid rgb(159, 12, 12); border-image: none;
}
.label-info {
	background: rgb(43, 166, 203); border: 1px solid rgb(34, 132, 161); border-image: none;
}
.badge-info {
	background: rgb(43, 166, 203); border: 1px solid rgb(34, 132, 161); border-image: none;
}
.label-warning {
	background: rgb(250, 169, 55); border: 1px solid rgb(231, 138, 6); border-image: none;
}
.badge-warning {
	background: rgb(250, 169, 55); border: 1px solid rgb(231, 138, 6); border-image: none;
}
.label-success {
	background: rgb(93, 164, 35); border: 1px solid rgb(69, 122, 26); border-image: none;
}
.badge-success {
	background: rgb(93, 164, 35); border: 1px solid rgb(69, 122, 26); border-image: none;
}
.dropdown {
	position: relative;
}
.dropdown-menu {
	padding: 0px; font-size: 13px;
}
.dropdown-menu > li > a {
	padding: 3px 10px;
}
.dropdown-menu li + li {
	border-top-color: rgb(225, 225, 225); border-top-width: 1px; border-top-style: solid;
}
.table {
	margin: 0px;
}
.table .col_small {
	width: 80px;
}
.table .col_center {
	text-align: center;
}
.table-bordered {
	border: currentColor; border-image: none;
}
.progress-small {
	height: 12px;
}
address p {
	font: 300 15px/18px "Roboto", sans-serif; margin: 0px; font-size-adjust: none; font-stretch: normal;
}
address p + p {
	margin-top: 6px;
}
address .addres_name {
	line-height: 24px; font-size: 20px; margin-bottom: 6px;
}
body.modal-open {
	margin-right: 0px;
}
.modal-open .navbar-fixed-top {
	margin-right: 0px;
}
.modal-open .navbar-fixed-bottom {
	margin-right: 0px;
}
.modal-content {
	border-color: rgba(0, 0, 0, 0.2);
}
.modal-header {
	background: rgb(242, 242, 242); border-color: rgba(0, 0, 0, 0.12); padding: 10px 15px;
}
.modal-header h4 {
	margin: 2px 0px 0px; line-height: 20px; font-family: "Roboto", sans-serif; font-size: 16px; font-weight: 300;
}
.modal-header h3 {
	margin: 2px 0px 0px; line-height: 20px; font-family: "Roboto", sans-serif; font-size: 16px; font-weight: 300;
}
.modal-header .close {
	margin-top: 2px; opacity: 0.2;
}
.modal-header .close:hover {
	opacity: 0.6;
}
.modal-header .close:focus {
	opacity: 0.6;
}
.modal-backdrop {
	opacity: 0.4;
}
.fade.modal-backdrop {
	opacity: 0.4;
}
.modal-backdrop {
	background: rgb(0, 0, 0);
}
.modal-footer {
	padding: 10px 15px 11px;
}
.alert {
	border-width: 0px 0px 0px 4px; padding: 12px 20px 12px 14px; border-radius: 0px; color: rgb(51, 51, 51); box-shadow: none; -webkit-box-shadow: none; -webkit-border-radius: 0; -moz-border-radius: 0; -moz-box-shadow: none;
}
.alert .close {
	top: 0px;
}
.alert .alert-link {
	color: rgb(41, 146, 200); font-weight: normal;
}
.pagination li > a:hover {
	background: rgb(226, 226, 226); border-color: rgb(187, 187, 187); color: rgb(51, 51, 51); box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
.pagination .active > a {
	background: rgb(226, 226, 226); border-color: rgb(187, 187, 187); color: rgb(51, 51, 51); box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
.pagination .active > span {
	background: rgb(226, 226, 226); border-color: rgb(187, 187, 187); color: rgb(51, 51, 51); box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
.pagination li > a {
	color: rgb(51, 51, 51);
}
.pagination li > span {
	color: rgb(51, 51, 51);
}
.img-thumbnail {
	padding: 3px; border: 1px solid rgb(225, 225, 225); border-image: none; box-shadow: none; background-color: rgb(255, 255, 255); -webkit-box-shadow: none; -moz-box-shadow: none;
}
.ui-widget {
	font-size: 13px;
}
input[type='checkbox']:checked::after {
	top: -5px; width: 21px; height: 21px; content: url(../img/checkmark.png);
}
.checkbox input[type='checkbox']:checked::after {
	top: -5px; width: 21px; height: 21px; content: url(../img/checkmark.png);
}
.checkbox-inline input[type='checkbox']:checked::after {
	top: -5px; width: 21px; height: 21px; content: url(../img/checkmark.png);
}
.nav-tabs > li > a {
	background: rgb(244, 244, 244); padding: 6px 10px; border-radius: 0px; -webkit-border-radius: 0; -moz-border-radius: 0;
}
.nav-tabs > li > a:hover {
	background: rgb(244, 244, 244); color: rgb(51, 51, 51);
}
.nav-tabs > li.active > a {
	padding: 6px 10px 7px; line-height: 20px; border-top-width: 0px;
}
.nav-tabs > li.active > a:hover {
	padding: 6px 10px 7px; line-height: 20px; border-top-width: 0px;
}
.nav-tabs > li.active > a:focus {
	padding: 6px 10px 7px; line-height: 20px; border-top-width: 0px;
}
.tab-content {
	padding: 10px;
}
.nav-pills > li > a {
	padding: 6px 14px; border-radius: 0px; color: rgb(51, 51, 51); font-size: 15px; -webkit-border-radius: 0; -moz-border-radius: 0;
}
.nav-pills > li.active > a {
	font-weight: 700;
}
.nav-pills > li.active > a:hover {
	font-weight: 700;
}
.nav-pills > li.active > a:focus {
	font-weight: 700;
}
.panel-footer .pagination {
	margin: 0px;
}
.panel-footer .pagination > li > a {
	background: rgb(255, 255, 255);
}
.panel-footer .pagination > li > span {
	background: rgb(255, 255, 255);
}
.tabbable-bordered > .nav-tabs {
	margin: 0px; border: currentColor; border-image: none;
}
.tabbable-bordered > .tab-content {
	padding: 10px; border: 1px solid rgb(221, 221, 221); border-image: none; min-height: 150px;
}
.tabbable-bordered .nav-tabs > li {
	margin-right: 2px;
}
.tabbable-bordered .nav-tabs > li > a {
	background: rgb(244, 244, 244); padding: 6px 10px; border-radius: 0px; margin-right: 0px; -webkit-border-radius: 0; -moz-border-radius: 0;
}
.tabbable-bordered .nav-tabs > li.active {
	margin-top: 0px; position: relative;
}
.tabbable-bordered .nav-tabs > li.active > a {
	background: rgb(255, 255, 255); border-color: rgb(221, 221, 221) rgb(221, 221, 221) transparent; padding: 6px 10px 8px; line-height: 20px; border-top-width: 0px; box-shadow: 0px -2px 0px #ddd; -webkit-box-shadow: 0 -2px 0 #ddd; -moz-box-shadow: 0 -2px 0 #ddd;
}
.tabbable-bordered.tabs-below .nav-tabs > li > a {
	margin-top: 2px;
}
.tabbable-bordered.tabs-below .nav-tabs > li.active > a {
	border-color: transparent rgb(221, 221, 221) rgb(221, 221, 221); padding: 9px 10px 6px; top: -1px; margin-top: 0px; border-bottom-width: 0px; position: relative;
}
.tabbable-bordered.tabs-left .nav-tabs > li {
	margin-right: 0px;
}
.tabbable-bordered.tabs-left .nav-tabs > li > a {
	margin-right: 2px;
}
.tabbable-bordered.tabs-left .nav-tabs > li.active > a {
	border-color: rgb(221, 221, 221) transparent rgb(221, 221, 221) rgb(221, 221, 221); padding: 6px 10px 6px 9px; right: -1px; margin-right: 0px; border-top-width: 1px; border-left-width: 0px; position: relative;
}
.tabs-left > .nav-tabs {
	float: left;
}
.tabs-left > .nav-tabs li {
	margin-bottom: 2px; float: none; display: block;
}
.tabs-right > .nav-tabs li {
	margin-bottom: 2px; float: none; display: block;
}
.tabs-left .tab-content {
	overflow: hidden;
}
.tabs-right .tab-content {
	overflow: hidden;
}
.tabbable-bordered.tabs-right .nav-tabs > li {
	margin-right: 0px;
}
.tabbable-bordered.tabs-right .nav-tabs > li > a {
	margin-left: 2px;
}
.tabbable-bordered.tabs-right .nav-tabs > li.active > a {
	border-color: rgb(221, 221, 221) rgb(221, 221, 221) rgb(221, 221, 221) transparent; padding: 6px 10px 6px 13px; left: -1px; margin-left: 0px; border-top-width: 1px; border-right-width: 0px; position: relative;
}
.tabs-right > .nav-tabs {
	float: right;
}
.nav-tabs > li > a:hover {
	border-color: transparent;
}
.nav-tabs > li > a:focus {
	border-color: transparent;
}
.tabs-below > .nav-tabs > li > a:hover {
	border-color: transparent;
}
.tabs-below > .nav-tabs > li > a:focus {
	border-color: transparent;
}
.tabs-left > .nav-tabs > li > a:hover {
	border-color: transparent;
}
.tabs-left > .nav-tabs > li > a:focus {
	border-color: transparent;
}
.tabs-right > .nav-tabs > li > a:hover {
	border-color: transparent;
}
.tabs-right > .nav-tabs > li > a:focus {
	border-color: transparent;
}
.panel-group .panel-default .panel-heading {
	background: rgb(248, 248, 248); border: currentColor; border-image: none;
}
.panel-group .panel + .panel {
	margin: 0px; border-top-color: currentColor; border-top-width: medium; border-top-style: none;
}
.panel-group .panel .panel-heading {
	padding: 0px; height: 34px;
}
.panel-group .panel .panel-heading .panel-title {
	font: 13px/34px Arial, Helvetica, sans-serif; font-size-adjust: none; font-stretch: normal;
}
.panel-group .panel .panel-heading .panel-title a {
	padding: 0px 25px 0px 15px; color: rgb(51, 51, 51); display: block; position: relative;
}
.panel-group .panel .panel-heading .panel-title a [class^='icon-'] {
	top: 10px; right: 10px; position: absolute;
}
.panel-group .panel .panel-heading .panel-title a [class*=' icon-'] {
	top: 10px; right: 10px; position: absolute;
}
.panel-group .sect_active .panel-heading a {
	font-weight: 700;
}
.panel-body-narrow {
	padding: 8px;
}
.twitter-typeahead {
	width: 100%; position: relative;
}
.twitter-typeahead .tt-query {
	left: 0px; top: 0px; width: 100%; margin-bottom: 0px; position: absolute;
}
.twitter-typeahead .tt-hint {
	left: 0px; top: 0px; width: 100%; margin-bottom: 0px; position: absolute;
}
.twitter-typeahead .tt-hint {
	padding: 5px 12px; border: 1px solid transparent; border-image: none; height: 30px; color: rgb(161, 161, 161); z-index: 1;
}
.twitter-typeahead .tt-query {
	z-index: 2;
}
.tt-dropdown-menu {
	border-width: 0px 1px 1px; border-style: solid; border-color: rgba(0, 0, 0, 0.2); padding: 0px; margin-top: 2px; min-width: 160px; box-shadow: 0px 2px 4px rgba(0,0,0,0.2); background-color: rgb(255, 255, 255); -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .2); -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}
.tt-suggestion {
	padding: 6px 14px; display: block; position: relative;
}
.tt-is-under-cursor.tt-suggestion {
	color: rgb(255, 255, 255); background-color: rgb(0, 129, 194);
}
.tt-is-under-cursor.tt-suggestion a {
	color: rgb(255, 255, 255);
}
.tt-is-under-cursor.tt-suggestion .text-muted {
	color: rgb(255, 255, 255);
}
.tt-suggestion p {
	margin: 0px; line-height: 16px;
}
.tt-dropdown-menu .sg_desc {
	font-size: 11px;
}
#top_header {
	background: rgb(242, 242, 242); padding: 10px 0px; height: 61px; border-bottom-color: rgb(225, 225, 225); border-bottom-width: 1px; border-bottom-style: solid;
}
#top_header .logo_main {
	height: 40px; line-height: 40px; display: inline-block;
}
#top_header .main_search {
	margin: 0px; padding: 5px 0px 0px; position: relative; z-index: 101;
}
#top_header .main_search input {
	padding-right: 32px;
}
#top_header .main_search button {
	border: currentColor; border-image: none; top: 8px; right: 3px; color: rgb(255, 255, 255); line-height: 20px; font-size: 14px; position: absolute; z-index: 10; cursor: pointer; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
#top_header .main_search .twitter-typeahead .tt-query {
	padding-left: 12px;
}
#top_header .main_search .twitter-typeahead .tt-hint {
	padding-left: 12px;
}
#top_header .main_search .tt-dropdown-menu {
	min-width: 100%;
}
.notification_dropdown {
	text-align: left; vertical-align: middle; display: inline-block; position: relative;
}
.notification_dropdown .notification_icon {
	color: rgb(51, 51, 51); display: block; position: relative;
}
.notification_dropdown .notification_icon span {
	top: -5px; right: -8px; display: block; position: absolute;
}
.notification_dropdown .dropdown-menu {
	width: 220px; margin-left: -102px;
}
.notification_dropdown .dropdown-menu::before {
	left: 50%; top: -7px; margin-left: -3px; border-right-color: transparent; border-bottom-color: rgba(0, 0, 0, 0.2); border-left-color: transparent; border-right-width: 7px; border-bottom-width: 7px; border-left-width: 7px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; display: inline-block; position: absolute; content: "";
}
.notification_dropdown .dropdown-menu::after {
	left: 50%; top: -6px; margin-left: -2px; border-right-color: transparent; border-bottom-color: rgb(247, 247, 247); border-left-color: transparent; border-right-width: 6px; border-bottom-width: 6px; border-left-width: 6px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; display: inline-block; position: absolute; content: "";
}
.notification_dropdown .dropdown-menu-wide {
	width: 280px; margin-left: -132px;
}
.notification_dropdown .dropdown_heading {
	background: rgb(247, 247, 247); padding: 0px 10px; height: 32px; line-height: 34px; font-weight: 700; border-bottom-color: rgb(227, 227, 227); border-bottom-width: 1px; border-bottom-style: solid;
}
.notification_dropdown .dropdown_content {
	padding: 10px;
}
.notification_dropdown .dropdown_footer {
	padding: 10px; border-top-color: rgb(227, 227, 227); border-top-width: 1px; border-top-style: solid;
}
.notification_dropdown .dropdown_footer .dropdown_actions a {
	padding: 0px 2px; color: rgb(51, 51, 51); font-size: 14px;
}
.notification_separator {
	background: rgb(225, 225, 225); margin: 0px 10px 0px 14px; top: 4px; width: 1px; height: 24px; text-indent: 9999px; vertical-align: middle; display: inline-block; position: relative;
}
.dropdown_items {
	margin: 0px; padding: 0px;
}
.dropdown_items li {
	list-style: none; margin: 0px; line-height: 14px; font-size: 11px; display: block; position: relative;
}
.dropdown_items li + li {
	padding-top: 5px; margin-top: 5px; border-top-color: rgb(227, 227, 227); border-top-width: 1px; border-top-style: dashed;
}
.dropdown_items li .indicator {
	top: 1px; right: 2px; color: rgb(203, 17, 17); font-size: 14px; position: absolute;
}
.dropdown_items li + li .indicator {
	top: 6px;
}
.dropdown_items h3 {
	margin: 0px 0px 2px; line-height: 16px; font-size: 12px; font-weight: 700;
}
.dropdown_items h3 .small_info {
	margin-left: 4px; float: right;
}
.dropdown_items p {
	margin: 0px;
}
.dropdown_items .small_info {
	color: rgb(153, 153, 153); font-weight: normal;
}
.dropdown_items .large_info {
	color: rgb(153, 153, 153); font-weight: normal;
}
.dropdown_items .large_info {
	padding: 2px 0px 0px;
}
#top_header .notification_icon {
	margin-top: 6px;
}
#top_header .user_info {
	display: block;
}
#top_header .user_info img {
	background: rgb(255, 255, 255); padding: 2px; border: 1px solid rgb(225, 225, 225); border-image: none; width: 38px; height: 38px;
}
#top_header .user_info .caret {
	margin-top: 4px; margin-left: 4px; vertical-align: middle;
}
#top_header .dropdown-menu {
	margin-top: 8px;
}
body.side_fixed {
	transition:padding-left 200ms ease-out; padding-left: 40px; -webkit-transition: padding-left 200ms ease-out; -moz-transition: padding-left 200ms ease-out; -o-transition: padding-left 200ms ease-out;
}
#side_fixed_nav {
	background: rgb(34, 34, 34); padding: 0px; transition:width 200ms ease-out; left: 0px; top: 0px; width: 42px; height: 100%; overflow: hidden; display: none; position: fixed; z-index: 102; -webkit-transition: width 200ms ease-out; -moz-transition: width 200ms ease-out; -o-transition: width 200ms ease-out;
}
#text_nav_side_fixed {
	margin: 0px; padding: 0px; width: 220px;
}
#text_nav_side_fixed li {
	list-style: none;
}
#text_nav_side_fixed a {
	color: rgba(255, 255, 255, 0.6); line-height: 36px; overflow: hidden; font-size: 13px; display: block; white-space: nowrap; position: relative; -ms-text-overflow: ellipsis;
}
#text_nav_side_fixed > li > a {
	padding-right: 28px;
}
#text_nav_side_fixed > li > a > span {
	margin: 0px 18px 0px 12px; color: rgb(255, 255, 255); font-size: 16px;
}
#text_nav_side_fixed a > i {
	top: 12px; right: 12px; position: absolute;
}
#text_nav_side_fixed ul {
	background: rgba(255, 255, 255, 0.05); margin: 0px; padding: 0px 0px 0px 10px; height: 0px; overflow: hidden;
}
#text_nav_side_fixed ul a {
	padding: 4px 0px 2px; line-height: 22px; text-indent: 14px; font-size: 12px;
}
#text_nav_side_fixed ul a:hover {
	color: rgba(255, 255, 255, 0.9);
}
#text_nav_side_fixed ul a i {
	top: 7px;
}
#text_nav_side_fixed > li {
	border-top-color: rgba(0, 0, 0, 0.3); border-top-width: 1px; border-top-style: solid; box-shadow: inset 0px 1px 0px rgba(255,255,255,0.1); -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
}
#text_nav_side_fixed > li:last-child {
	border-bottom-color: rgba(0, 0, 0, 0.3); border-bottom-width: 1px; border-bottom-style: solid; box-shadow: inset 0px 1px 0px rgba(255,255,255,0.1), 0px 1px 0px rgba(255,255,255,0.1); -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
}
#text_nav_side_fixed ul li + li {
	border-top-color: rgba(0, 0, 0, 0.1); border-top-width: 1px; border-top-style: solid; box-shadow: inset 0px 1px 0px rgba(255,255,255,0.05); -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .05);
}
#text_nav_side_fixed .link_active a {
	color: rgba(255, 255, 255, 0.8); position: relative;
}
#text_nav_side_fixed .link_active a::after {
	border-width: 8px; border-style: solid; border-color: rgba(255, 255, 255, 0) rgb(255, 255, 255) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0); border-image: none; top: 8px; width: 0px; height: 0px; right: 0px; position: absolute; content: "";
}
body.side_fixed_open {
	padding-left: 220px;
}
body.side_fixed_open #side_fixed_nav {
	width: 220px;
}
body.side_fixed_open #text_nav_side_fixed ul {
	height: auto;
}
body.side_fixed #side_fixed_nav {
	display: block;
}
.side_nav_actions {
	width: 220px; overflow: hidden;
}
.side_nav_actions #side_fixed_nav_toggle {
	margin: 0px; padding: 17px 13px 22px; color: rgb(255, 255, 255); font-size: 14px; float: left; display: block;
}
.side_nav_actions #toogle_nav_visible {
	border-color: rgb(51, 51, 51); margin: 17px 10px 0px 0px; float: right;
}
#top_navigation {
	background: rgb(249, 249, 249); padding: 8px 0px; border-bottom-color: rgb(225, 225, 225); border-bottom-width: 1px; border-bottom-style: solid; display: block; position: relative;
}
#mobile_navigation {
	background: rgb(249, 249, 249); padding: 12px 0px; border-bottom-color: rgb(225, 225, 225); border-bottom-width: 1px; border-bottom-style: solid; display: none;
}
.top_ico_nav {
	list-style: none; margin: 0px; padding: 0px;
}
.top_ico_nav li {
	margin: 4px 8px 4px 0px; float: left;
}
.top_ico_nav li a {
	background: rgb(255, 255, 255); padding: 12px 5px 10px; border: 1px solid rgb(225, 225, 225); border-image: none; height: 78px; text-align: center; color: rgb(51, 51, 51); display: block; position: relative; min-width: 100px;
}
.top_ico_nav li a i {
	line-height: 30px; display: inline-block;
}
.top_ico_nav li a:hover {
	background: rgb(248, 248, 248);
}
.top_ico_nav li.active a {
	background: rgb(248, 248, 248);
}
.top_ico_nav li a span.menu_label {
	padding-top: 4px; font-family: "Roboto", sans-serif; font-size: 12px; font-weight: 300; display: block;
}
.top_ico_nav .label {
	top: -4px; right: -4px; position: absolute;
}
.side_ico_nav {
	list-style: none; margin: 0px; padding: 0px; border-right-color: rgb(225, 225, 225); border-right-width: 1px; border-right-style: solid;
}
.side_ico_nav li a {
	border-width: 1px 0px 1px 3px; border-style: solid; border-color: transparent; padding: 10px 0px; text-align: center; color: rgb(51, 51, 51); display: block;
}
.side_ico_nav li + li a {
	margin-top: 2px;
}
.side_ico_nav li a i {
	color: rgb(153, 153, 153); font-size: 18px;
}
.side_ico_nav li a:hover i {
	color: rgb(153, 153, 153); font-size: 18px;
}
.side_ico_nav li a:hover {
	background: rgb(255, 255, 255); border-color: rgb(225, 225, 225) rgb(225, 225, 225) rgb(225, 225, 225) rgb(85, 85, 85); left: 1px; padding-right: 2px; border-left-width: 3px; border-left-style: solid; position: relative;
}
.side_ico_nav li.active a {
	background: rgb(255, 255, 255); border-color: rgb(225, 225, 225) rgb(225, 225, 225) rgb(225, 225, 225) rgb(85, 85, 85); left: 1px; padding-right: 2px; border-left-width: 3px; border-left-style: solid; position: relative;
}
.side_ico_nav li a:hover i {
	color: rgb(51, 51, 51);
}
.side_ico_nav li.active a i {
	color: rgb(51, 51, 51);
}
.sidebar_right .side_ico_nav {
	border-right-color: currentColor; border-left-color: rgb(225, 225, 225); border-right-width: medium; border-left-width: 1px; border-right-style: none; border-left-style: solid;
}
.sidebar_right .side_ico_nav li a {
	border-width: 1px 3px 1px 0px;
}
.sidebar_right .side_ico_nav li a:hover {
	left: -1px; padding-right: 0px; padding-left: 2px; border-right-color: rgb(85, 85, 85); border-left-color: currentColor; border-right-width: 3px; border-left-width: medium; border-right-style: solid; border-left-style: none; -webkit-box-shadow: 2px 0 0 0 #333;
}
.sidebar_right .side_ico_nav li.active a {
	left: -1px; padding-right: 0px; padding-left: 2px; border-right-color: rgb(85, 85, 85); border-left-color: currentColor; border-right-width: 3px; border-left-width: medium; border-right-style: solid; border-left-style: none; -webkit-box-shadow: 2px 0 0 0 #333;
}
.top_text_nav {
	margin: 0px; padding: 0px; position: relative;
}
.top_text_nav > li {
	list-style: none; margin-right: 8px; float: left; position: relative;
}
.top_text_nav > li:last-child {
	
}
.top_text_nav > li > a {
	background: rgb(255, 255, 255); font: 300 13px/30px Arial, Helvetica, sans-serif; padding: 0px 12px; border: 1px solid rgb(225, 225, 225); border-image: none; height: 32px; color: rgb(51, 51, 51); display: block; font-size-adjust: none; font-stretch: normal;
}
.top_text_nav ul {
	margin: 0px; padding: 0px; border: 1px solid rgb(221, 221, 221); display: none; position: absolute; z-index: 90; min-width: 202px; box-shadow: 0px 2px 4px rgba(0,0,0,0.15); -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .15); -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
}
.top_text_nav ul ul {
	border: 1px solid rgb(227, 227, 227); border-image: none; margin-top: -1px; margin-left: 0px; box-shadow: 2px 2px 3px rgba(0,0,0,0.1); -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, .1); -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, .1);
}
.top_text_nav > li > ul {
	border-top-width: 3px;
}
.top_text_nav ul li {
	list-style: none; position: relative;
}
.top_text_nav ul li a {
	background: rgb(255, 255, 255); padding: 5px 10px; color: rgb(51, 51, 51); border-bottom-color: rgb(225, 225, 225); border-bottom-width: 1px; border-bottom-style: dashed; display: block; white-space: nowrap;
}
.top_text_nav ul li:last-child > a {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.top_text_nav li li.active > a {
	background: rgb(244, 244, 244);
}
.top_text_nav > li ul li a:hover {
	background: rgb(244, 244, 244);
}
.top_text_nav > li.active > a.isTopParent {
	border-bottom-color: transparent !important;
}
.top_text_nav a.isTopParent {
	padding-right: 30px; position: relative;
}
.top_text_nav a.isParent {
	padding-right: 30px; position: relative;
}
.top_text_nav a.fNiv i {
	top: 50%; right: 8px; margin-top: -7px; display: block; position: absolute;
}
.top_text_nav a.isParent i {
	top: 50%; right: 8px; margin-top: -7px; display: block; position: absolute;
}
.top_text_nav a.isParent i {
	right: 10px; margin-top: -7px;
}
.side_text_nav {
	margin: 0px 0px 10px; padding: 0px;
}
.side_text_nav {
	list-style: none;
}
.side_text_nav li {
	list-style: none;
}
.side_text_nav > li {
	margin-bottom: 2px;
}
.side_text_nav > li + li {
	margin-top: 2px;
}
.side_text_nav li a {
	font: 300 13px/22px Arial, Helvetica, sans-serif; padding: 6px 10px; color: rgb(51, 51, 51); display: block; font-size-adjust: none; font-stretch: normal;
}
.side_text_nav > li > a {
	background: rgb(246, 246, 246); padding: 4px 10px; line-height: 24px; font-weight: 700;
}
.side_text_nav > li > a span {
	color: rgb(85, 85, 85); font-size: 14px; margin-right: 10px;
}
.side_text_nav > li ul {
	margin: 2px 0px 2px 10px; padding: 0px;
}
.side_text_nav > li ul a {
	line-height: 16px; font-size: 12px;
}
.side_text_nav > li li + li {
	margin-top: 2px;
}
.side_text_nav li .parent_active > a {
	background: rgb(248, 248, 248); font-weight: 700; border-top-color: rgb(225, 225, 225); border-bottom-color: rgb(225, 225, 225); border-top-width: 1px; border-bottom-width: 1px; border-top-style: dashed; border-bottom-style: dashed;
}
.side_text_nav a i {
	margin-top: 4px; margin-left: 2px; float: right;
}
.side_text_nav li li > a i {
	margin-top: 1px; margin-left: 2px; float: right;
}
.side_text_nav li li > a:hover {
	background-color: rgb(244, 244, 244);
}
.side_text_nav > li > a:hover {
	border-color: rgba(0, 0, 0, 0.2);
}
.side_text_nav > .parent_active > a {
	border-color: rgba(0, 0, 0, 0.2);
}
.side_text_nav li.link_active {
	position: relative;
}
.side_text_nav li.link_active > a::before {
	background: rgb(204, 204, 204); left: 0px; top: 20%; width: 2px; height: 60%; display: block; position: absolute; content: "";
}
.side_text_nav > li > a:hover {
	color: rgb(255, 255, 255);
}
.side_text_nav > .parent_active > a {
	color: rgb(255, 255, 255);
}
.side_text_nav > li > a:hover span {
	color: rgb(255, 255, 255);
}
.side_text_nav > .parent_active > a span {
	color: rgb(255, 255, 255);
}
.top_ico_nav li a:hover {
	border-color: rgba(0, 0, 0, 0.2); z-index: 100;
}
.top_ico_nav li.active a {
	border-color: rgba(0, 0, 0, 0.2); z-index: 100;
}
.top_text_nav > li > a:hover {
	border-color: rgba(0, 0, 0, 0.2); z-index: 100;
}
.top_text_nav > .active > a {
	border-color: rgba(0, 0, 0, 0.2); z-index: 100;
}
#breadcrumbs {
	margin: 16px 0px;
}
#breadcrumbs ul {
	margin: 0px 5px; padding: 0px; overflow: hidden;
}
#breadcrumbs li {
	list-style: none; float: left;
}
#breadcrumbs li a {
	font-size: 12px; display: block; position: relative;
}
#breadcrumbs li span {
	font-size: 12px; display: block; position: relative;
}
#breadcrumbs li a::after {
	border-width: 4px; border-style: solid; border-color: transparent transparent transparent rgb(136, 136, 136); border-image: none; top: 4px; width: 0px; height: 0px; right: -19px; position: absolute; content: "";
}
#breadcrumbs li a {
	margin-right: 24px;
}
#wrapper_all {
	height: auto; min-height: 100%;
}
#main_content_outer {
	width: 100%; float: left;
}
#main_content {
	margin: 0px 0px 0px 240px; min-height: 1px;
}
.main_section {
	margin-top: 16px;
}
#sidebar {
	margin: 0px 0px 0px -100%; width: 220px; float: left; position: relative;
}
.sidebar_right #sidebar {
	margin: 0px 0px 0px -220px; float: right;
}
.sidebar_right #main_content {
	margin: 0px 240px 0px 0px;
}
.sidebar_narrow #sidebar {
	width: 70px;
}
.sidebar_narrow #main_content {
	margin: 0px 0px 0px 90px;
}
.sidebar_right.sidebar_narrow #sidebar {
	margin: 0px 0px 0px -70px;
}
.sidebar_right.sidebar_narrow #main_content {
	margin: 0px 90px 0px 0px;
}
.panel {
	margin-bottom: 0px;
}
.panel-default {
	border-color: rgb(211, 211, 211);
}
.panel + .panel {
	margin-top: 30px;
}
.panel .panel-heading {
	padding: 0px 10px; height: 36px;
}
.panel .panel-heading .panel-title {
	font: 300 15px/34px "Roboto", sans-serif; margin: 0px; font-size-adjust: none; font-stretch: normal;
}
.panel .panel-heading .form-control {
	padding: 3px 6px; width: 180px; height: 26px; margin-top: 4px;
}
.panel .panel-heading input[type=text] + select {
	margin-right: 10px;
}
.panel .panel-heading select + input[type=text] {
	margin-right: 10px;
}
.panel .panel-heading + .table tbody tr:first-child td {
	border-top-color: currentColor; border-top-width: medium; border-top-style: none;
}
.panel .panel-heading + .table thead tr:first-child th {
	border-top-color: currentColor; border-top-width: medium; border-top-style: none;
}
.panel .panel-heading > .btn-group {
	margin-top: 2px;
}
.panel .panel-heading > .btn {
	margin-top: 2px;
}
.panel .panel-heading > .btn-group-sm {
	margin-top: 5px;
}
.panel .panel-heading > .btn-sm {
	margin-top: 5px;
}
.panel-default > .panel-heading {
	background: rgb(232, 232, 232); border-bottom-color: rgb(211, 211, 211); border-bottom-width: 1px; border-bottom-style: solid;
}
.panel_controls {
	background: rgb(250, 250, 250); padding: 10px; border-bottom-color: rgb(225, 225, 225); border-bottom-width: 1px; border-bottom-style: solid;
}
.panel_alt {
	background: rgb(247, 247, 247); border: 1px solid rgb(211, 211, 211); border-image: none;
}
.panel_alt .panel_alt_body {
	padding: 20px;
}
.panel_alt .panel_alt_title {
	margin-bottom: 4px;
}
.panel_alt .panel_alt_title i {
	line-height: 30px; font-size: 32px;
}
.panel_alt .panel_alt_title span {
	font: 300 24px/28px "Roboto", sans-serif; padding-left: 10px; vertical-align: 6px; font-size-adjust: none; font-stretch: normal;
}
.box_stat {
	background: rgb(247, 247, 247); border: 1px solid rgb(211, 211, 211); border-image: none; text-align: center; position: relative; min-height: 60px;
}
.box_stat h4 {
	font: 300 22px/24px "Roboto", sans-serif; margin: 8px 0px 2px; font-size-adjust: none; font-stretch: normal;
}
.box_stat small {
	color: rgb(153, 153, 153); font-size: 11px; display: block;
}
.box_stat .img_ind {
	top: 0px; width: 38px; height: 100%; right: 0px; border-left-color: rgb(211, 211, 211); border-left-width: 1px; border-left-style: solid; display: block; position: absolute;
}
.box_pos .img_ind {
	background: url("../img/arrow_pos.png") no-repeat center rgb(238, 238, 238);
}
.box_neg .img_ind {
	background: url("../img/arrow_neg.png") no-repeat center rgb(238, 238, 238);
}
.box_pos {
	padding-right: 39px;
}
.box_neg {
	padding-right: 39px;
}
.peity_chart {
	padding-right: 47px;
}
.box_stat .peity_wrapper {
	background: rgb(238, 238, 238); top: 0px; width: 46px; height: 100%; text-align: center; right: 0px; border-left-color: rgb(225, 225, 225); border-left-width: 1px; border-left-style: solid; display: block; position: absolute;
}
.box_stat .peity_wrapper .peity_bar_up {
	visibility: hidden;
}
.box_stat .peity_wrapper .peity_bar_down {
	visibility: hidden;
}
.box_stat .peity_wrapper .peity {
	margin-top: 16px;
}
.stat_wide h3 {
	font: 300 15px/18px "Roboto", sans-serif; margin: 4px 0px 8px; font-size-adjust: none; font-stretch: normal;
}
.stat_wide p {
	font-size: 11px; margin-bottom: 0px;
}
.box_ico {
	padding: 0px 20px; text-align: left; margin-left: 50px;
}
.box_stat .stat_ico {
	border: 1px solid rgb(246, 246, 246); border-image: none; left: -51px; top: -1px; width: 51px; height: auto; text-align: center; right: 0px; bottom: -1px; display: block; position: absolute;
}
.stat_ico_1.stat_ico {
	border-color: rgb(8, 146, 205); background-color: rgb(8, 146, 205);
}
.stat_ico_2.stat_ico {
	border-color: rgb(123, 175, 66); background-color: rgb(123, 175, 66);
}
.stat_ico_3.stat_ico {
	border-color: rgb(239, 169, 31); background-color: rgb(239, 169, 31);
}
.stat_ico_4.stat_ico {
	border-color: rgb(240, 75, 81); background-color: rgb(240, 75, 81);
}
.box_stat .stat_ico i {
	top: 10px; color: rgb(255, 255, 255); font-size: 28px; position: relative;
}
.box_stat_circular {
	background: rgb(247, 247, 247); height: 90px; overflow: hidden; position: relative;
}
.box_stat_circular_a {
	width: 50%; height: 90px; float: left;
}
.box_stat_circular_b {
	width: 50%; height: 90px; float: left;
}
.box_stat_circular_middle {
	background: rgb(255, 255, 255); border-radius: 40px; border: 1px solid rgb(211, 211, 211); border-image: none; left: 50%; top: 5px; width: 80px; height: 80px; margin-left: -40px; position: absolute; -webkit-border-radius: 40px; -moz-border-radius: 40px;
}
.box_stat_circular_middle .easy_chart {
	margin: 4px 0px 0px 4px;
}
.box_stat_circular_a {
	background: rgb(238, 238, 238); padding: 20px 50px 0px 10px; border: 1px solid rgb(211, 211, 211); border-image: none; text-align: center;
}
.box_stat_circular_b {
	border-width: 1px 1px 1px 0px; border-style: solid; border-color: rgb(211, 211, 211); padding: 10px 10px 10px 50px;
}
.box_stat_circular h4 {
	font: 300 24px/28px "Roboto", sans-serif; margin: 0px 0px 2px; font-size-adjust: none; font-stretch: normal;
}
.box_stat_circular p {
	font: 300 12px/17px "Roboto", sans-serif; font-size-adjust: none; font-stretch: normal;
}
.box_stat_circular small {
	color: rgb(153, 153, 153); font-size: 11px; display: block;
}
.todo-list {
	overflow: hidden;
}
.todo-list h4 {
	background: rgb(246, 246, 246); margin: 0px; padding: 2px 10px; line-height: 24px; font-size: 11px; font-weight: 700;
}
.todo-list ul {
	margin: 8px 14px 14px; padding: 0px; min-height: 20px;
}
.todo-list li {
	background: rgb(255, 255, 255); list-style: none; margin: 0px 2px; padding: 4px 8px; position: relative;
}
.todo-list li + li {
	border-top-color: rgb(239, 239, 239); border-top-width: 1px; border-top-style: solid;
}
.todo-list li::before {
	background: none; top: 10%; width: 3px; height: 80%; margin-left: -8px; position: absolute; content: "";
}
.todo-list li.high-pr::before {
	background: rgb(198, 15, 19);
}
.todo-list li.medium-pr::before {
	background: rgb(242, 170, 0);
}
.todo-list li.low-pr::before {
	background: rgb(93, 164, 35);
}
.todo-list li.completed {
	color: rgb(136, 136, 136); text-decoration: line-through;
}
.todo-list li input {
	margin: 0px 4px; vertical-align: -2px;
}
.chart_a {
	height: 320px;
}
.chart_b {
	height: 220px;
}
.chart_a {
	width: 100%; overflow: hidden;
}
.chart_b {
	width: 100%; overflow: hidden;
}
.chart_wrapper {
	padding: 10px;
}
.flot_label {
	padding: 2px 6px; text-align: center; color: white; font-size: 10px;
}
#flotTip {
	background: rgb(41, 41, 41); padding: 2px 6px; color: rgb(255, 255, 255); font-size: 11px;
}
.legendLabel + .legendColorBox {
	padding-left: 10px;
}
.axisLabel {
	text-align: center; font-size: 12px; position: absolute;
}
.yaxisLabel {
	transform-origin: 0% 0%; left: 2px; top: 50%; transform: rotate(-90deg); -webkit-transform: rotate(-90deg); -webkit-transform-origin: 0 0;
}
.easyPieChart {
	text-align: center; position: relative;
}
.easyPieChart canvas {
	left: 0px; top: 0px; position: absolute;
}
.easyPieChart i {
	width: auto !important; color: rgb(68, 68, 68); padding-top: 20px; font-size: 22px; display: block;
}
.easyPieChart span {
	color: rgb(153, 153, 153); font-size: 13px; display: block;
}
.combobox {
	margin: 0px;
}
.combobox .input-group-btn {
	position: static;
}
.datepicker {
	padding: 1px !important; margin-top: 1px;
}
.datepicker {
	border-radius: 0px; -webkit-border-radius: 0; -moz-border-radius: 0;
}
.datepicker td {
	border-radius: 0px; -webkit-border-radius: 0; -moz-border-radius: 0;
}
.datepicker th {
	border-radius: 0px; -webkit-border-radius: 0; -moz-border-radius: 0;
}
.datepicker table tr td span {
	border-radius: 0px; -webkit-border-radius: 0; -moz-border-radius: 0;
}
.datepicker table tr td.today {
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); background-image: -ms-linear-gradient(rgb(255, 215, 110), rgb(255, 215, 110)); background-repeat: repeat-x; background-color: rgb(255, 215, 110);
}
.datepicker table tr td.today:hover {
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); background-image: -ms-linear-gradient(rgb(255, 215, 110), rgb(255, 215, 110)); background-repeat: repeat-x; background-color: rgb(255, 215, 110);
}
.datepicker table tr td.disabled.today {
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); background-image: -ms-linear-gradient(rgb(255, 215, 110), rgb(255, 215, 110)); background-repeat: repeat-x; background-color: rgb(255, 215, 110);
}
.datepicker table tr td.disabled.today:hover {
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); background-image: -ms-linear-gradient(rgb(255, 215, 110), rgb(255, 215, 110)); background-repeat: repeat-x; background-color: rgb(255, 215, 110);
}
.datepicker table tr td.today:hover {
	background-color: rgb(255, 215, 110);
}
.datepicker table tr td.today:hover {
	background-color: rgb(255, 215, 110);
}
.datepicker table tr td.disabled.today:hover {
	background-color: rgb(255, 215, 110);
}
.datepicker table tr td.disabled.today:hover {
	background-color: rgb(255, 215, 110);
}
.datepicker table tr td.today:active {
	background-color: rgb(255, 215, 110);
}
.datepicker table tr td.today:hover:active {
	background-color: rgb(255, 215, 110);
}
.datepicker table tr td.disabled.today:active {
	background-color: rgb(255, 215, 110);
}
.datepicker table tr td.disabled.today:hover:active {
	background-color: rgb(255, 215, 110);
}
.datepicker table tr td.active.today {
	background-color: rgb(255, 215, 110);
}
.datepicker table tr td.active.today:hover {
	background-color: rgb(255, 215, 110);
}
.datepicker table tr td.active.disabled.today {
	background-color: rgb(255, 215, 110);
}
.datepicker table tr td.active.disabled.today:hover {
	background-color: rgb(255, 215, 110);
}
.datepicker table tr td.disabled.today {
	background-color: rgb(255, 215, 110);
}
.datepicker table tr td.disabled.today:hover {
	background-color: rgb(255, 215, 110);
}
.datepicker table tr td.disabled.disabled.today {
	background-color: rgb(255, 215, 110);
}
.datepicker table tr td.disabled.disabled.today:hover {
	background-color: rgb(255, 215, 110);
}
.datepicker table tr td[disabled].today {
	background-color: rgb(255, 215, 110);
}
.datepicker table tr td[disabled].today:hover {
	background-color: rgb(255, 215, 110);
}
.datepicker table tr td[disabled].disabled.today {
	background-color: rgb(255, 215, 110);
}
.datepicker table tr td[disabled].disabled.today:hover {
	background-color: rgb(255, 215, 110);
}
.datepicker table tr td.today:active {
	
}
.datepicker table tr td.today:hover:active {
	
}
.datepicker table tr td.disabled.today:active {
	
}
.datepicker table tr td.disabled.today:hover:active {
	
}
.datepicker table tr td.active.today {
	
}
.datepicker table tr td.active.today:hover {
	
}
.datepicker table tr td.active.disabled.today {
	
}
.datepicker table tr td.active.disabled.today:hover {
	
}
.datepicker table tr td.selected {
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); color: rgb(255, 255, 255); text-shadow: 0px -1px 0px rgba(0,0,0,0.25); background-image: -ms-linear-gradient(rgb(179, 179, 179), rgb(128, 128, 128)); background-repeat: repeat-x; background-color: rgb(158, 158, 158);
}
.datepicker table tr td.selected:hover {
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); color: rgb(255, 255, 255); text-shadow: 0px -1px 0px rgba(0,0,0,0.25); background-image: -ms-linear-gradient(rgb(179, 179, 179), rgb(128, 128, 128)); background-repeat: repeat-x; background-color: rgb(158, 158, 158);
}
.datepicker table tr td.disabled.selected {
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); color: rgb(255, 255, 255); text-shadow: 0px -1px 0px rgba(0,0,0,0.25); background-image: -ms-linear-gradient(rgb(179, 179, 179), rgb(128, 128, 128)); background-repeat: repeat-x; background-color: rgb(158, 158, 158);
}
.datepicker table tr td.disabled.selected:hover {
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); color: rgb(255, 255, 255); text-shadow: 0px -1px 0px rgba(0,0,0,0.25); background-image: -ms-linear-gradient(rgb(179, 179, 179), rgb(128, 128, 128)); background-repeat: repeat-x; background-color: rgb(158, 158, 158);
}
.datepicker table tr td.active {
	color: rgb(255, 255, 255); filter: none; text-shadow: none;
}
.datepicker table tr td.active:hover {
	color: rgb(255, 255, 255); filter: none; text-shadow: none;
}
.datepicker table tr td.disabled.active {
	color: rgb(255, 255, 255); filter: none; text-shadow: none;
}
.datepicker table tr td.disabled.active:hover {
	color: rgb(255, 255, 255); filter: none; text-shadow: none;
}
.datepicker table tr td span.active {
	color: rgb(255, 255, 255); filter: none; text-shadow: none;
}
.datepicker table tr td span.active:hover {
	color: rgb(255, 255, 255); filter: none; text-shadow: none;
}
.datepicker table tr td span.disabled.active {
	color: rgb(255, 255, 255); filter: none; text-shadow: none;
}
.datepicker table tr td span.disabled.active:hover {
	color: rgb(255, 255, 255); filter: none; text-shadow: none;
}
.datepicker-inline {
	border: 1px solid rgb(192, 192, 192); border-image: none; width: 215px;
}
.bootstrap-timepicker {
	position: relative;
}
.bootstrap-timepicker input + i {
	top: 8px; right: 8px; position: absolute; pointer-events: none;
}
.bootstrap-timepicker-widget a.btn {
	border-radius: 0px; -webkit-border-radius: 0; -moz-border-radius: 0;
}
.bootstrap-timepicker-widget input {
	border-radius: 0px; -webkit-border-radius: 0; -moz-border-radius: 0;
}
.bootstrap-timepicker-widget table td a:hover {
	border-radius: 0px; -webkit-border-radius: 0; -moz-border-radius: 0;
}
.bootstrap-timepicker-widget table td {
	height: 20px;
}
.bootstrap-timepicker-widget table td a {
	padding: 2px 0px;
}
.dropdown-menu.bootstrap-timepicker-widget {
	max-width: 180px;
}
.modal.bootstrap-timepicker-widget {
	margin: 0px; width: auto;
}
.modal.bootstrap-timepicker-widget .modal-dialog {
	width: 240px;
}
.bootstrap-timepicker-widget .modal-content {
	padding: 0px;
}
.bootstrap-timepicker .input-group-addon {
	cursor: pointer;
}
div[class*='icheckbox'] {
	vertical-align: middle; display: inline-block;
}
div[class*='iradio'] {
	vertical-align: middle; display: inline-block;
}
.icheck_label {
	margin: 0px 0px 0px 5px; font-size: 14px; vertical-align: middle; display: inline;
}
#icheck_colors {
	margin: 0px; padding: 0px;
}
#icheck_colors li {
	width: 20px; height: 20px; margin-right: 5px; display: inline-block; position: relative; cursor: pointer;
}
#icheck_colors li.active_color::before {
	border-width: 4px; border-style: solid; border-color: transparent transparent rgb(0, 0, 0); border-image: none; left: 6px; width: 0px; height: 0px; bottom: -10px; display: block; position: absolute; content: "";
}
.noUiSlider {
	margin: 16px 0px;
}
.noUi-base {
	height: 20px;
}
.noUi-horizontal {
	width: 100%;
}
.noUi-background {
	background: rgb(229, 229, 229); border: currentColor; border-image: none;
}
.noUi-handle {
	background: rgb(119, 119, 119); margin: -7px 0px 0px -9px; border-radius: 0px; border: 1px solid rgb(255, 255, 255); border-image: none; width: 18px; height: 34px; -webkit-border-radius: 0; -moz-border-radius: 0;
}
.noUi-active {
	background: rgb(51, 51, 51);
}
.noUi-active::after {
	display: none;
}
[disabled].noUi-target .noUi-base {
	background: rgb(229, 229, 229); opacity: 0.7;
}
.multiupload .progress {
	background: rgb(255, 255, 255); margin: 0px;
}
.multiupload .progress + .progress-extended {
	margin-top: 10px;
}
.table .upload_img {
	width: 88px;
}
.table .download_img {
	width: 88px;
}
.table .upload_img .img-thumbnail {
	height: auto; text-align: center; min-height: 52px; max-height: 88px;
}
.table .download_img .img-thumbnail {
	height: auto; text-align: center; min-height: 52px; max-height: 88px;
}
.table .download_img .img-thumbnail a {
	display: block;
}
.table .upload_info p {
	margin: 0px;
}
.table .download_info p {
	margin: 0px;
}
.table .upload_info .name {
	font-size: 13px; font-weight: 700;
}
.table .download_info .name {
	font-size: 13px; font-weight: 700;
}
.table .upload_info .size {
	color: rgb(153, 153, 153); font-size: 11px; margin-bottom: 12px;
}
.table .download_info .size {
	color: rgb(153, 153, 153); font-size: 11px; margin-bottom: 12px;
}
.table .upload_actions {
	text-align: center; vertical-align: middle;
}
.table .download_actions {
	text-align: center; vertical-align: middle;
}
.template-upload tr {
	overflow: hidden;
}
.template-download tr {
	overflow: hidden;
}
.btn-file {
	overflow: hidden; vertical-align: middle; position: relative;
}
.btn-file > input {
	margin: 0px; top: 0px; right: 0px; font-size: 23px; position: absolute; cursor: pointer; direction: ltr; opacity: 0; transform: translate(-300px, 0px) scale(4);
}
.btn-file + .fileupload-preview {
	padding: 0px 5px 0px 10px; font-weight: 700; vertical-align: middle;
}
.fileupload {
	margin-bottom: 9px;
}
.fileupload .uneditable-input {
	margin-bottom: 0px; vertical-align: middle; display: inline-block; cursor: text;
}
.fileupload .img-thumbnail {
	text-align: center; overflow: hidden; margin-bottom: 5px; vertical-align: middle; display: inline-block;
}
.fileupload .img-thumbnail > img {
	margin-right: auto; margin-left: auto; max-height: 100%;
}
.fileupload .btn {
	vertical-align: middle;
}
.fileupload-exists .fileupload-new {
	display: none;
}
.fileupload-new .fileupload-exists {
	display: none;
}
.fileupload-inline .fileupload-controls {
	display: inline;
}
.fileupload-new .input-append .btn-file {
	border-radius: 0px 3px 3px 0px; -webkit-border-radius: 0 3px 3px 0; -moz-border-radius: 0 3px 3px 0;
}
.thumbnail-borderless .img-thumbnail {
	padding: 0px; border-radius: 0px; border: currentColor; border-image: none; box-shadow: none; -webkit-box-shadow: none; -webkit-border-radius: 0; -moz-border-radius: 0; -moz-box-shadow: none;
}
.thumbnail-borderless.fileupload-new .im-thumbnail {
	border: 1px solid rgb(221, 221, 221); border-image: none;
}
.fileupload .fileupload-preview + .close {
	vertical-align: middle;
}
.warning.control-group .fileupload .uneditable-input {
	border-color: rgb(164, 126, 60); color: rgb(164, 126, 60);
}
.warning.control-group .fileupload .fileupload-preview {
	color: rgb(164, 126, 60);
}
.warning.control-group .fileupload .img-thumbnail {
	border-color: rgb(164, 126, 60);
}
.error.control-group .fileupload .uneditable-input {
	border-color: rgb(185, 74, 72); color: rgb(185, 74, 72);
}
.error.control-group .fileupload .fileupload-preview {
	color: rgb(185, 74, 72);
}
.error.control-group .fileupload .img-thumbnail {
	border-color: rgb(185, 74, 72);
}
.success.control-group .fileupload .uneditable-input {
	border-color: rgb(70, 136, 71); color: rgb(70, 136, 71);
}
.success.control-group .fileupload .fileupload-preview {
	color: rgb(70, 136, 71);
}
.success.control-group .fileupload .img-thumbnail {
	border-color: rgb(70, 136, 71);
}
.wizard {
	width: 100%; overflow: hidden;
}
.wizard ol {
	list-style: none;
}
.wizard ul {
	list-style: none;
}
.wizard > .steps ol {
	margin: 0px; padding: 0px;
}
.wizard > .steps ul {
	margin: 0px; padding: 0px;
}
.wizard .audible {
	left: -999em; position: absolute;
}
.wizard > .steps {
	width: 100%;
}
.wizard > .steps ul {
	margin: 0px 0px 10px; overflow: hidden; padding-bottom: 10px; border-bottom-color: rgb(227, 227, 227); border-bottom-width: 1px; border-bottom-style: solid;
}
.wizard > .steps li {
	margin-right: 20px; float: left; position: relative; z-index: 10;
}
.wizard > .steps li:last-child {
	margin-right: 0px;
}
.wizard > .steps a {
	padding: 0px 5px; text-align: center; color: rgb(153, 153, 153); line-height: 40px; font-family: "Roboto", sans-serif; font-size: 14px; font-weight: 300; display: block; min-width: 80px;
}
.wizard > .steps .number {
	background: rgb(232, 232, 232); border: 1px solid rgb(210, 210, 210); border-image: none; width: 34px; height: 34px; line-height: 34px; font-size: 16px; margin-right: 5px; display: inline-block;
}
.wizard > .steps {
	float: left;
}
.wizard > .steps .current a {
	color: rgb(51, 51, 51);
}
.wizard > .steps .done a {
	color: rgb(51, 51, 51);
}
.wizard > .steps .done .number {
	background: rgb(255, 255, 255);
}
.wizard > .steps .current a {
	cursor: default;
}
.wizard > .steps .disabled a {
	cursor: default;
}
.wizard > .steps .error .number {
	background: rgb(255, 255, 255) !important; border-color: rgb(204, 0, 0) !important; color: rgb(204, 0, 0) !important;
}
.wizard > .steps .error a {
	color: rgb(204, 0, 0) !important;
}
.wizard > .content {
	transition:0.3s ease-out; width: 100%; overflow: hidden; position: relative; -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.wizard > .content > .title {
	left: -999em; position: absolute;
}
.wizard > .content > .body {
	padding: 20px; width: 100%; float: left; position: absolute;
}
.wizard > .content .step_info h4 {
	font-family: "Roboto", sans-serif; font-size: 20px; font-weight: 300;
}
.wizard > .content .step_info p {
	color: rgb(102, 102, 102); font-size: 12px; margin-right: 10px;
}
.wizard > .content > .body > iframe {
	border: 0px currentColor; border-image: none; width: 100%; height: 200px;
}
.wizard > .actions {
	width: 100%; padding-top: 10px; margin-top: 10px; border-top-color: rgb(227, 227, 227); border-top-width: 1px; border-top-style: solid;
}
.wizard > .actions [aria-disabled='true'] a {
	color: rgb(170, 170, 170);
}
.wizard > .actions ul {
	margin: 0px; padding: 0px 5px; overflow: hidden;
}
.wizard > .actions .prev_step {
	float: left;
}
.wizard > .actions .next_step {
	float: right;
}
.wizard > .actions .last_step {
	float: right;
}
.panel .cke_chrome {
	border: currentColor !important; border-image: none !important;
}
.contact_list h4 {
	background: rgb(248, 248, 248); font: 300 13px/30px "Roboto", sans-serif; margin: 0px; padding: 0px 10px; height: 30px; text-transform: uppercase; border-bottom-color: rgb(225, 225, 225); border-bottom-width: 1px; border-bottom-style: solid; cursor: pointer; font-size-adjust: none; font-stretch: normal;
}
.contact_list h4 i {
	top: 10px; right: 4px; float: right; position: relative;
}
.contact_list ul {
	margin: 0px; padding: 0px;
}
.contact_list ul li {
	list-style: none;
}
.contact_list ul ul {
	padding: 0px 0px 1%; overflow: hidden; border-bottom-color: rgb(225, 225, 225); border-bottom-width: 1px; border-bottom-style: solid;
}
.contact_list > ul > li:last-child h4 {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.contact_list > ul > li.last_visible h4 {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.contact_list > ul > li:last-child ul {
	border-top-color: rgb(225, 225, 225); border-bottom-color: currentColor; border-top-width: 1px; border-bottom-width: medium; border-top-style: solid; border-bottom-style: none;
}
.contact_list > ul > li.last_visible ul {
	border-top-color: rgb(225, 225, 225); border-bottom-color: currentColor; border-top-width: 1px; border-bottom-width: medium; border-top-style: solid; border-bottom-style: none;
}
.contact_list ul ul li {
	margin: 1% 0px 0px 1%; padding: 10px; border: 1px dashed rgb(225, 225, 225); border-image: none; width: 48%; float: left; position: relative;
}
.contact_list .contact_list_username {
	margin: 0px 0px 6px;
}
.contact_list .contact_list_username a {
	font: 300 15px/18px "Roboto", sans-serif; font-size-adjust: none; font-stretch: normal;
}
.contact_list .contact_list_info {
	margin: 0px;
}
.contact_list_no_result {
	padding: 20px 20px 0px; display: none;
}
.editable-error-block {
	margin-top: 2px;
}
.elfinder {
	border-radius: 0px; -webkit-border-radius: 0; -moz-border-radius: 0;
}
.elfinder-toolbar {
	border-radius: 0px; -webkit-border-radius: 0; -moz-border-radius: 0;
}
.elfinder-statusbar {
	border-radius: 0px; -webkit-border-radius: 0; -moz-border-radius: 0;
}
.elfinder-cwd-file-wrapper {
	border-radius: 0px; -webkit-border-radius: 0; -moz-border-radius: 0;
}
.elfinder-cwd-view-icons .elfinder-cwd-filename {
	border-radius: 0px; -webkit-border-radius: 0; -moz-border-radius: 0;
}
.elfinder-cwd-icon {
	border-radius: 0px; -webkit-border-radius: 0; -moz-border-radius: 0;
}
.elfinder-navbar-dir {
	border-radius: 0px; -webkit-border-radius: 0; -moz-border-radius: 0;
}
.elfinder .elfinder-button-search input {
	border-radius: 0px; -webkit-border-radius: 0; -moz-border-radius: 0;
}
.panel .elfinder {
	border: currentColor; border-image: none;
}
.elfinder .elfinder-button-search input {
	margin: 0px;
}
.elfinder-cwd-view-icons .elfinder-cwd-file-wrapper {
	padding: 4px; width: 56px; height: auto;
}
.elfinder .elfinder-navbar {
	font-size: 12px;
}
.elfinder-cwd-view-icons .elfinder-cwd-filename {
	font-size: 12px;
}
.elfinder-cwd-view-list td {
	font-size: 12px;
}
.elfinder .elfinder-button {
	width: 24px; height: 24px;
}
.elfinder-buttonset {
	border-radius: 0px; -webkit-border-radius: 0; -moz-border-radius: 0;
}
:first-child.elfinder-button {
	border-radius: 0px; -webkit-border-radius: 0; -moz-border-radius: 0;
}
.elfinder .elfinder-button-search {
	width: 200px; height: auto;
}
.elfinder .elfinder-button-search input {
	width: 200px; height: 26px;
}
.elfinder-statusbar {
	height: 19px;
}
.gal_lay_change {
	margin: 7px 0px 0px 10px; font-size: 14px; display: inline-block; cursor: pointer;
}
.galMix {
	margin: 0px; padding: 20px; min-height: 110px;
}
.galMix li {
	list-style: none;
}
.galMix .gal_sort_list {
	display: none;
}
.gal_no_result {
	display: none;
}
.list.galMix .mix {
	background: rgb(255, 255, 255); padding: 14px 0px; width: 100%; overflow: hidden; border-bottom-color: rgb(215, 215, 215); border-bottom-width: 1px; border-bottom-style: solid; display: none; opacity: 0;
}
.list.galMix .mix:hover {
	background: rgb(248, 248, 248);
}
.list.galMix .mix .img_wrapper {
	width: 20%; text-align: center; float: left; min-height: 10px;
}
.list.galMix .gal_sort_list .img_wrapper {
	width: 20%; text-align: center; float: left; min-height: 10px;
}
.list.galMix .mix .img_wrapper img {
	display: inline-block; max-height: 100px; max-width: 100%;
}
.list.galMix .mix .meta {
	padding: 0px 10px; width: 20%; text-align: center; font-size: 13px; float: left;
}
.list.galMix .gal_sort_list .meta {
	padding: 0px 10px; width: 20%; text-align: center; font-size: 13px; float: left;
}
.list.galMix .mix .name.meta {
	text-align: left;
}
.list.galMix .gal_sort_list .name.meta {
	text-align: left;
}
.list.galMix .mix .name h2 {
	font: 300 16px/20px "Roboto", sans-serif; margin: 4px 0px 2px; overflow: hidden; font-size-adjust: none; font-stretch: normal;
}
.grid.galMix {
	font-size: 0px;
}
.grid.galMix .mix {
	padding: 8px; width: 25%; text-align: center; vertical-align: middle; display: none; position: relative; opacity: 0;
}
.grid.galMix .mix .meta {
	display: none;
}
.grid.galMix .mix .img_wrapper {
	overflow: hidden; display: inline-block; position: relative; max-width: 100%;
}
.grid.galMix .mix .img_wrapper img {
	transition:transform 0.4s; max-width: 100%; -webkit-transition: -webkit-transform 0.4s; -moz-transition: -moz-transform 0.4s;
}
.fail .gal_no_result {
	font: 300 20px/24px "Roboto", sans-serif; padding: 40px 20px; text-align: center; display: block; font-size-adjust: none; font-stretch: normal;
}
.list.galMix .gal_sort_list {
	background: rgb(242, 242, 242); border-width: 1px 0px; border-style: solid; border-color: rgb(225, 225, 225); height: 28px; line-height: 28px; display: block;
}
.fail.galMix .gal_sort_list {
	display: none;
}
.mix_description {
	background: rgb(34, 34, 34); margin: 0px 3px; padding: 8px 16px; left: 0px; height: 50px; text-align: left; right: 0px; bottom: 3px; color: rgb(255, 255, 255); position: absolute;
}
.mix_description span {
	display: block;
}
.mix_description_title {
	line-height: 16px; padding-bottom: 2px; font-size: 13px;
}
.mix_description_tags {
	line-height: 14px; font-size: 11px;
}
input.parsley-error {
	background: rgb(255, 242, 242) !important; border: 1px solid rgb(204, 0, 0) !important; border-image: none !important;
}
textarea.parsley-error {
	background: rgb(255, 242, 242) !important; border: 1px solid rgb(204, 0, 0) !important; border-image: none !important;
}
select.parsley-error {
	background: rgb(255, 242, 242) !important; border: 1px solid rgb(204, 0, 0) !important; border-image: none !important;
}
.parsley-error .ms-selection .ms-list {
	background: rgb(255, 242, 242) !important; border: 1px solid rgb(204, 0, 0) !important; border-image: none !important;
}
.parsley-error .select2-container-multi .select2-choices {
	background: rgb(255, 242, 242) !important; border: 1px solid rgb(204, 0, 0) !important; border-image: none !important;
}
.parsley-error .input_validate {
	background: rgb(255, 242, 242) !important; border: 1px solid rgb(204, 0, 0) !important; border-image: none !important;
}
.parsley-error-list {
	margin: 0px; padding: 5px 0px 0px;
}
.parsley-error-list li {
	list-style: none; color: rgb(204, 0, 0); font-size: 12px;
}
div.parsley-error .parsley-error-list {
	margin-top: 5px;
}
.parsley-error-list + label {
	margin-top: 10px;
}
.mfp-nav {
	top: 50%; color: rgb(255, 255, 255); font-size: 32px; margin-top: -16px; position: absolute; z-index: 1050; cursor: pointer; opacity: 0.65;
}
.icon-chevron-left.mfp-nav {
	left: 0px; margin-left: 20px;
}
.icon-chevron-right.mfp-nav {
	right: 0px; margin-right: 20px;
}
.gmap {
	width: 100%; height: 350px; overflow: hidden; display: block;
}
.gmap_large {
	height: 500px;
}
.gmap img {
	width: auto; max-width: none;
}
.infoWindow_content {
	font-size: 12px; max-width: 200px;
}
.infoWindow_content p {
	margin: 0px; line-height: 1.3;
}
.slick-header {
	z-index: 10; box-shadow: 2px 0px 6px rgba(0,0,0,0.3); -webkit-box-shadow: 2px 0 6px rgba(0, 0, 0, .3); -moz-box-shadow: 2px 0 6px rgba(0, 0, 0, .3);
}
.ui-state-default.slick-header-column {
	min-height: 34px;
}
.slick-cell {
	line-height: 24px; min-height: 38px;
}
.slick-headerrow-column {
	line-height: 24px; min-height: 38px;
}
.slick-top-panel {
	min-height: 42px;
}
.slick-top-panel .slider_wrapper {
	width: 340px; vertical-align: middle; display: inline-block;
}
.slick_grid .help-block {
	margin-bottom: 0px;
}
.editable.slick-cell {
	background: rgb(242, 242, 242); border-width: 1px 0px 0px; border-color: rgb(221, 221, 221); padding: 6px 10px 5px;
}
.slick-cell .progress {
	margin: 6px 0px 0px;
}
.slick-cell .ui-datepicker-trigger {
	background: none; border: currentColor; border-image: none; top: 6px; right: 12px; font-size: 14px; position: absolute;
}
.slick-cell > .irs {
	background: rgb(255, 255, 255); padding: 10px; border: 1px solid rgba(0, 0, 0, 0.2); border-image: none; left: 10px; width: 160px; height: 60px; bottom: -56px; position: absolute; box-shadow: 0px 2px 4px rgba(0,0,0,0.2); -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .2); -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}
.slick-cell > .irs::before {
	display: block; position: absolute; content: "";
}
.slick-cell > .irs::after {
	display: block; position: absolute; content: "";
}
.slick-cell > .irs::before {
	border-width: 6px; border-style: solid; border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(0, 0, 0, 0.3); border-image: none; left: 9px; top: -12px;
}
.slick-cell > .irs::after {
	border-width: 5px; border-style: solid; border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgb(255, 255, 255); border-image: none; left: 10px; top: -10px;
}
.slick-row .slick-cell {
	border-right-color: rgb(221, 221, 221); border-right-width: 1px; border-right-style: dotted;
}
.slick-header-columns .slick-header-column {
	border-right-color: rgb(221, 221, 221); border-right-width: 1px; border-right-style: dotted;
}
.slick-header-columns .slick-header-column {
	padding-right: 20px;
}
.slick-long-text {
	background: rgb(255, 255, 255); padding: 10px; border: 1px solid rgba(0, 0, 0, 0.2); border-image: none; width: 260px; position: absolute; z-index: 10000; box-shadow: 0px 2px 4px rgba(0,0,0,0.2); -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .2); -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}
.slick-pager {
	background: rgb(250, 250, 250); border-width: 1px medium medium; border-style: solid none none; border-color: rgb(221, 221, 221) currentColor currentColor; padding: 0px 5px; border-image: none; height: 28px;
}
.slick-pager .slick-pager-status {
	padding: 5px;
}
.slick-pager .slick-pager-nav .slick-item-nav {
	background: rgb(255, 255, 255); border: 1px solid rgb(238, 238, 238); border-image: none; width: 20px; height: 20px; text-align: center; line-height: 20px; margin-right: 2px; display: inline-block;
}
.slick-pager .slick-pager-nav .slick-item-nav-disabled {
	background: rgb(255, 255, 255) !important; border-color: rgb(238, 238, 238) !important;
}
.slick-pager .slick-pager-nav .slick-item-nav i {
	height: 18px; color: rgb(51, 51, 51); line-height: 18px; font-size: 14px; vertical-align: top; display: block; cursor: pointer;
}
.slick-pager .slick-pager-nav .slick-item-nav-disabled i {
	color: rgb(204, 204, 204) !important; cursor: default;
}
.slick-pager .slick-pager-settings * {
	vertical-align: baseline;
}
.slick-pager .slick-pager-settings .settings_expanded_active {
	color: rgb(51, 51, 51); font-weight: 700; text-decoration: none;
}
.slick-columnpicker {
	background: rgb(255, 255, 255); margin: 0px; padding: 10px; border: 1px solid rgba(0, 0, 0, 0.2); border-image: none; position: absolute; z-index: 20; box-shadow: 0px 2px 4px rgba(0,0,0,0.2); -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .2); -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}
.slick-columnpicker li {
	list-style: none; display: block;
}
.slick-columnpicker li + li {
	margin-top: 4px;
}
.slick-columnpicker hr {
	margin: 10px 0px;
}
.slick-sort-indicator {
	background: rgb(221, 221, 221); border-radius: 5px; top: 10px; width: 5px; height: 5px; right: 8px; position: absolute; -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
.slick-sort-indicator-asc {
	background: none; border-radius: 0px; border: 5px solid rgba(255, 255, 255, 0); border-image: none; width: 0px; height: 0px; -webkit-border-radius: 0; -moz-border-radius: 0;
}
.slick-sort-indicator-desc {
	background: none; border-radius: 0px; border: 5px solid rgba(255, 255, 255, 0); border-image: none; width: 0px; height: 0px; -webkit-border-radius: 0; -moz-border-radius: 0;
}
.slick-sort-indicator-asc {
	border-top-color: rgb(85, 85, 85);
}
.slick-sort-indicator-desc {
	top: 5px; border-bottom-color: rgb(85, 85, 85);
}
.slick-pager .slick-pager-nav {
	padding: 4px;
}
.slick-pager .slick-pager-settings {
	padding: 5px;
}
.footable-row-detail-cell {
	background: rgb(246, 246, 246);
}
.breakpoint.footable > tbody > tr > td > span.footable-toggle {
	cursor: pointer;
}
.modal.bootbox {
	-ms-overflow-y: auto;
}
.bootbox-body {
	padding: 20px 0px; font-size: 14px;
}
.bootbox-body .lead {
	margin-bottom: 0px;
}
.chat_app .table > tbody > tr > td {
	padding: 0px; border: currentColor; border-image: none;
}
.chat_app .stat {
	border-radius: 8px; border: 2px solid rgb(255, 255, 255) !important; border-image: none !important; width: 12px; height: 12px; margin-right: 10px; display: inline-block; -webkit-border-radius: 8px; -moz-border-radius: 8px;
}
.chat_app .stat_offline {
	background: rgb(203, 17, 17);
}
.chat_app .stat_online {
	background: rgb(93, 164, 35);
}
.chat_app .stat_busy {
	background: rgb(250, 169, 55);
}
.chat_users a {
	padding: 8px; color: rgb(51, 51, 51); line-height: 20px; display: block; position: relative;
}
.chat_users a:hover {
	background: rgb(238, 238, 238);
}
.chat_messages {
	padding: 10px 14px 10px 10px; overflow: auto; min-height: 120px; max-height: 540px; -webkit-overflow-scrolling: touch;
}
.chat_message img {
	border-color: rgb(227, 227, 227); margin-right: 10px; float: left; max-width: 48px;
}
.chat_message + .chat_message {
	margin-top: 20px;
}
.chat_message_body {
	padding: 10px; border: 1px solid rgb(227, 227, 227); border-image: none; overflow: hidden; position: relative;
}
.chat_message_body .chat_message_date {
	color: rgb(153, 153, 153); font-size: 11px;
}
.chat_message_body p {
	margin: 0px; overflow: hidden;
}
.chat_message_body p + p {
	margin-top: 5px;
}
.ch_right.chat_message .chat_message_body {
	background: rgb(248, 248, 248); border-color: rgb(227, 227, 227);
}
.ch_right.chat_message img {
	margin-right: 0px; margin-left: 10px; float: right;
}
.chat_toolbar {
	margin-bottom: 10px;
}
.faq_search {
	margin: 0px;
}
.faq_accordions .panel-group + .heading_b {
	margin-top: 20px;
}
.link_boxed {
	font: 300 18px/22px "Roboto", sans-serif; padding: 8px 16px; border: 1px dashed rgb(227, 227, 227); border-image: none; color: rgb(51, 51, 51); display: inline-block; position: relative; cursor: pointer; font-size-adjust: none; font-stretch: normal;
}
.link_boxed:hover {
	background: rgb(248, 248, 248); color: rgb(51, 51, 51);
}
.link_boxed_icon {
	font-size: 32px; margin-right: 10px; vertical-align: middle;
}
.link_boxed .label {
	top: -6px; right: -4px; position: absolute;
}
.invoice_top .heading_lg_sub {
	margin-bottom: 10px !important;
}
.invoice_top p {
	margin: 0px;
}
.invoice_top p + p {
	margin-top: 4px;
}
.invoice_date {
	font-size: 16px;
}
.invoice_table {
	margin-bottom: 50px;
}
.invoice_table > tfoot > tr > th {
	border-top-color: currentColor; border-top-width: medium; border-top-style: none;
}
.invoice_table > tfoot > tr > td {
	border-top-color: currentColor; border-top-width: medium; border-top-style: none;
}
.invoice_table > tfoot > tr:first-child > th {
	border-top-color: rgb(221, 221, 221); border-top-width: 1px; border-top-style: solid;
}
.invoice_table > tfoot > tr:first-child > td {
	border-top-color: rgb(221, 221, 221); border-top-width: 1px; border-top-style: solid;
}
.invoice_table .grand_total {
	font-size: 18px;
}
.invoice_table .grand_total .col_total {
	background: rgb(244, 244, 244);
}
.invoice_info {
	background: rgb(248, 248, 248); padding: 10px 20px; border: 1px solid rgb(227, 227, 227); border-image: none;
}
@media print
{
.printable {
	background: rgb(255, 255, 255) !important; overflow: hidden !important;
}
.printable * {
	overflow: hidden; visibility: hidden;
}
.printable #sidebar {
	display: none;
}
.printable #main_content {
	margin: 0px; left: 0px; top: 0px; width: 680px; overflow: visible !important; position: relative;
}
.printable #main_content * {
	visibility: visible;
}
.printable header {
	display: none !important;
}
.printable #breadcrumbs {
	display: none !important;
}
.printable nav {
	display: none !important;
}
.printable footer {
	display: none !important;
}
.printable #footer_space {
	display: none !important;
}
.printable #style_switcher {
	display: none !important;
}
.printable #top_navigation {
	display: none !important;
}
.printable #invoice_print {
	display: none !important;
}
.printable .col-sm-1 {
	float: left;
}
.printable .col-sm-2 {
	float: left;
}
.printable .col-sm-3 {
	float: left;
}
.printable .col-sm-4 {
	float: left;
}
.printable .col-sm-5 {
	float: left;
}
.printable .col-sm-6 {
	float: left;
}
.printable .col-sm-7 {
	float: left;
}
.printable .col-sm-8 {
	float: left;
}
.printable .col-sm-9 {
	float: left;
}
.printable .col-sm-10 {
	float: left;
}
.printable .col-sm-11 {
	float: left;
}
.printable .col-sm-1 {
	width: 8.33%;
}
.printable .col-sm-2 {
	width: 16.66%;
}
.printable .col-sm-3 {
	width: 25%;
}
.printable .col-sm-4 {
	width: 33.33%;
}
.printable .col-sm-5 {
	width: 41.66%;
}
.printable .col-sm-6 {
	width: 50%;
}
.printable .col-sm-7 {
	width: 58.33%;
}
.printable .col-sm-8 {
	width: 66.66%;
}
.printable .col-sm-9 {
	width: 75%;
}
.printable .col-sm-10 {
	width: 83.33%;
}
.printable .col-sm-11 {
	width: 91.66%;
}
.printable .col-sm-12 {
	width: 100%;
}
}
.mailbox_nav {
	padding: 10px 0px 0px;
}
.mailbox_content table tr:first-child td {
	border-top-color: currentColor; border-top-width: medium; border-top-style: none;
}
.mailbox_content table tr td {
	background: rgb(249, 249, 249);
}
.mailbox_content table tfoot td {
	background: rgb(255, 255, 255); padding-top: 14px; border-top-color: rgb(227, 227, 227) !important; border-top-width: 1px !important; border-top-style: solid !important;
}
.mailbox_content table a {
	color: rgb(51, 51, 51);
}
.mailbox_content .mbox_star span {
	color: rgb(153, 153, 153); cursor: pointer;
}
.mailbox_content .mbox_star span.star_hover {
	color: rgb(51, 51, 51);
}
.mailbox_content .unreaded {
	font-weight: 700;
}
.mailbox_content .unreaded td {
	background: rgb(255, 255, 255);
}
.mail_message_top {
	padding-top: 10px; padding-bottom: 10px; margin-bottom: 10px; border-bottom-color: rgb(225, 225, 225); border-bottom-width: 1px; border-bottom-style: solid; max-height: 70px;
}
.mail_message_top .img-thumbnail {
	margin: 2px 16px 0px; float: left; display: block;
}
.mail_message_top .user_name {
	font: 300 20px/24px "Roboto", sans-serif; margin: 0px 0px 4px; font-size-adjust: none; font-stretch: normal;
}
.mail_message_top .user_name span {
	font-size: 14px;
}
.mail_message_top .mail_address {
	font: 300 15px/20px "Roboto", sans-serif; margin: 0px; color: rgb(136, 136, 136); font-size-adjust: none; font-stretch: normal;
}
.mail_message_top .mail_actions {
	padding: 12px 10px 0px 0px; float: right;
}
.mail_message_top .mail_actions .mail_date {
	color: rgb(136, 136, 136); font-size: 12px; margin-right: 10px;
}
.mail_message_content {
	padding: 20px; font-size: 14px;
}
.mail_message_content .mail_attachment {
	padding-top: 10px; margin-top: 40px; border-top-color: rgb(227, 227, 227); border-top-width: 1px; border-top-style: dashed;
}
.mail_message_content .mail_attachment p {
	font-size: 12px;
}
.mail_message_content .mail_attachment p span {
	margin-right: 10px;
}
.mail_message_content .mail_attachment p a {
	margin-left: 30px;
}
.mail_message_footer {
	padding: 20px;
}
.user_heading {
	padding: 0px 20px; height: 96px;
}
.user_heading .user_avatar {
	top: 10px; position: relative;
}
.user_heading .user_heading_info {
	overflow: hidden; padding-top: 14px;
}
.user_heading .user_heading_info h1 {
	font: 300 24px/28px "Roboto", sans-serif; margin: 0px 0px 4px; font-size-adjust: none; font-stretch: normal;
}
.user_heading .user_heading_info h2 {
	font: 300 20px/24px "Roboto", sans-serif; margin: 0px; color: rgb(153, 153, 153); font-size-adjust: none; font-stretch: normal;
}
.user_heading .user_actions {
	font-size: 0px;
}
.user_heading .user_actions a {
	margin: 0px 8px; border: 1px solid rgb(230, 230, 230); border-image: none; width: 46px; height: 40px; text-align: center; color: rgb(51, 51, 51); line-height: 40px; font-size: 24px; display: inline-block;
}
.user_content {
	padding: 40px 20px 20px; border-top-color: rgb(227, 227, 227); border-top-width: 1px; border-top-style: solid;
}
.user_form label {
	color: rgb(136, 136, 136); line-height: 30px; padding-top: 0px !important;
}
.user_form p {
	line-height: 22px; padding-top: 5px; font-size: 15px;
}
.user_form .editable .hidden_control {
	display: none;
}
.user_form .form-group {
	margin-bottom: 6px;
}
.user_form .form-group + .heading_a {
	margin-top: 30px;
}
.user_form .form_submit {
	padding-top: 20px;
}
.form_settings .tab-content {
	padding: 20px;
}
.form_settings .form-group + .form-group {
	padding-top: 15px; border-top-color: rgb(227, 227, 227); border-top-width: 1px; border-top-style: dashed;
}
.search_item {
	padding: 18px 10px;
}
.search_item .search_heading {
	margin: 0px 0px 4px; line-height: 20px; font-size: 16px;
}
.search_item + .search_item {
	border-top-color: rgb(227, 227, 227); border-top-width: 1px; border-top-style: dashed;
}
.search_item p {
	margin: 0px 0px 4px; line-height: 18px;
}
.search_item .search_description {
	margin: 0px 0px 12px;
}
.search_item_body {
	overflow: hidden;
}
.search_item img.pull-left {
	margin-right: 14px;
}
.search_item img.pull-right {
	margin-left: 14px;
}
.search_pagination {
	text-align: center; padding-top: 10px; margin-top: 10px; border-top-color: rgb(227, 227, 227); border-top-width: 1px; border-top-style: solid;
}
.landing_page {
	padding-top: 61px;
}
.landing_page #top_header {
	left: 0px; top: 0px; right: 0px; position: fixed; z-index: 100;
}
.landing_page nav {
	margin: 6px 0px 0px;
}
.landing_page nav a {
	font: 300 18px/24px "Roboto", sans-serif; padding: 2px 12px 4px; color: rgb(51, 51, 51); display: block; font-size-adjust: none; font-stretch: normal;
}
.landing_page nav .p_active a {
	background: rgb(51, 51, 51); color: rgb(255, 255, 255);
}
.landing_page nav a.external {
	color: rgb(214, 17, 16);
}
.landing_content section {
	padding: 40px 0px; border-top-color: rgb(227, 227, 227); border-top-width: 1px; border-top-style: solid; min-height: 400px;
}
.landing_content section:nth-child(2n+1) {
	background: rgb(249, 249, 249);
}
.landing_page .owl-carousel {
	padding: 20px 20px 40px;
}
.owl-carousel .owl-wrapper {
	overflow: hidden;
}
.owl-carousel .owl-wrapper-outer {
	-webkit-overflow-scrolling: touch;
}
.owl-buttons {
	text-align: right; padding-top: 10px;
}
.owl-prev {
	background: rgb(248, 248, 248); margin: 0px 2px; padding: 2px 8px 1px; border: 1px solid rgb(238, 238, 238); border-image: none; color: rgb(187, 187, 187); font-size: 18px; display: inline-block;
}
.owl-next {
	background: rgb(248, 248, 248); margin: 0px 2px; padding: 2px 8px 1px; border: 1px solid rgb(238, 238, 238); border-image: none; color: rgb(187, 187, 187); font-size: 18px; display: inline-block;
}
.owl-prev:hover {
	background: rgb(51, 51, 51); color: rgb(255, 255, 255);
}
.owl-next:hover {
	background: rgb(51, 51, 51); color: rgb(255, 255, 255);
}
.heading_slider {
	font: 300 36px/40px "Roboto", sans-serif; margin: 80px 0px 20px; font-size-adjust: none; font-stretch: normal;
}
.heading_slider_sub {
	font: 300 26px/30px "Roboto", sans-serif; margin: 0px 0px 0px 20px; color: rgb(153, 153, 153); font-size-adjust: none; font-stretch: normal;
}
.heading_slider + .heading_slider_sub {
	margin: -10px 0px 20px;
}
.landing_icon_grid {
	text-align: center;
}
.landing_icon_grid [class*='li_'] {
	font-size: 38px;
}
.landing_icon_grid .grid_heading {
	font: 300 24px/28px "Roboto", sans-serif; margin: 10px 0px 14px; font-size-adjust: none; font-stretch: normal;
}
.landing_icon_grid .row {
	margin: 20px 0px 0px;
}
.landing_icon_grid .row + .row {
	margin-top: 50px;
}
.grid_filters {
	padding: 10px 0px; text-align: center; text-transform: uppercase; font-size: 12px;
}
.grid_filters .filter {
	color: rgb(51, 51, 51);
}
.grid_filters .filter:hover {
	color: rgb(153, 153, 153);
}
.grid_filters .active.filter {
	color: rgb(153, 153, 153);
}
#portfolio_grid .mix_description {
	transition:transform 0.4s, opacity 0.1s 0.3s; opacity: 0; transform: translateY(100%); backface-visibility: hidden; -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s; -webkit-transform: translateY(100%); -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s; -moz-transform: translateY(100%); -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden;
}
.grid#portfolio_grid .mix > a:hover img {
	transform: translateY(-40px); -webkit-transform: translateY(-40px); -moz-transform: translateY(-40px);
}
.grid#portfolio_grid .mix > a:hover .mix_description {
	transition:transform 0.4s, opacity 0.1s; opacity: 1; transform: translateY(0px); -webkit-transition: -webkit-transform 0.4s, opacity 0.1s; -webkit-transform: translateY(0px); -moz-transition: -moz-transform 0.4s, opacity 0.1s; -moz-transform: translateY(0px);
}
.testimonial_bubble {
	background: rgb(242, 242, 242); margin: 20px 0px; padding: 10px; border: 1px solid rgb(225, 225, 225); border-image: none; position: relative;
}
.testimonial_bubble::before {
	border-width: 10px 10px 10px 0px; border-style: solid; border-color: rgb(227, 227, 227) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0); border-image: none; left: 20px; width: 0px; height: 0px; bottom: -21px; position: absolute; content: "";
}
.bubble_content {
	padding: 10px; height: 160px; font-size: 15px; font-style: italic; -ms-overflow-x: hidden; -ms-overflow-y: auto; -webkit-overflow-scrolling: touch;
}
.testimonial_client .media-heading {
	font: 300 18px/24px "Roboto", sans-serif; margin: 0px 0px 4px; font-size-adjust: none; font-stretch: normal;
}
.landing_page #footer {
	height: auto; margin-top: -1px !important;
}
.box_user {
	background: rgb(244, 244, 244); padding: 6px 6px 10px;
}
.box_user_main {
	background: rgb(255, 255, 255); padding: 10px; overflow: hidden;
}
.box_user_main > img {
	margin-right: 20px;
}
.box_user_main p {
	color: rgb(136, 136, 136); font-size: 12px; margin-bottom: 8px;
}
.box_user_main p span {
	color: rgb(51, 51, 51); font-size: 18px; margin-right: 6px; vertical-align: -2px;
}
.box_user_info {
	padding: 6px 0px 0px; overflow: hidden;
}
.box_user_name {
	font: 300 18px/22px "Roboto", sans-serif; margin: 0px 0px 12px; font-size-adjust: none; font-stretch: normal;
}
.box_user_stats {
	margin: 10px 0px 0px; padding: 0px; overflow: hidden;
}
.box_user_stats li {
	list-style: none; padding: 8px; width: 33%; height: 60px; text-align: center; float: left;
}
.box_user_stats li span {
	font: 700 18px/22px "Roboto", sans-serif; margin: 0px 0px 4px; display: block; font-size-adjust: none; font-stretch: normal;
}
.box_user_stats li + li {
	border-left-color: rgb(211, 211, 211); border-left-width: 1px; border-left-style: dashed;
}
.photo-carousel .item {
	margin: 3px; display: block; max-width: 280px;
}
.photo-carousel .item img {
	width: 100%; height: auto; display: block;
}
.photo-carousel .owl-buttons {
	text-align: center;
}
.dd_column {
	padding-bottom: 20px; min-height: 100px;
}
.ui-sortable-placeholder {
	background: rgb(248, 248, 248); border: 1px dashed rgb(204, 204, 204); border-image: none; height: 100px !important; visibility: visible !important;
}
.ui-sortable-placeholder * {
	visibility: hidden;
}
:nth-child(1).ui-sortable-helper.dd_widget + .dd_widget {
	margin-top: 0px;
}
.dd_widget .panel-heading {
	overflow: hidden; cursor: move;
}
.dd_widget .panel-title {
	float: left;
}
.dd_widget .dd_actions {
	height: 36px; line-height: 36px; float: right; cursor: default;
}
.dd_widget .dd_actions span {
	padding: 10px 4px; color: rgba(0, 0, 0, 0.4); font-size: 14px; display: inline-block; cursor: pointer;
}
.dd_widget .dd_actions span:hover {
	color: rgba(0, 0, 0, 1);
}
.pricing_table_wrapper {
	background: rgb(248, 248, 248); border: 1px solid rgb(221, 221, 221); border-image: none; max-width: 100%;
}
.pricing_panel {
	padding: 20px 10px; text-align: center; float: left;
}
.pricing_panel_3 {
	width: 33.33%;
}
.pricing_panel_5 {
	width: 20%;
}
.pricing_panel_feat {
	background: rgb(255, 255, 255); position: relative; z-index: 10; box-shadow: 0px 0px 6px rgba(0,0,0,0.4); -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, .6); -moz-box-shadow: 0 0 6px rgba(0, 0, 0, .4);
}
.pricing_heading {
	font: 700 24px/32px "Roboto", sans-serif; margin-bottom: 2px; font-size-adjust: none; font-stretch: normal;
}
.pricing_price {
	color: rgb(136, 136, 136); font-size: 16px; margin-bottom: 2px;
}
.pricing_desc {
	font-weight: 700; margin-bottom: 12px;
}
.pricing_features {
	margin: 0px 0px 20px; padding: 0px;
}
.pricing_features li {
	list-style: none; padding: 10px; border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: solid; display: block;
}
.pricing_features li:last-child {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.pricing_panel_feat .pricing_heading {
	font-size: 28px;
}
.pricing_panel_feat .pricing_features li {
	border-bottom-color: rgb(221, 221, 221);
}
#footer_space {
	height: 120px; clear: both;
}
#footer {
	background: rgb(247, 247, 247); height: 40px; line-height: 40px; margin-top: -42px; border-top-color: rgb(225, 225, 225); border-top-width: 1px; border-top-style: solid; position: relative; box-shadow: 0px 2px 0px #f7f7f7; -webkit-box-shadow: 0 2px 0 #f7f7f7; -moz-box-shadow: 0 2px 0 #f7f7f7;
}
#footer ul {
	margin: 0px; padding: 0px; overflow: hidden;
}
#footer li {
	list-style: none; line-height: 40px; display: inline-block;
}
#footer li + li {
	padding-left: 5px;
}
.heading_lg {
	font: 300 24px/28px "Roboto", sans-serif; margin: 0px 0px 20px; font-size-adjust: none; font-stretch: normal;
}
.heading_lg_sub {
	font: 300 18px/22px "Roboto", sans-serif; margin: 0px 0px 0px 20px; color: rgb(153, 153, 153); font-size-adjust: none; font-stretch: normal;
}
.heading_lg + .heading_lg_sub {
	margin: -15px 0px 20px;
}
.heading_a {
	font: 300 14px/16px "Roboto", sans-serif; margin: 0px 0px 16px; padding: 0px 2px 6px; border-bottom-color: rgb(227, 227, 227); border-bottom-width: 1px; border-bottom-style: dashed; font-size-adjust: none; font-stretch: normal;
}
.heading_b {
	font: 300 16px/18px "Roboto", sans-serif; margin: 0px 0px 16px; text-transform: uppercase; position: relative; font-size-adjust: none; font-stretch: normal;
}
.heading_b span {
	background: rgb(255, 255, 255); padding-right: 10px; display: inline-block; position: relative; z-index: 10;
}
.heading_b::after {
	left: 0px; top: 50%; width: 100%; height: 0px; border-bottom-color: rgb(227, 227, 227); border-bottom-width: 1px; border-bottom-style: dashed; display: block; position: absolute; content: "";
}
.row + .heading_a {
	margin-top: 20px;
}
.heading_a + .row {
	margin-top: 20px;
}
.heading_a + .panel {
	margin-top: 20px;
}
.panel + .heading_a {
	margin-top: 20px;
}
.heading_c {
	font: 300 24px/28px "Roboto", sans-serif; margin: 0px 0px 16px; padding: 10px 4px; text-align: center; border-top-color: rgb(227, 227, 227); border-bottom-color: rgb(227, 227, 227); border-top-width: 1px; border-bottom-width: 1px; border-top-style: dashed; border-bottom-style: dashed; font-size-adjust: none; font-stretch: normal;
}
.sepH_a {
	margin-bottom: 6px;
}
.sepH_b {
	margin-bottom: 12px;
}
.sepH_c {
	margin-bottom: 18px;
}
.sepV_a {
	margin-right: 6px;
}
.sepV_b {
	margin-right: 12px;
}
.sepV_c {
	margin-right: 18px;
}
.overflow_visible {
	overflow: visible;
}
.animated {
	transition:height 0.2s !important; -webkit-transition: height 0.2s; -moz-transition: height 0.2s;
}
.form_sep + .form_sep {
	padding-top: 10px; margin-top: 10px; border-top-color: rgb(227, 227, 227); border-top-width: 1px; border-top-style: dashed;
}
.form_sep::before {
	display: table; content: "";
}
.form_sep::after {
	display: table; content: "";
}
.form_sep::after {
	clear: both;
}
.req::after {
	color: rgb(204, 0, 0); padding-left: 4px; font-size: 14px; content: "*";
}
.icon_list {
	border-width: 1px 0px 0px 1px; border-style: dashed; border-color: rgb(227, 227, 227); margin: 0px 0px 10px; padding: 0px; font-size: 0px;
}
.icon_list li {
	border-width: 0px 1px 1px 0px; border-style: dashed; border-color: rgb(227, 227, 227); list-style: none; padding: 20px 0px; width: 12.5%; height: 68px; text-align: center; overflow: hidden; display: inline-block; position: relative; max-height: 68px;
}
.icon_list .glyphicon {
	font-size: 20px;
}
.icon_list [class*='li_'] {
	font-size: 26px;
}
.icon_list [class*='icon-'] {
	font-size: 20px;
}
.icon_list .icon_use {
	padding: 8px 5px 2px; color: rgb(153, 153, 153); font-size: 11px; display: block;
}
.icon_list li:hover {
	background: rgb(244, 244, 244); color: rgb(51, 51, 51); cursor: pointer;
}
.icon_list li:hover .icon_use {
	color: rgb(51, 51, 51);
}
.sidebar_hidden #sidebar {
	display: none !important;
}
.sidebar_hidden #main_content {
	margin-right: 0px !important; margin-left: 0px !important;
}
tr.rowlink td {
	cursor: pointer;
}
tr.rowlink td.nolink {
	cursor: auto;
}
.placeholder {
	color: rgb(153, 153, 153);
}
.bordered_heading {
	padding: 0px 10px 10px; border-bottom-color: rgb(227, 227, 227); border-bottom-width: 1px; border-bottom-style: solid;
}
.bordered_heading .heading_lg {
	margin: 0px;
}
#style_switcher {
	background: rgb(255, 255, 255); border-width: 1px 0px 1px 1px; border-style: solid; border-color: rgba(0, 0, 0, 0.2); padding: 10px; top: 15%; width: 191px; right: 0px; margin-right: 0px; position: fixed; z-index: 1000;
}
#style_switcher .switcher_toggle {
	background: rgb(238, 238, 238); border-width: 1px 0px 1px 1px; border-style: solid; border-color: rgba(0, 0, 0, 0.1); left: -31px; top: 10px; width: 30px; height: 30px; text-align: center; color: rgb(51, 51, 51); line-height: 28px; font-size: 16px; position: absolute;
}
#style_switcher ul {
	margin: 0px; padding: 0px;
}
#style_switcher li {
	list-style: none; width: 26px; height: 26px; text-indent: -9999px; margin-bottom: 10px; float: left; cursor: pointer; box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.2); -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2); -moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2);
}
#style_switcher li + li {
	margin-left: 10px;
}
#style_switcher li:nth-child(5n+6) {
	clear: left; margin-left: 0px;
}
#style_switcher .style_items + .style_items {
	margin-top: 20px;
}
#style_switcher .style_title {
	padding-bottom: 2px; font-size: 12px; margin-bottom: 12px; border-bottom-color: rgb(225, 225, 225); border-bottom-width: 1px; border-bottom-style: dashed;
}
#style_switcher .radio {
	padding-top: 0px; font-size: 12px;
}
#style_switcher .radio input {
	margin-top: 2px;
}
.style_active {
	border-radius: 26px; -webkit-border-radius: 26px; -moz-border-radius: 26px;
}
.pattern_active {
	border-radius: 26px; -webkit-border-radius: 26px; -moz-border-radius: 26px;
}
#style_reset {
	margin-top: 20px;
}
.sidebar_hidden #sidebar_switch {
	display: none;
}
@media all and (min-width:1200px)
{
.boxed {
	background: rgb(246, 246, 246);
}
.boxed #wrapper_all {
	margin: 0px auto; overflow: hidden; max-width: 1180px;
}
.boxed #footer {
	margin: 0px auto; overflow: hidden; max-width: 1180px;
}
.boxed #wrapper_all {
	background: rgb(255, 255, 255); box-shadow: 0px 0px 8px rgba(0,0,0,0.2); -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .2); -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .2);
}
.boxed #footer {
	margin-top: -40px; position: relative;
}
.pattern_1.boxed {
	background: url("../img/patterns/pattern_1.png");
}
.pattern_2.boxed {
	background: url("../img/patterns/pattern_2.png");
}
.pattern_3.boxed {
	background: url("../img/patterns/pattern_3.png");
}
.pattern_4.boxed {
	background: url("../img/patterns/pattern_4.png");
}
.pattern_5.boxed {
	background: url("../img/patterns/pattern_5.png");
}
.pattern_6.boxed {
	background: url("../img/patterns/pattern_6.png");
}
.pattern_7.boxed {
	background: url("../img/patterns/pattern_7.png");
}
.pattern_8.boxed {
	background: url("../img/patterns/pattern_8.png");
}
.pattern_9.boxed {
	background: url("../img/patterns/pattern_9.png");
}
.pattern_10.boxed {
	background: url("../img/patterns/pattern_10.png");
}
.full_width .container {
	width: auto; margin-right: 20px; margin-left: 20px; max-width: 100%;
}
}
@media all and (max-width:1199px)
{
[class*='col-lg'] {
	margin-bottom: 20px;
}
}
@media all and (max-width:1420px)
{
body.boxed.side_fixed_open #wrapper_all {
	max-width: 100%;
}
body.side_fixed_open .boxed #footer {
	max-width: 100%;
}
body.side_fixed_open .container {
	width: auto;
}
}
@media all and (width:1024px)
{
body.side_fixed_open #footer {
	width: 804px;
}
}
@media all and (max-width:1024px)
{
#style_switcher #layout_switch {
	display: none;
}
#style_switcher #style_pattern {
	display: none;
}
}
@media all and (max-width:991px)
{
#mobile_navigation {
	display: block;
}
#sidebar {
	display: none;
}
.text_nav#top_navigation {
	display: none;
}
.top_ico_nav {
	text-align: center; font-size: 0px; margin-top: 8px;
}
.top_ico_nav li {
	margin-bottom: 8px; float: none; display: inline-block;
}
.top_ico_nav li a {
	height: auto; display: inline-block; min-width: 61px;
}
.top_ico_nav li a span.menu_label {
	display: none;
}
.top_ico_nav li a i {
	font-size: 24px;
}
.top_ico_nav .label {
	display: none;
}
#main_content {
	margin: 0px !important;
}
.contact_list ul ul li {
	margin: 1% 1% 0px; padding: 10px; width: 98%; float: none; position: relative;
}
.list.galMix .gal_sort_list {
	display: none;
}
.list.galMix .mix .img_wrapper {
	margin: 10px 0px 0px 10px; width: auto; max-width: 120px;
}
.list.galMix .gal_sort_list .img_wrapper {
	margin: 10px 0px 0px 10px; width: auto; max-width: 120px;
}
.list.galMix .mix .meta {
	width: auto; text-align: left; overflow: hidden; margin-left: 140px; float: none;
}
.list.galMix .mix .meta + .meta {
	margin-top: 4px;
}
.grid.galMix .mix {
	width: 33%;
}
.mail_message_top {
	max-height: none;
}
.mail_message_top [class*='col-sm'] {
	margin: 0px;
}
.mail_message_top .mail_actions {
	overflow: hidden; padding-left: 78px; clear: both; float: none;
}
.mail_message_top .mail_actions .mail_date {
	float: right;
}
.mailbox_nav {
	margin: 10px 0px; padding: 10px; border: 1px dashed rgb(227, 227, 227); border-image: none;
}
.mailbox_heading [class*='col-md'] {
	margin-bottom: 0px;
}
.user_heading {
	height: 82px;
}
.heading_slider {
	margin-top: 40px;
}
.search_item > img {
	max-width: 120px;
}
.landing_page nav a {
	padding: 2px 6px 4px; font-size: 16px;
}
.landing_page .list-inline > li {
	padding-right: 2px; padding-left: 2px;
}
#side_fixed_nav {
	display: none !important;
}
body.side_fixed {
	padding: 0px !important;
}
body.side_fixed_open {
	padding: 0px !important;
}
#style_switcher #sidebar_switch {
	display: none;
}
#style_switcher #layout_switch {
	display: none;
}
#style_switcher #style_pattern {
	display: none;
}
.pricing_panel_5 {
	margin: 10px 0px 0px; width: 100%;
}
}
@media all and (max-width:991px) and (min-width:768px)
{
[class*='col-md'] {
	margin-bottom: 20px;
}
[class*='col-lg'] {
	margin-bottom: 20px;
}
}
@media all and (max-width:767px)
{
body {
	padding-right: 0px; padding-left: 0px;
}
.container {
	padding-right: 20px; padding-left: 20px;
}
.col-xs-12 {
	clear: both;
}
[class*='col-sm'] {
	margin-bottom: 20px;
}
[class*='col-md'] {
	margin-bottom: 20px;
}
[class*='col-lg'] {
	margin-bottom: 20px;
}
[class*='col-xs'] {
	margin-bottom: 20px;
}
form [class*='col-sm'] {
	margin-bottom: 10px;
}
form [class*='col-md'] {
	margin-bottom: 10px;
}
form [class*='col-lg'] {
	margin-bottom: 10px;
}
form [class*='col-xs'] {
	margin-bottom: 10px;
}
#top_header {
	height: 110px;
}
#top_header [class*='col-xs'] {
	margin-bottom: 0px;
}
#top_header .col-xs-12 {
	padding-top: 10px;
}
.panel_heading .form-control {
	width: 100px;
}
.grid.galMix .mix {
	width: 50%;
}
.user_form label {
	line-height: 1.4;
}
.user_form p {
	padding-top: 0px;
}
.mailbox_heading [class*='col-md'] {
	margin-bottom: 10px;
}
.landing_page #top_header {
	position: static;
}
.landing_page {
	margin-top: -61px;
}
.landing_page #top_header {
	height: auto;
}
.landing_page #top_header .col-xs-12 {
	text-align: center; padding-top: 0px;
}
.landing_page #top_header .col-xs-12 + .col-xs-12 {
	padding-top: 10px;
}
.landing_page .owl-buttons {
	text-align: center;
}
#footer {
	padding: 10px 0px; height: auto; text-align: center; line-height: 24px;
}
#footer li {
	line-height: 30px;
}
#footer .text-right {
	text-align: center;
}
#footer .row [class*='col-lg'] {
	min-height: 24px;
}
.pricing_panel {
	margin: 10px 0px 0px; width: 100%;
}
}
@media all and (max-width:479px)
{
.grid.galMix .mix {
	width: 100%;
}
.search_item > img {
	margin: 0px 0px 14px !important; float: none; display: block; max-width: 100%;
}
.search_item_body {
	clear: both;
}
}
