<?php
echo $this->headTitle(t('Add Product'));
$this->menu()->setActiveItem('products-product-add');

?>
<?php
	echo $this->inlineScript()->prependFile($this->basePath('/tinymce/tinymce.min.js'));
?>
<script type="text/javascript">
tinymce.init({
	directionality : 'rtl',
    plugins: [
              "advlist autolink lists link image charmap print preview hr anchor pagebreak",
              "searchreplace visualblocks visualchars code fullscreen",
              "insertdatetime media nonbreaking save table contextmenu directionality",
              "emoticons template paste textcolor colorpicker textpattern imagetools responsivefilemanager lineheight"
          ],
    selector: "#descriptiond",
  	//toolbar: "insertfile undo redo |  bold italic sizeselect fontselect fontsizeselect lineheightselect| alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image jbimages | print preview media fullpage | forecolor backcolor emoticons | responsivefilemanager",
    toolbar: 'codesample | bold italic sizeselect fontselect fontsizeselect lineheightselect | hr alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | insertfile undo redo | forecolor backcolor emoticons | code | responsivefilemanager',
    
  	relative_urls: false,
  	external_filemanager_path:"/filemanager/",
    filemanager_title:"Responsive Filemanager" ,
    fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt 36pt",
    lineheight_formats: "8pt 9pt 10pt 11pt 12pt 14pt 16pt 18pt 20pt 22pt 24pt 26pt 36pt",
    width : 720,
	height: 200,
    external_plugins: { "filemanager" : "/filemanager/plugin.min.js"}
});	
</script>

<div id="main_content_outer" class="clearfix">
	<div id="main_content">
		<!-- main content -->
		<div class="row"> 
            <?php
            $flash = $this->flashMessenger();
            $flash->setMessageOpenFormat('<div class="container" style="overflow: hidden;"> <div%s><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><div>')->setMessageCloseString('</div></div></div>');
            echo $flash->render('error', array(
                'alert',
                'alert-dismissable',
                'alert-danger',
                'custom-flash-messanger'
            ));
            echo $flash->render('info', array(
                'alert',
                'alert-dismissable',
                'alert-info',
                'custom-flash-messanger'
            ));
            echo $flash->render('default', array(
                'alert',
                'alert-dismissable',
                'alert-warning',
                'custom-flash-messanger'
            ));
            echo $flash->render('success', array(
                'alert',
                'alert-dismissable',
                'alert-success',
                'custom-flash-messanger'
            ));
            ?>
		     
    		    <div class="col-sm-12"> 
    		     		<?php
            $this->breadcrumb()->setItems([
                t('Home') => $this->url('application', [
                    'lang' => $this->layout()->tools->getLang()
                ]),
                t('Products') => $this->url('products-product', [
                    'action' => 'list',
                    'lang' => $this->layout()->tools->getLang()
                ]),
                t('Add Product') => $this->url('products-product', [
                    'action' => 'add',
                    'lang' => $this->layout()->tools->getLang()
                ])
            
            ]);
            echo $this->breadcrumb()->render();
            ?>
    		     </div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12  ">
			 <?php
            $form = $this->form;
            $form->prepare(); 
            echo $this->form()->openTag($form);
            ?> 
		  <div class="col-sm-2"></div>
			<div class="col-sm-8">
		  <?php if($this->id) { 
		    echo $this->getPlugin('drop-zone/index/index', array(
                "configName" => "config_1",
                'extraColumnsValue' => array(
                    'product_id' =>  $this->id,
                    'user_id' => $this->layout()->userData->id,
                )
            )); 
		    ?> 
		   <div class="form_sep">
               <?php  echo $this->formElement($form->get('submitnew')); ?>
               <?php  echo $this->formElement($form->get('submitexit')); ?>
                   
		   </div>  
		  <?php   } else { ?> 
				<div class="form_sep">
					<label class="req"><?php  echo $form->get('pname')->getLabel();?></label>
        			 <?php  echo $this->formElement($form->get('pname'));?>
        			 <div id="suggesstion-box"> </div>
        		 </div>  
        		 <div class="form_sep">
					<label for=""><?php  echo $form->get('attribute_parrent_id')->getLabel();?></label>
        			 <?php  echo $this->formElement($form->get('attribute_parrent_id'));?>
        		 </div>
        		 <div class="form_sep">
					<label for=""><?php  echo $form->get('group_id')->getLabel();?></label>
        			 <?php  echo $this->formElement($form->get('group_id'));?>
        		 </div>
        		 <div class="form_sep">
					<label for="" class=" "><?php  echo $form->get('meta_keyword')->getLabel();?></label>
        			<?php  echo $this->formElement($form->get('meta_keyword'));?>
        		</div> 
				<div class="form_sep">
					<label for="" class=" "><?php  echo $form->get('meta_description')->getLabel();?></label>
        			 <?php  echo $this->formElement($form->get('meta_description'));?>
        		</div> 
				<div class="form_sep"> 
					<?php 
                        echo $this->formElement($form->get('csrf')); 
                        echo $this->formElement($form->get('submit'));
                        echo $this->form()->closeTag();
                    ?>
        	   </div> 
        	   <?php } ?>
				
			</div> 
		</div>
	</div>
</div>
 
<script>
$("#setAttribute").select2();
$("#accessory").select2();
$("#groupProduct").select2(); 
</script>


