<?php
use Application\Helper\GeneralHelper;

echo $this->headTitle(t('Assign Product Attribute'));  
$this->breadcrumb()->setItems([
    t('Home') => $this->url('application', [
        'lang' => $this->layout()->tools->getLang()
    ]),
    t('Products') => $this->url('products-product', [
        'action' => 'list',
        'lang' => $this->layout()->tools->getLang()
    ]),
    $this->name => ''
]);
echo $this->breadcrumb()->render();
?>
<style>
.img-responsive {
	width: 100%;
} 
.fileupload-exists {
	float: right;
} 
span.fileupload-exists {
	right: -5;
}
.selectclass {
	 width:100% !important;
}
</style>
<script src="/js/lib/jasny_plugins/bootstrap-fileupload.js"></script>
<div id="main_content_outer " class="clearfix ">
	<div id="main_content">
		<!-- main content -->
		<div class="row"> 
        <?php
        $flash = $this->flashMessenger(); 
        $flash->setMessageOpenFormat('<div class="container" style="overflow: hidden;"> <div%s><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><div>')->setMessageCloseString('</div></div></div>');
        echo $flash->render('error', array(
            'alert',
            'alert-dismissable',
            'alert-danger',
            'custom-flash-messanger'
        ));
        echo $flash->render('info', array(
            'alert',
            'alert-dismissable',
            'alert-info',
            'custom-flash-messanger'
        ));
        echo $flash->render('default', array(
            'alert',
            'alert-dismissable',
            'alert-warning',
            'custom-flash-messanger'
        ));
        echo $flash->render('success', array(
            'alert',
            'alert-dismissable',
            'alert-success',
            'custom-flash-messanger'
        ));
        ?>
    <div class="col-sm-11  "></div>
    
    </div>
<div class="row">
	<div class="col-sm-12  "> 
		<div class="col-sm-2"></div>
		<div class="col-sm-8"></div>
		<form class="form-horizontal" id="edituser" action="" method="post"> 
			<table class="table table-bordered table-hover">
				<tr>
					<th><?php echo t("Attribute"); ?></th>
					<th><?php echo t("Value"); ?></th>
					<th><?php echo t("Preview"); ?></th>
				</tr> 
			<?php 
			
			if($this->attributes ) {
			    $productAttribute = $this->productAttribute;
			    foreach ($this->attributes as $dataAttribute) {
			        $id = $dataAttribute['id'];
			        $parentId = $dataAttribute['parent_id'];
			        $is_parent = $dataAttribute['is_parent'];
			        if($is_parent && $parentId ==0) {
			            echo '<tr style="background:#EFA91F; text-align:center"><td>' .$dataAttribute['name'] . "</td><td></td><td></td><tr>";
    			        foreach ($this->attributes as $subAttribute) {
    			            $idsub = $subAttribute['id'];
    			            $parentIdsub = $subAttribute['parent_id'];
    			            $is_parentsub = $subAttribute['is_parent'];
    			            if($is_parentsub && $parentIdsub == $id) {
    			                echo '<tr style="background:#DAC78D; text-align:center"><td>' .$subAttribute['name'] . "</td><td></td><td></td><tr>";
    			                foreach ($this->attributes as $subSubAttribute) {
    			                    
    			                    $idsubsub = $subSubAttribute['id'];
    			                    $parentIdsubsub = $subSubAttribute['parent_id'];
    			                    $is_parentsubsub = $subSubAttribute['is_parent'];
    			                    if($is_parentsubsub && $parentIdsubsub == $idsub) {
    			                        echo '<tr style="background:#DAC73D; text-align:center"><td>' .$subSubAttribute['name'] . "</td><td></td><td></td><tr>";
    			                        foreach ($this->attributes as $subSubsubAttribute) {
    			                            $idsubsubsub = $subSubAttribute['id'];
    			                            $parentIdsubsubsub = $subSubAttribute['parent_id'];
    			                            $is_parentsubsubsub = $subSubAttribute['is_parent']; 
    			                            if( $parentIdsubsubsub == $idsubsub) { 
    			                             echo GeneralHelper::getAttributeChildren($productAttribute,$subSubsubAttribute);
    			                            }
    			                        }
    			                    } else {
        			                    if( $parentIdsubsub == $idsub) { 
        			                        echo GeneralHelper::getAttributeChildren($productAttribute,$subSubAttribute);
        			                    }
    			                    }
    			                }
    			            }
    			        }
			        }
			    }
}
?>
                    <tr> 
                    <td style=" text-align:left;left:0;margin-left:150px;" colspan="3">
                    <input type="submit" name="submitedituser" id="submitedituser" value="ذخیره" class="btn btn-success active">
                    </td>
                    </tr> 

			      </table>  
				</form>
			</div>
		</div> 
	</div>
</div>
<script>
 $('body').find('.selectclass').select2();	
</script>