 <?php
	echo $this->inlineScript()->prependFile($this->basePath('/js/lib/jasny_plugins/bootstrap-fileupload.js'));
	echo $this->inlineScript()->prependFile($this->basePath('/tinymce/tinymce.min.js'));
?>
<script type="text/javascript">
	    tinymce.init({
	    	directionality : 'rtl',
	    	height: 200,
	        plugins: [
	                  "advlist autolink lists link image charmap print preview hr anchor pagebreak",
	                  "searchreplace visualblocks visualchars code fullscreen",
	                  "insertdatetime media nonbreaking save table contextmenu directionality",
	                  "emoticons template paste textcolor colorpicker textpattern imagetools jbimages"
	              ],
	        selector: "#block-content",
	      	toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image jbimages | print preview media fullpage | forecolor backcolor emoticons fontsizeselect",
	      	relative_urls: false
	    });
</script>
<?php
echo $this->headTitle(t('Add Block'));
$this->menu()->setActiveItem('block-admin-add');

?>
  
 <style>
.img-responsive{
	width:100%;
}
.fileupload-exists{
	 float:right;
}
span.fileupload-exists{
	 right:-5;
}
.display{
	display:none;
}
.avatar{
	width: 270px; height: 120px;  
}
span.btn {
    margin-top: 15px !important;
    margin-right: 1px !important;
}
</style>
 
<!-- Main content -->
<div id="main_content_outer" class="clearfix">
	<div id="main_content">
		<!-- main content -->
		<div class="row"> 
            <?php
            $flash = $this->flashMessenger();
            $flash->setMessageOpenFormat('<div class="container" style="overflow: hidden;"> <div%s><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><div>')->setMessageCloseString('</div></div></div>');
            echo $flash->render('error', array(
                'alert',
                'alert-dismissable',
                'alert-danger',
                'custom-flash-messanger'
            ));
            echo $flash->render('info', array(
                'alert',
                'alert-dismissable',
                'alert-info',
                'custom-flash-messanger'
            ));
            echo $flash->render('default', array(
                'alert',
                'alert-dismissable',
                'alert-warning',
                'custom-flash-messanger'
            ));
            echo $flash->render('success', array(
                'alert',
                'alert-dismissable',
                'alert-success',
                'custom-flash-messanger'
            ));
            ?>
		 <div class="col-sm-12"> 
    		     		<?php
            $this->breadcrumb()->setItems([
                t('Home') => $this->url('application', [
                    'lang' => $this->layout()->tools->getLang()
                ]),
                t('List') => $this->url('block-admin', [
                    'action' => 'list',
                    'lang' => $this->layout()->tools->getLang()
                ]),
                t('Add Link') => $this->url('block-admin', [
                    'action' => 'add',
                    'lang' => $this->layout()->tools->getLang()
                ])
            
            ]);
            echo $this->breadcrumb()->render();
            ?>  
            <?php 
            	$blockForm = $this->blockForm;
            	$blockForm->prepare();
            	echo $this->form()->openTag($blockForm);
            ?>
            <div class="row">
              <div class="col-lg-2  "></div>
              <div class="col-lg-8 ">
                 
                    <div class="form-group " > 
                          <label for="reg_input_name" class=" "><?php echo $this->formLabel($blockForm->get('block_image')); ?> </label>
    							<div class="avatarupload avatarupload-new"
    								data-provides="avatarupload" id="imagesizeAlert">
    								<div class="avatarupload-new img-thumbnail" id="image-holder"
    									style="width: 270px; height: 120px;">
                             <?php if ($this->image) {?>
                             <img class="img-responsive  avatar"
    										src="/uploads/block/<?php echo $this->image;?>"
    										alt="">
                             <?php } else {?>
                            	 <img class="img-responsive avatar"
    										src="/img/no_img_180.png" alt=""> 
                            <?php }?>
                             </div>
    						 <div>
    						 <span class="btn btn-default btn-avatar"><span
    								class="avatarupload-new"><?php echo t('Select image');?></span>
    								<span class="avatarupload-exists"><?php echo t("Change");?></span>
                         	 <?php  echo $this->formElement($blockForm->get('block_image'));?></span>
    
    						</div>
    					</div> 
        					 
        		  
                    </div>
                
                    
                	<div class="form-group">
                		<label class="control-label"><?php echo $this->formLabel($blockForm->get('block_position')); ?></label>
                    	<?php echo $this->formElement($blockForm->get('block_position')); 
                    	echo $this->formElementErrors($blockForm->get("block_position"));?>
                	</div>
                    
                    <div class="form-group">
                    	<label class="control-label"><?php echo $this->formLabel($blockForm->get('block_content')); ?></label>
                    	<?php echo $this->formElement($blockForm->get('block_content')); 
                    	echo $this->formElementErrors($blockForm->get("block_content"));?>
                    </div>
                    <div class="form-group">
                       <?php 
                    	   echo $this->formElement($blockForm->get('csrf'));
                    	   echo $this->formElementErrors($blockForm->get("csrf"));
                    	   echo $this->formElement($blockForm->get('submit'));
                       ?>
                       <?php 
                    	   echo $this->formElement($blockForm->get('csrf'));
                    	   echo $this->formElementErrors($blockForm->get("csrf"));
                    	   echo $this->formElement($blockForm->get('submit2'));
                       ?>
                     </div>
                </div>
              
            </div>
            <?php 
            	echo $this->form()->closeTag();
            ?>
        </div>
    </div>
    </div>
    </div>
    
</section>
 <script>
 $("#fileUpload").on('change', function () {
	    var countFiles = $(this)[0].files.length;
	    var imgPath = $(this)[0].value;
	    var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
	    var image_holder = $("#image-holder");
	    image_holder.empty();
	    if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
	        if (typeof (FileReader) != "undefined") {
	            for (var i = 0; i < countFiles; i++) {
	                var reader = new FileReader();
	                    reader.onload = function (e) {
	                        $("<img />", {
	                            "src": e.target.result,
	                            "class": "thumb-image avatar"
	                        }).appendTo(image_holder);
	                    }
	                    image_holder.show();
	                    reader.readAsDataURL($(this)[0].files[i]);
	            }
	        } else {
	            alert("<?php echo t("This browser does not support FileReader.");  ?>");
	        }
	    } else { 
	        alert("<?php echo t("Please select only images"); ?>");
	    }
	});
	      

 </script>
