
<?php 

echo $this->headTitle(t('Block List'));
$this->menu()->setActiveItem('block-admin-list');
 
?>

<div id="main_content_outer" class="clearfix" dir="rtl">
	<div id="main_content">
		<!-- main content -->
		<div class="row"> 
 <?php
$flash = $this->flashMessenger();

$flash->setMessageOpenFormat('<div class="container" style="overflow: hidden;"> <div%s><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><div>')->setMessageCloseString('</div></div></div>');
echo $flash->render('error', array(
    'alert',
    'alert-dismissable',
    'alert-danger',
    'custom-flash-messanger'
));
echo $flash->render('info', array(
    'alert',
    'alert-dismissable',
    'alert-info',
    'custom-flash-messanger'
));
echo $flash->render('default', array(
    'alert',
    'alert-dismissable',
    'alert-warning',
    'custom-flash-messanger'
));
echo $flash->render('success', array(
    'alert',
    'alert-dismissable',
    'alert-success',
    'custom-flash-messanger'
));

?>
<div class="col-sm-12">
<?php 
$this->breadcrumb()->setItems([
    t('Home') => $this->url('application', [
        'lang' => $this->layout()->tools->getLang()
    ]),
    t('Blocks') => $this->url('block-admin', [
        'action' => 'list',
        'lang' => $this->layout()->tools->getLang()
    ]),
    t('List Block') => ''
]);
     echo  $this->breadcrumb()->render();
?>
  
 </div>

		</div>
		<div class="row">
			<div class="col-sm-12  ">
 <?php
use ZfcDatagrid\Column\Type;
$hasMassActions = false;
if (count($this->massActions) > 0) {
    $hasMassActions = true;
}
?> 
<?php if ($this->daterangeEnabled): ?>
    <?php $this->inlineScript()->captureStart();?>
    $(function(){
        <?php //If daterange bootstrapTable filter is enable show it ?>
            $('input.daterange').daterangepicker(
            <?= Zend\Json\Json::encode($this->daterangeParameters, false, ['enableJsonExprFinder' => true]); ?>
            ).on('apply.daterangepicker', function(ev,picker){
                this.form.submit();
            });

    });
    <?php $this->inlineScript()->captureEnd(); ?>
<?php endif; ?>

<form name="form_<?php echo $this->gridId; ?>"
					method="<?= $this->parameterNames['method']; ?>"
					action="<?php echo $this->url(null, [], [], true); ?>">

					<input type="submit"
						style="width: 0; height: 0; margin: 0; padding: 0; border: 0;"
						name="hiddenSubmit" /> <input type="hidden"
						name="<?php echo $this->parameterNames['sortColumns']; ?>"
						value="<?php echo $this->activeParameters[$this->parameterNames['sortColumns']]; ?>" />
					<input type="hidden"
						name="<?php echo $this->parameterNames['sortDirections']; ?>"
						value="<?php echo $this->activeParameters[$this->parameterNames['sortDirections']]; ?>" />

    <?php
    if ($this->parameters) {
        foreach ($this->parameters as $name => $value) {
            echo '<input type="hidden" name="' . $name . '" value="' . $value . '" />';
        }
    }
    ?>

<?php echo $this->toolbar; ?>

<?php
$orderOnclick = 'document.forms[\'form_' . $this->gridId . '\'].elements[\'' . $this->parameterNames['sortColumns'] . '\'].value = \'%s\';';
$orderOnclick .= 'document.forms[\'form_' . $this->gridId . '\'].elements[\'' . $this->parameterNames['sortDirections'] . '\'].value = \'%s\';';
$orderOnclick .= 'document.forms[\'form_' . $this->gridId . '\'].submit(); return false;';

$classes = [
    'table',
    'table-bordered table-hover dataTable table-condensed'
];
if ($this->rowClickAction !== null) {
    $classes[] = 'table-hover';
}
?>

<?php echo $this->partial($this->templateToolbar);?>

<div class="table-responsive">
						<table class="<?php echo implode(' ', $classes); ?>">
							<thead>
								<tr class="parent_active">
                <?php
                if ($hasMassActions === true) {
                    //echo '<th><input type="checkbox" onclick="' . $this->gridId . '_toggleCheckboxes(this);" /></th>';
                }
                if ($this->columns) {
                    foreach ($this->columns as $col) {
                        /* @var $col \ZfcDatagrid\Column\AbstractColumn */
                        $classes = [];
                        $styles = [];
                        
                        $id = $col->getUniqueId();
                        
                        $label = '';
                        if ($col->getLabel() != '') {
                            $label = $this->translate($col->getLabel());
                        }
                        
                        $width = $col->getWidth();
                        if ($width != '') {
                            $styles[] = 'width: ' . $this->escapehtmlattr($width) . '%';
                        }
                        
                        if ($col->isHidden() === true) {
                            $classes[] = 'hidden';
                        }
                        if ($col->getType() instanceof Type\Number) {
                            $styles[] = 'text-align: right';
                        }
                        ?>
                    <th id="<?php echo $this->escapehtmlattr($id); ?>" class="<?php echo implode(' ', $classes); ?>" style="<?php echo implode(';', $styles); ?>">

                        <?php
                        
if ($col->isUserSortEnabled() === true) :
                            if ($col->isSortActive() === true && $col->getSortActiveDirection() === 'ASC') {
                                $direction = 'DESC';
                            } else {
                                $direction = 'ASC';
                            }
                            ?>
                            <a
										href="<?php
                            
echo $this->url(null, [], [
                                'query' => array_merge($this->activeParameters, [
                                    $this->parameterNames['sortColumns'] => $col->getUniqueId(),
                                    $this->parameterNames['sortDirections'] => $direction
                                ])
                            ], true);
                            ?>
                            "
										onclick="<?php echo sprintf($orderOnclick, $col->getUniqueId(), $direction); ?>">
                                <?php echo $this->escapeHtml($label); ?>
                            </a>
                        <?php else: ?>
                            <?php echo $this->escapeHtml($label); ?>
                        <?php endif; ?>

                        <?php
                        if ($col->isSortActive() === true) {
                            if ($col->getSortActiveDirection() === 'ASC') :
                                ?>
                                <i
										class="icon-chevron-down glyphicon glyphicon-chevron-down"></i>
                            <?php else: ?>
                                <i
										class="icon-chevron-up glyphicon glyphicon-chevron-up"></i>
                            <?php
                            
endif;
                        }
                        ?>
                    </th>
                    <?php
                    }
                }
                ?>
            </tr>

								<!-- User filters -->
            <?php if($this->isUserFilterEnabled === true):?>
                <tr style="background-color: #Eff">
                    <?php
                if ($hasMassActions === true) {
                    //echo '<td></td>';
                }
                foreach ($this->columns as $col) {
                    /* @var $col \ZfcDatagrid\Column\AbstractColumn */
                    $this->id = $col->getUniqueId();
                    $classes = [];
                    if ($col->isHidden() === true) {
                        $classes[] = 'hidden';
                    }
                    
                    $htmlFilter = '';
                    if ($col->isUserFilterEnabled() === true) {
                        
                        if ($col->hasFilterSelectOptions() === true) {
                            $htmlFilter = sprintf('<select name="toolbarFilters[%s]" style="width: 80%%" onchange="this.form.submit()" class="form-control" >', $col->getUniqueId());
                            
                            foreach ($col->getFilterSelectOptions() as $value => $option) {
                                $htmlFilter .= sprintf('<option value="%s" %s>%s</option>', $value, ($col->getFilterActiveValue() === (string) $value ? 'selected="selected"' : ''), $option);
                            }
                            
                            $htmlFilter .= '</select>';
                        } else {
                            $htmlFilter = sprintf('<input type="text" name="toolbarFilters[%s]" style="width: 80%%" value="%s" class="form-control %s" />', $col->getUniqueId(), $col->getFilterActiveValue(), ($col->getType() instanceof \ZfcDatagrid\Column\Type\DateTime ? ' daterange' : ''));
                        }
                    }
                    ?>
                        <td class="<?php echo implode(' ', $classes); ?>">
                            <?php echo $htmlFilter; ?>
                        </td>
                        <?php
                }
                ?>
                </tr>
            <?php endif; ?>
        </thead>
							<!-- END table header -->

							<!-- Start table BODY -->
							<tbody>
            <?php
            if ($this->data) {
                foreach ($this->data as $row) :
                    ?>
                <?php echo $this->bootstrapTableRow($row, $this->columns, $this->rowClickAction, $this->rowStyles, false); ?>
            <?php endforeach; ?>
            <?php } ?>
        </tbody>
						</table>
					</div>
			
			</div>
		 
		<?php echo $this->partial('zfc-datagrid/renderer/bootstrapTable/footer'); ?>
</form>
			 </div>
		 </div>
	 </div> 
</div>