<!-- Content Header (Page header) -->

<section class="content-header">
<div class="container-fluid">
  <ol class="breadcrumb">
    <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
    <li class="active"><?php echo __("List main menus");?></li>
  </ol>
</div>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __("List main menus");?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <h4><?php echo __("List main menus");?></h4>
             
            <table class="table table-hovered table-hover">
              <tr>
                <th class="td-sm"><?php echo _('#'); ?></th>
                <th><?php echo __("Main menu title");?></th>
                <th><?php echo __("Main menu position");?></th>
                <th><?php echo __("Main menu language");?></th>
                <th class="td-sm"><?php echo __("Operation");?></th>
                <th class="td-sm"><?php echo __("Edit");?></th>
                <th class="td-sm"><?php echo __("Delete");?></th>
              </tr>
              <?php  
              		if($this->mainMenus) {
              			foreach ($this->mainMenus as $counter => $mainMenu) {  
              ?>				
            			    <tr>
            				    <td><?php echo ++$counter ?></td>
            				    <td><?php echo $this->escapeHtml($mainMenu['name']); ?></td>
            				    <td><?php echo $this->escapeHtml($mainMenu['position']); ?></td>
            				    <td><?php echo $this->escapeHtml($mainMenu['lang']); ?></td>
            				    <td><a class="btn btn-xs btn-success" href="<?php echo $this->url('menu-admin', array(
            				    		'id'         => $mainMenu['id'],
            				            'lang'      => $this->layout()->lang,
            				    		'action'     => 'show-menu'
            				    )); ?>"><span class="glyphicon glyphicon-plus"></span></a></td>
            				    <td><a class="btn btn-xs btn-success" href="<?php echo $this->url('menu-admin', array(
            				    		'id'         => $mainMenu['id'],
            				    		'action'     => 'edit-main-menu',
                				        'lang'       => $this->layout()->lang
            				    )); ?>"><span class="glyphicon glyphicon-pencil"></span></a></td>
            				     <td><a href="<?php echo $this->url('menu-admin', array(
            				    		'id'         => $mainMenu['id'],
            				    		'action'     => 'delete-main-menu',
            				            'lang'       => $this->layout()->lang,
            				            'token'      => $this->csrf
            				    )); ?>" class="delete-btn btn btn-xs btn-danger" ><span class="glyphicon glyphicon-remove"></span></a></td>
            			  </tr> 
              <?php 
              		}
              	}
              ?>   
            </table>
            <a href="<?php echo $this->url('menu-admin', array('action' => 'add-main-menu')); ?>" class="btn btn-primary"><?php echo __("Add");?> </a>
            <!-- Modal HTML -->
                <div id="modal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">&nbsp;</h4>
                            </div>
                            <div class="modal-body">
                                <h5><?php echo __("Are you sure that want to delete this main menu?");?></h5>
                                <p><?php echo __("Be inform, after delete items, you are'nt able to recover.");?></p>
                            </div>
                            <div class="modal-footer">
                                <a style="margin-right: 17px;" class="btn btn-xs btn-danger" href="#"><?php echo __("Yes! I'm sure!");?></a>
                            </div>
                        </div>
                    </div>
                </div>
            <script type="text/javascript">
                $('.delete-btn').click(function(e) {
            
                    e.preventDefault();
                    $('#modal').modal();
                    $('#modal .modal-footer a').attr('href', $(this).attr('href'));
                });
            </script> 
        </div>
    </div>
</section>