<link rel="stylesheet" type="text/css" href="/css/jquery.domenu-0.99.77-v2.css" />
<?php 
    $this->headScript()->appendFile('/js/select2.full.min.js');
//===============js for dragable menu==========================
    $this->headScript()->appendFile($this->basePath('/js/jquery.domenu-0.99.77.js'));
?>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72230510-1', 'auto');
  ga('send', 'pageview');

</script>
<style>
div.ui-dialog{
	background: #eeeeee;
	border: 1px solid #f39c12;
	text-align: center;
	padding: 20px;
}
</style>
<section class="content-header">
    <h1>
        <?php echo __('Add new main menu'); ?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('Add new main menu'); ?></li>
    </ol>
</section>
 <!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __('Add new main menu')?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <?php
            	$menuForm = $this->menuForm;
            	$menuForm->prepare();
            	echo $this->form()->openTag($menuForm);
            ?>
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="sl-list-group">
                        <div class="sl-list-group-title"><?php echo $this->menu["name"] ."&nbsp;&nbsp;". __('menu management'); ?></div>
                        <?php 
                            if ($this->menuTree) {
                                echo $this->menuTree;
                            }
                        ?>
                    </div>
                </div>
            	<div  class="col-md-6">
                	<div class="form-group">
                		<label class="control-label"><?php echo $this->formLabel($menuForm->get('caption')); ?></label>
                    	<?php echo $this->formElement($menuForm->get('caption'));
                    	echo $this->formElementErrors($menuForm->get("caption")); ?>
                	</div>	
                	<div class="form-group ">
                		<label class="control-label"><?php echo $this->formLabel($menuForm->get('external_url')); ?></label>
                    	<?php echo $this->formElement($menuForm->get('external_url'));
                    	echo $this->formElementErrors($menuForm->get("external_url")); ?>
                	</div>	
                	<div class="form-group ">
                		<label class="control-label"><?php echo $this->formLabel($menuForm->get('internal_url')); ?></label>
                    	<?php echo $this->formElement($menuForm->get('internal_url'));
                    	echo $this->formElementErrors($menuForm->get("internal_url")); ?>
                	</div>	
                	<div class="form-group ">
                		<label class="control-label"><?php echo $this->formLabel($menuForm->get('parent_id')); ?></label>
                    	<?php echo $this->formElement($menuForm->get('parent_id'));
                    	echo $this->formElementErrors($menuForm->get("parent_id")); ?>
                	</div>	
                	<div class="form-group ">
                		<label class="control-label"><?php echo $this->formLabel($menuForm->get('order')); ?></label>
                    	<?php echo $this->formElement($menuForm->get('order'));
                    	echo $this->formElementErrors($menuForm->get("order")); ?>
                	</div>	
                	<div class="form-group ">
                		<label class="control-label"><?php echo $this->formLabel($menuForm->get('width')); ?></label>
                    	<?php echo $this->formElement($menuForm->get('width'));
                    	echo $this->formElementErrors($menuForm->get("width")); ?>
                	</div>	
                	<div class="form-group ">
                		<label class="control-label"><?php echo $this->formLabel($menuForm->get('icon')); ?></label>
                    	<?php echo $this->formElement($menuForm->get('icon'));
                    	echo $this->formElementErrors($menuForm->get("icon")); ?>
                	</div>	
                	<div class="form-group ">
                		<label class="control-label"><?php echo $this->formLabel($menuForm->get('image')); ?></label>
                    	<?php echo $this->formElement($menuForm->get('image'));
                    	echo $this->formElementErrors($menuForm->get("image")); ?>
                	</div>	
                	<div class="form-group ">
                		<label class="control-label"><?php echo $this->formLabel($menuForm->get('active')); ?></label>
                    	<?php echo $this->formElement($menuForm->get('active'));
                    	echo $this->formElementErrors($menuForm->get("active")); ?>
                	</div>	
                
                	<div class="form-group pull-left">
                    	<?php 
                    	    echo $this->formElement($menuForm->get('menu_id'));
                    		echo $this->formElement($menuForm->get('csrf_menus'));
                    		echo $this->formElementErrors($menuForm->get("csrf_menus"));
                    		echo $this->formElement($menuForm->get('submit'));
                    		echo "    " . $this->formElement($menuForm->get('resetform'));
                		?>
                		<a href="/<?php echo $this->layout()->lang;?>/admin-menu" class="btn btn-warning"><i class="fa fa-times" aria-hidden="true"></i><?php echo __("Cancle")?></a>
            		</div>
            		<?php 
                		echo $this->form()->closeTag();
                	?>
            	</div>
            </div>
            <!-- =============== dragable menu =============== -->
            <div class="dd" id="domenu-0">
              <button class="dd-new-item">+</button>
              <li class="dd-item-blueprint">
                <button class="collapse" data-action="collapse" type="button" style="display: none;"><i class="fa fa-minus" aria-hidden="true"></i></button>
                <button class="expand" data-action="expand" type="button" style="display: none;"><i class="fa fa-plus" aria-hidden="true"></i></button>
                <div class="dd-handle dd3-handle"><i class="fa fa-th-list" aria-hidden="true"></i></div>
                <div class="dd3-content">
                  <span class="item-name">[item_name]</span>
                  <div class="dd-button-container">
                    <button class="item-add"><i class="fa fa-plus" aria-hidden="true"></i></button>
                    <button class="item-remove" data-confirm-class="item-remove-confirm"><i class="fa fa-remove" aria-hidden="true"></i></button>
                  </div>
                  <div class="dd-edit-box" style="display: none;">
                    <input type="text" name="title" autocomplete="off" placeholder="Item"
                           data-placeholder="Any nice idea for the title?"
                           data-default-value="doMenu List Item. {?numeric.increment}">
                    <i class="end-edit fa fa-floppy-o" aria-hidden="true"></i>
                  </div>
                </div>
              </li>
              <ol class="dd-list"></ol>
            </div>
                    <!-- ================== End of dragable menu==================== -->
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6">
                
                </div>
            </div>
</section>
<!-- Modal HTML -->
<div id="modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">&nbsp;</h4>
            </div>
            <div class="modal-body">
                <h5>آ<?php echo __("Are you sure that want to delete this main menu?");?></h5>
                <p><?php echo __("Be inform, after delete items, you are'nt able to recover.");?></p>
            </div>
            <div class="modal-footer">
                <a style="margin-right: 17px;" class="btn btn-xs btn-danger" href="#"><?php echo __("Yes! I'm sure!");?></a>
            </div>
        </div>
    </div>
</div>
<script>
$("#resetfileds").click(function(){  
	$("#menu_id").val("");
	$("#caption").val("");
	$("#external_url").val("");
	$("#internal_url").val("").change();
	$("#parent_id").val("0").change();
	$("#order").val("");
	$("#width").val("");
	$('#active').prop('checked', true);
});

$(".editMenu").click(function(){
	var menuId = $(this).attr('data-id');
	var menuCaption = $(this).attr('data-caption');
	var menuExternalUrl = $(this).attr('data-external-url');
	var menuInternalUrl = $(this).attr('data-internal-url');
	var menuParentId = $(this).attr('data-parent-id');
	var menuSort = $(this).attr('data-order');
	var menuWidth = $(this).attr('data-width');
	var menuActive = $(this).attr('data-active');
	$("#menu_id").val(menuId);
	$("#caption").val(menuCaption);
	$("#external_url").val(menuExternalUrl);
	$("#internal_url").val(menuInternalUrl).change();
	$("#parent_id").val(menuParentId).change();
	$("#order").val(menuSort);
	$("#width").val(menuWidth);
	
	if (menuActive == 1) {
		$('#active').prop('checked', true);
	} else {
		alert(menuActive);
		$('#active').prop('checked', false);
	}
	
    });
$(".deleteMenu").click(function(e){
	var menuId = $(this).attr('data-id');
	var elm = $(this);
    
	var message = '<?php echo(__("Pay attention: after delete the item, you could not recover it!")); ?>';
	    $('<div></div>').appendTo('body')
	                    .html('<div ><h6>'+message+'?</h6></div>')
	                    .dialog({
	                        modal: true, title:"Are you sure to delete this?",   zIndex: 10000, autoOpen: true,
	                        width: '400px', resizable: false,
	                        buttons: {
	                            Yes: function () {
	                            	
	                            	   $.ajax({
	                            	      url: '/<?php echo $this->layout()->lang;?>/admin-menu-ajax/delete-menu/token/<?php echo $this->csrf;?>',
	                            	      type:'POST',
	                            	      data: 
	                            		      {
	                            		      	 id: menuId, 
	                            		      },
	                            	      success:function(result) {
	                            	        if(result == "true") {
	                            	        	$(elm).parent("li").hide();
	                            	        }  else if (result == "child") {
	                            	            alert("<?php echo __("This menu has child!");?>");
	                            	        } else {
	                            	            alert("<?php echo __("Operation failed");?>");
	                            	        }
	                            	      }
	                            	   });
	                                $(this).dialog("close");
	                            },
	                            No: function () {
	                                $(this).dialog("close");
	                            }
	                        },
	                        close: function (event, ui) {
	                            $(this).remove();
	                        }
	                    });
	   
});




$(document).ready(function(){
	$("#internal_url").select2();
	$("#parent_id").select2();
	$('.ui-dialog-titlebar-close').val('Close');
   $("#menuForm").validationEngine(); 
   $('#update-menu').click(function(e){ 
      // e.preventDefault();
       if($("#menuForm").validationEngine('validate')) 
       {
      	   $("#menuForm").submit();
       }
   });
}); 
</script>
<!--  dragable menu -->
<script>
$(document).ready(function() {
  $('#domenu-0').domenu({
    data: '[{"title":"Hi, drag me!","customSelect":"select something...","select2ScrollPosition":{"x":0,"y":0}},{"title":"No! Wait, drag me instead!","customSelect":"http://test.com","select2ScrollPosition":{"x":0,"y":0}}]'
  }).parseJson()
});
</script>