<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <title></title>
  <!-- <link rel="stylesheet" type="text/css" href="presentation-style.css" /> -->
  <link rel="stylesheet" type="text/css" href="/css/jquery.domenu-0.99.77-v2.css" />
  <style>
    .select2-container {
        display: inline-block !important;
        width: 50% !important;
    }
    input[type=text]{
    	height:auto !important;
    }
  </style>
</head>

<body>
  <!-- <section></section> -->
 <section class="content-header">
    <h1>
        <?php echo __('Add new main menu'); ?>
        <small><?php echo __("Control panel")?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/<?php echo $this->layout()->lang; ?>/admin"><i class="fa fa-dashboard"></i> <?php echo __("Home");?></a></li>
        <li class="active"><?php echo __('Add new main menu'); ?></li>
    </ol>
</section>
 <!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><?php echo __('Add new main menu')?></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <div class="">
                <div class="">
                    <div class="col-md-4">
                         <!--  help -->
                        <fieldset class="help-form" id="tour5">    	
            					<legend>راهنمای استفاده از منو</legend>
        						<p>
        						1-
        						<br />
        						2-
        						<br />
        						3-
        						<br />
        						
        						</p>
            			</fieldset>	
                    </div>
                    <div class="col-md-8">
                        <div class="dd" id="domenu-1">
                              <button id="domenu-add-item-btn" class="dd-new-item">+</button>
                              <!-- .dd-item-blueprint is a template for all .dd-item's -->
                              <li class="dd-item-blueprint">
                                <!-- @migrating-from 0.48.59 button container -->
                                <button class="collapse" data-action="collapse" type="button" style="display: none;">–</button>
                                <button class="expand" data-action="expand" type="button" style="display: none;">+</button>
                                <div class="dd-handle dd3-handle">Drag</div>
                                <div class="dd3-content">
                                  <span class="item-name">[item_name]</span>
                                  <!-- @migrating-from 0.13.29 button container-->
                                  <!-- .dd-button-container will hide once an item enters the edit mode -->
                                  <div class="dd-button-container">
                                    <!-- @migrating-from 0.13.29 add button-->
                                    <button class="custom-button-example">&#x270E;</button>
                                    <button class="item-add">+</button>
                                    <button class="item-remove" data-confirm-class="item-remove-confirm">&times;</button>
                                  </div>
                                  <!-- Inside of .dd-edit-box you can add your custom input fields -->
                                  <div class="dd-edit-box" style="display: none;">
                                    <!-- data-placeholder has a higher priority than placeholder -->
                                    <!-- data-placeholder can use token-values; when not present will be set to "" -->
                                    <!-- data-default-value specifies a default value for the input; when not present will be set to "" -->
                                    <input type="text" name="title" autocomplete="off" placeholder="Item" data-placeholder="Any nice idea for the title?" data-default-value="doMenu List Item. {?numeric.increment}">
                                    <select name="custom-select">
                                                    <option>select something...</option>
                                                    <optgroup label="Pages">
                                                        <option value="1">http://example.com/page/1</option>
                                                        <option value="2">http://example.com/page/2</option>
                                                    </optgroup>
                                                    <optgroup label="Categories">
                                                        <option value="3">News</option>
                                                        <option value="4">Stories</option>
                                                    </optgroup>
                                                </select>
                                    <!-- @migrating-from 0.13.29 an element ".end-edit" within ".dd-edit-box" exists the edit mode on click -->
                                    <i class="end-edit">save</i>
                                  </div>
                                </div>
                              </li>
                              <ol class="dd-list"></ol>
                            </div>
                            <div id="domenu-1-output" class="output-preview-container">
                              <h4>JSON Output Preview (User menu)</h4>
                              <textarea style="width: 100%; min-height: 300px;" name="jsonOutput" class="jsonOutput"></textarea>
                              <input type="checkbox" name="keepchages" class="keepChanges" checked> Keep changes after page reload (localStorage)
                              <br>
                              <br>
                              <input style="display:none;" type="button" name="clearLocalStorage" class="clearLocalStorage" value="Reset demo">
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
  <script>
    $(document).ready(function() {
      var $domenu = $("#domenu-1"),
        domenu = $("#domenu-1").domenu(),
        $outputContainer = $("#domenu-1-output"),
        $jsonOutput = $outputContainer.find(".jsonOutput"),
        $keepChanges = $outputContainer.find(".keepChanges"),
        $clearLocalStorage = $outputContainer.find(".clearLocalStorage");
    
      $domenu
        .domenu({
          slideAnimationDuration: 0,
          allowListMerging: ["domenu-2"],
          select2: {
            support: true,
            params: {
              tags: true
            }
          },
          data:
            window.localStorage.getItem("domenu-1Json") ||
              '[{"title":"Home","customSelect":"select something...","select2ScrollPosition":{"x":0,"y":0}},{"title":"About Us","customSelect":"select something...","select2ScrollPosition":{"x":0,"y":0}},{"title":"Company","customSelect":"select something..."},{"title":"Products","customSelect":"select something..."},{"title":"Services","customSelect":"select something..."},{"title":"Blogs","customSelect":"select something..."},{"title":"Contact Us","customSelect":"select something..."}]'
        })
        // Example: initializing functionality of a custom button #21
        .onCreateItem(function(blueprint) {
          // We look with jQuery for our custom button we denoted with class "custom-button-example"
          // Note 1: blueprint holds a reference of the element which is about to be added the list
          var customButton = $(blueprint).find(".custom-button-example");
    
          // Here we define our custom functionality for the button,
          // we will forward the click to .dd3-content span and let
          // doMenu handle the rest
          customButton.click(function() {
            blueprint.find(".dd3-content span").first().click();
          });
        })
        // Now every element which will be parsed will go through our onCreateItem event listener, and therefore
        // initialize the functionality our custom button
        .parseJson()
        .on(
          [
            "onItemCollapsed",
            "onItemExpanded",
            "onItemAdded",
            "onSaveEditBoxInput",
            "onItemDrop",
            "onItemDrag",
            "onItemRemoved",
            "onItemEndEdit"
          ],
          function(a, b, c) {
            $jsonOutput.val(domenu.toJson());
            if ($keepChanges.is(":checked"))
              window.localStorage.setItem("domenu-1Json", domenu.toJson());
          }
        )
        .onToJson(function() {
          if (window.localStorage.length) $clearLocalStorage.show();
        });
    
      // Console event examples
      domenu
        .on("*", function(a, b, c) {
          console.log("event:", "*", "arguments:", arguments, "context:", this);
        })
        .onParseJson(function() {
          console.log(
            "event: onFromJson",
            "arguments:",
            arguments,
            "context:",
            this
          );
        })
        .onToJson(function() {
          console.log("event: onToJson", "arguments:", arguments, "context:", this);
        })
        .onSaveEditBoxInput(function() {
          console.log(
            "event: onSaveEditBoxInput",
            "arguments:",
            arguments,
            "context:",
            this
          );
        })
        .onItemDrag(function() {
          console.log(
            "event: onItemDrag",
            "arguments:",
            arguments,
            "context:",
            this
          );
        })
        .onItemDrop(function() {
          console.log(
            "event: onItemDrop",
            "arguments:",
            arguments,
            "context:",
            this
          );
        })
        .onItemAdded(function() {
          console.log(
            "event: onItemAdded",
            "arguments:",
            arguments,
            "context:",
            this
          );
        })
        .onItemCollapsed(function() {
          console.log(
            "event: onItemCollapsed",
            "arguments:",
            arguments,
            "context:",
            this
          );
        })
        .onItemExpanded(function() {
          console.log(
            "event: onItemExpanded",
            "arguments:",
            arguments,
            "context:",
            this
          );
        })
        .onItemRemoved(function() {
          console.log(
            "event: onItemRemoved",
            "arguments:",
            arguments,
            "context:",
            this
          );
        })
        .onItemStartEdit(function() {
          console.log(
            "event: onItemStartEdit",
            "arguments:",
            arguments,
            "context:",
            this
          );
        })
        .onItemEndEdit(function() {
          console.log(
            "event: onItemEndEdit",
            "arguments:",
            arguments,
            "context:",
            this
          );
        })
        .onItemAddChildItem(function() {
          console.log(
            "event: onItemAddChildItem",
            "arguments:",
            arguments,
            "context:",
            this
          );
        })
        .onItemAddChildItem(function() {
          console.log(
            "event: onItemAddChildItem",
            "arguments:",
            arguments,
            "context:",
            this
          );
        })
        .onItemAddChildItem(function() {
          console.log(
            "event: onItemAddChildItem",
            "arguments:",
            arguments,
            "context:",
            this
          );
        })
        .onItemAddChildItem(function() {
          console.log(
            "event: onItemAddChildItem",
            "arguments:",
            arguments,
            "context:",
            this
          );
        });
    
      if (window.localStorage.length) $clearLocalStorage.show();
    
      $clearLocalStorage.click(function() {
        if (true) window.localStorage.clear();
        if (!window.localStorage.length) $clearLocalStorage.hide();
        // Part of the reset demo routine
        window.location.reload();
      });
    
      // Init textarea
      $jsonOutput.val(domenu.toJson());
      $keepChanges.on("click", function() {
        if (!$keepChanges.is(":checked"))
          window.localStorage.setItem("domenu-1KeepChanges", false);
        if ($keepChanges.is(":checked"))
          window.localStorage.setItem("domenu-1KeepChanges", true);
      });
    
      if (window.localStorage.getItem("domenu-1KeepChanges") === "false")
        $keepChanges.attr("checked", false);
    });
  </script>
  <script src="/js/jquery.domenu-0.99.77.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/highlight.min.js"></script>
  <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>