<?php
    echo $this->headTitle(t('Update Page')); 
    $this->menu()->setActiveItem('application-page-list'); 
    $this->breadcrumb()->setItems([
        t('Home') => $this->url('application', ['lang' => $this->layout()->tools->getLang()]),
        t('Dashboard') => $this->url('application-admin', ['action' => 'dashboard', 'lang' => $this->layout()->tools->getLang()]),
        t('Edit Page') => '',
    ]);
    echo $this->breadcrumb()->render();
?>
<?php
	echo $this->inlineScript()->prependFile($this->basePath('/tinymce/tinymce.min.js'));
?>
 <script type="text/javascript">
tinymce.init({
	directionality : 'rtl',
    plugins: [
              "advlist autolink lists link image charmap print preview hr anchor pagebreak",
              "searchreplace visualblocks visualchars code fullscreen",
              "insertdatetime media nonbreaking save table contextmenu directionality",
              "emoticons template paste textcolor colorpicker textpattern imagetools responsivefilemanager lineheight"
          ],
    selector: "#application-page-content",
  	//toolbar: "insertfile undo redo |  bold italic sizeselect fontselect fontsizeselect lineheightselect| alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image jbimages | print preview media fullpage | forecolor backcolor emoticons | responsivefilemanager",
    toolbar: 'codesample | bold italic sizeselect fontselect fontsizeselect lineheightselect | hr alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | insertfile undo redo | forecolor backcolor emoticons | code | responsivefilemanager',
    
  	relative_urls: false,
  	external_filemanager_path:"/filemanager/",
    filemanager_title:"Responsive Filemanager" ,
    fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt 36pt",
    lineheight_formats: "8pt 9pt 10pt 11pt 12pt 14pt 16pt 18pt 20pt 22pt 24pt 26pt 36pt",
    width : 720,
	height: 200,
    external_plugins: { "filemanager" : "/filemanager/plugin.min.js"}
});	
</script>
<div class="container">
    <div class="row">
       
        <div class="col-lg-12">  
         <div class="col-sm-2"></div>
			<div class="col-sm-8"> 
            <hr>        
            <?php 
                $applicationPagesForm->prepare();
                echo $this->form()->openTag($applicationPagesForm);
                if (@$error)
                    echo "<div class=\"alert alert-danger\">$error</div>";
            ?>
            <div class="form-group">
                <?= $this->formRow($applicationPagesForm->get('title')) ?>
            </div>
            <div class="form-group">
                <?= $this->formRow($applicationPagesForm->get('slug')) ?>
            </div>
            <div class="form-group">
                    <?= $this->formRow($applicationPagesForm->get('meta_description')) ?>
            </div>
            <div class="form-group">
                    <?= $this->formRow($applicationPagesForm->get('content')) ?>
            </div>
            <div class="form-group">
                    <?= $this->formRow($applicationPagesForm->get('lang')) ?>
            </div>
            <div class="form-group">
                    <?= $this->formRow($applicationPagesForm->get('status')) ?>
            </div>
            <div>
                <?= $this->formRow($applicationPagesForm->get('application_page_form_csrf')) ?>
                <?= $this->formRow($applicationPagesForm->get('submit')) ?>
            </div>
        </div>
        </div>
    </div>
</div>
 