<?php
    echo $this->headTitle(t('Add Product Group')); 
    $this->menu()->setActiveItem('products-product-group-add');
  
     $this->breadcrumb()->setItems([
        t('Home') => $this->url('application', ['lang' => $this->layout()->tools->getLang()]),
        t('Dashboard') => $this->url('application-admin', ['action' => 'dashboard', 'lang' => $this->layout()->tools->getLang()]),
        t('Add Product Group') => '',
    ]);
  echo  $this->breadcrumb()->render();
?>
 <style>
.img-responsive{
	width:100%;
}
.fileupload-exists{
	 float:right;
}
span.fileupload-exists{
	 right:-5;
}
</style>
 <script src="/js/lib/jasny_plugins/bootstrap-fileupload.js"></script>
<div id="main_content_outer " class="clearfix ">
		<div id="main_content">
			<!-- main content -->  
		    <div class="row"> 
        <?php 
            $flash = $this->flashMessenger();
          
            $flash->setMessageOpenFormat('<div class="container" style="overflow: hidden;"> <div%s><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><div>')->setMessageCloseString('</div></div></div>');
            echo $flash->render('error', array('alert', 'alert-dismissable', 'alert-danger', 'custom-flash-messanger'));
            echo $flash->render('info', array('alert', 'alert-dismissable', 'alert-info', 'custom-flash-messanger'));
            echo $flash->render('default', array('alert', 'alert-dismissable', 'alert-warning', 'custom-flash-messanger'));
            echo $flash->render('success', array('alert', 'alert-dismissable', 'alert-success', 'custom-flash-messanger'));
        ?>
	   <div class="col-sm-11  ">
	 
		    </div>
		    
		    </div>
		    <div class="row"> 
		 <div class="col-sm-12  ">
			 <?php
    $form = $this->form;
    $form->prepare();
    echo $this->form()->openTag($form);
    ?>
	 <div class="col-sm-2"></div>
			  <div class="col-sm-8"> 
        		 <div class="form_sep">
                      <label for="reg_input_name" class=" "><?php  echo $form->get('avatar')->getLabel();?></label> 
						<div class="col-sm-12">
							<div class="fileupload fileupload-new" data-provides="fileupload">
								<input value="" name="" type="hidden">
								<div class="fileupload-new img-thumbnail"
									style="width: 178px; height: 120px;">
									<img src="/img/no_img_180.png" alt="">
								</div>
								<div class="fileupload-preview fileupload-exists img-thumbnail"
									style="width: 178px; height: 120px; line-height: 120px;"></div>
								<div>
									<span class="btn btn-default btn-file"><span
										class="fileupload-new"><?php echo t('Select image');?></span><span
										class="fileupload-exists"><?php echo t('Change');?></span><?php  echo $this->formElement($form->get('avatar'));?></span>
									<a href="#" class="btn btn-default fileupload-exists"
										data-dismiss="fileupload"><?php echo t('Remove');?></a>
								</div>
							</div>
						</div>
					</div>
        			 <div class="form_sep">
        					 <label for="" class="req"><?php  echo $form->get('name')->getLabel();?></label>
        					<?php  echo $this->formElement($form->get('name'));?>
        					 <div id="suggesstion-box"> </div>
        			 </div>  
        		  
        		 
                	<?php if ($form->has('parent_id')) { ?>
                	<div class="form_sep">
                		<label  for="" class="req"><?php echo $form->get('parent_id')->getLabel();?></label>
                		<?php echo $this->formElement($form->get('parent_id'));?> 
                	</div>
                	<?php } ?>
                 
                	<div class="form_sep">
                		<label  for="" ><?php echo $form->get('order')->getLabel();?></label>
                		<?php echo $this->formElement($form->get('order'));?> 
                	</div>
                	<div class="form_sep">
                		<label  for="" ><?php echo $form->get('icon')->getLabel();?></label>
                		<?php echo $this->formElement($form->get('icon'));?> 
                	</div>
                	<div class="form_sep">
                		<label  for=""  ><?php echo $form->get('keywords')->getLabel();?></label>
                		<?php echo $this->formElement($form->get('keywords'));?> 
                	</div>
                	<div class="form_sep">
                		<label  for="" ><?php echo $form->get('description')->getLabel();?></label>
                		<?php echo $this->formElement($form->get('description'));?> 
                	</div>
                	<div class="form_sep">
                	<div class="row">
                	<div class="col-lg-6">
                		<span  for="" class="req"><?php echo $form->get('is_parent')->getLabel();?></span>
                		<?php echo $this->formElement($form->get('is_parent'));?> 
                	 </div>
                	<div class="col-lg-6">
                		<span  for=""  ><?php echo $form->get('compareable')->getLabel();?></span>
                		<?php echo $this->formElement($form->get('compareable'));?> 
                	</div>
                	</div>
                	</div> 
        			 <div class="form_sep"> 
        					<?php  echo $this->formElement($form->get('csrf'));?>
        					<?php  echo $this->formElement($form->get('submitandnew'));?>
        					<?php  echo $this->formElement($form->get('submit'));?>
        			 </div> 
        		 
    			 
			  </div> 
				  <?php 
                echo $this->form()->closeTag();
                ?>
			 </div> 
	 </div> 
</div>	 
 
 