<?php 
    $this->headTitle(t('Add A New Tag'));
    $this->menu()->setActiveItem('application-content-add-tag'); 
    $this->breadcrumb()->setItems([
        t('Home') => $this->url('application', ['lang' => $this->layout()->tools->getLang()]),
        t('Dashboard') => $this->url('application-admin', ['action' => 'dashboard', 'lang' => $this->layout()->tools->getLang()]),
        t('Add A New Tag') => '',
    ]);
?>
<?php $this->menu()->setActiveItem('application-content-add-tag'); ?>
<link rel="stylesheet" href="/css/application/admin/dashboard.css"><script> </script>
<div class="container">
    <div class="row">
        <?php echo $this->partial('adminMenubar'); ?>
        <div class="col-lg-9">  
            <h1><?= t('Add A New Tag') ?></h1>    
            <hr>      
            <?php 
                $applicationTagsForm->prepare();
                echo $this->form()->openTag($applicationTagsForm);
                if (@$error)
                    echo "<div class=\"alert alert-danger\">$error</div>";
            ?>
            <div class="form-group">
                <?= $this->formRow($applicationTagsForm->get('parent_id')) ?>
            </div>
            <div class="form-group">
                <?= $this->formRow($applicationTagsForm->get('title')) ?>
            </div>
            <div class="form-group">
                    <?= $this->formRow($applicationTagsForm->get('description')) ?>
            </div>
            <div class="form-group">
                    <?= $this->formRow($applicationTagsForm->get('lang')) ?>
            </div>
            <div class="form-group">
                    <?= $this->formRow($applicationTagsForm->get('pre_defined')) ?>
            </div>
            <div class="form-group">
                    <?= $this->formRow($applicationTagsForm->get('status')) ?>
            </div>
            <div>
                <?= $this->formRow($applicationTagsForm->get('application_tags_form_csrf')) ?>
                <?= $this->formRow($applicationTagsForm->get('submit')) ?>
            </div>
        </div>
    </div>
</div>