<?php 
    $this->headTitle(t('Default Tags'));
    $this->menu()->setActiveItem('application-content-tags'); 
    $this->breadcrumb()->setItems([
        t('Home') => $this->url('application', ['lang' => $this->layout()->tools->getLang()]),
        t('Dashboard') => $this->url('application-admin', ['action' => 'dashboard', 'lang' => $this->layout()->tools->getLang()]),
        t('Tags') => '',
    ]);
?>
<link rel="stylesheet" href="/css/application/admin/dashboard.css"><script> </script>
<div class="container">
    <div class="row">
        <?php echo $this->partial('adminMenubar'); ?>
        <div class="col-lg-9">
            <h1><?= t('Default Tags') ?></h1>
            <hr>   
            <?php if ($tags) { ?>
                      <table class="table table-hover">
                          <thead>
                              <tr>
                                   <th>#</th>
                                   <th><?= t('Title') ?></th>
                                   <th><?= t('Edit') ?></th>
                                   <th><?= t('Delete') ?></th>
                              </tr>
                          </thead>
                          <tbody>
                              <?php foreach ($tags as $key => $tag) { ?>
                                        <tr>
                                            <td><?= ++$key ?></td>
                                            <td><?= $tag['title'] ?></td>
                                            <td><a href="<?= $this->url('application-admin', ['controller' => 'content','action' => 'update-tag','id' => $tag['id'], 'lang' => $this->layout()->tools->getLang()]) ?>" class="btn btn-xs btn-primary"><?= t('Edit') ?></a></td>
                                            <td><a href="<?= $this->url('application-admin', ['controller' => 'content','action' => 'delete-tag', 'id' => $tag['id'], 'lang' => $this->layout()->tools->getLang(), 'token' => $token]) ?>" class="delete-btn btn btn-xs btn-danger"><?= t('Delete') ?></a></td>
                                        </tr>
                              <?php } ?>
                          </tbody>
                      </table>  
            <?php } ?>
		    <div id="modal" class="modal fade">
		        <div class="modal-dialog">
		            <div class="modal-content">
		                <div class="modal-header">
		                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                    <h4 class="modal-title"><?= t('Are you sure you want to delete?') ?></h4>
		                </div>
		                <div class="modal-body">
		                    <p><?= t('This record cannot be retrieved after deletion!') ?></p>
		                </div>
		                <div class="modal-footer">
		                    <button type="button" class="btn btn-default" data-dismiss="modal"><?= t('Cancel') ?></button>
		                    <a style="margin-right: 17px;" class="btn btn-danger" href="#"><?= t('Yes I`m') ?></a>
		                </div>
		            </div>
		        </div>
		    </div>
        </div>
    </div>
</div>

<script>
    $('.delete-btn').click(function(e) {
        e.preventDefault();
        $('#modal').modal();
        $('#modal .modal-footer a').attr('href', $(this).attr('href'));
    });
</script> 