<?php 
    $this->headTitle(t('Update Content'));
    $this->menu()->setActiveItem('application-content-articles'); 
    $this->breadcrumb()->setItems([
        t('Home') => $this->url('application', ['lang' => $this->layout()->tools->getLang()]),
        t('Dashboard') => $this->url('application-admin', ['action' => 'dashboard', 'lang' => $this->layout()->tools->getLang()]),
        t('Update Content') => '',
    ]);
?>
<link rel="stylesheet" href="/css/application/admin/dashboard.css"><script> </script>

<div class="container">
    <div class="row">
        <?php echo $this->partial('adminMenubar'); ?>
        <div class="col-lg-9">  
            <h1><?= t('Update Content') ?></h1>
            <hr>          
            <?php 
                $applicationContentsForm->prepare();
                echo $this->form()->openTag($applicationContentsForm);
                if (@$error)
                    echo "<div class=\"alert alert-danger\">$error</div>";
            ?>
            <div class="form-group">
                <?= $this->formRow($applicationContentsForm->get('title')) ?>
            </div>
            <div class="form-group">
                    <?= $this->formRow($applicationContentsForm->get('meta_description')) ?>
            </div>
            <div class="form-group">
                    <?= $this->formRow($applicationContentsForm->get('content')) ?>
            </div>
            <div class="form-group">
                    <?= $this->formRow($applicationContentsForm->get('status')) ?>
            </div>
            <div>
                <?= $this->formRow($applicationContentsForm->get('application_contents_form_csrf')) ?>
                <?= $this->formRow($applicationContentsForm->get('submit')) ?>
            </div>
        </div>
    </div>
</div>


