<?php
echo $this->headTitle(t('Edit Attribute'));
$this->menu()->setActiveItem('products-attribute');
$optionHtml = ''; 
if($this->options) {
    foreach ($this->options as $option) {
        $optionHtml .= '
        <div class="aoptional">
        	<label for="options" data-id="'.$option['id'].'">عنوان: </label>
            <input class="form-control" name="options[]" data-id="'.$option['id'].'" type="text"  value="'.$option['label'].'">
            <label for="options" data-id="fbm19o">مقدار: </label>
            <input class="form-control" name="values[]" data-id="'.$option['id'].'" type="text" value="'.$option['value'].'">
            <a href="#dx" class="btn btn-danger" id="btnRemove" onclick="remove_item("'.$option['id'].'")" data-id="'.$option['id'].'"><i class="glyphicon glyphicon-minus"></i></a>
        </div>';
    }
}
?>
<div id="main_content_outer" class="clearfix">
	<div id="main_content">
		<!-- main content -->
		<div class="row"> 
            <?php
            $flash = $this->flashMessenger();
            $flash->setMessageOpenFormat('<div class="container" style="overflow: hidden;"> <div%s><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><div>')->setMessageCloseString('</div></div></div>');
            echo $flash->render('error', array(
                'alert',
                'alert-dismissable',
                'alert-danger',
                'custom-flash-messanger'
            ));
            echo $flash->render('info', array(
                'alert',
                'alert-dismissable',
                'alert-info',
                'custom-flash-messanger'
            ));
            echo $flash->render('default', array(
                'alert',
                'alert-dismissable',
                'alert-warning',
                'custom-flash-messanger'
            ));
            echo $flash->render('success', array(
                'alert',
                'alert-dismissable',
                'alert-success',
                'custom-flash-messanger'
            ));
            ?>
		     
    		    <div class="col-sm-12"> 
    		     		<?php
            $this->breadcrumb()->setItems([
                t('Home') => $this->url('application', [
                    'lang' => $this->layout()->tools->getLang()
                ]),
                t('Attribute') => $this->url('products-attribute', [
                    'action' => 'list',
                    'lang' => $this->layout()->tools->getLang()
                ]),
                t('Edit Attribute') => $this->url('products-attribute', [
                    'action' => 'edit',
                    'lang' => $this->layout()->tools->getLang()
                ]),
                $this->name =>  1 
            
            ]);
            echo $this->breadcrumb()->render();
            ?>
    		     </div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12  ">
			 <?php
    $form = $this->form;
    $form->prepare();
    // Render the opening tag
    echo $this->form()->openTag($form);
    ?>
		 
		  <div class="col-sm-2"></div>
			<div class="col-sm-8">
				<div class="form_sep">
					<label for="" class="req"><?php  echo $form->get('name')->getLabel();?></label>
        		    <?php  echo $this->formElement($form->get('name'));?>
        	    </div>
				<div class="form_sep">
					<label class="req"><?php  echo $form->get('latin_name')->getLabel();?></label>
        					<?php  echo $this->formElement($form->get('latin_name'));?>
        		 </div> 
        			 <?php if ($form->has('parent_id')) { ?>
        		 <div class="form_sep">
					<label for="" class="req"><?php  echo $form->get('parent_id')->getLabel();?></label>
        			 <?php  echo $this->formElement($form->get('parent_id'));?>
        		 </div> 
        			 <?php } ?>
        		 <div class="form_sep">
					<label for=""><?php  echo $form->get('is_parent')->getLabel();?></label>
        					<?php  echo $this->formElement($form->get('is_parent'));?>
        		 </div>
				 <div class="form_sep">
					<label for=""><?php  echo $form->get('active')->getLabel();?></label>
        					<?php  echo $this->formElement($form->get('active'));?>
        		 </div>
				 <div class="form_sep">
					<label for=""><?php  echo $form->get('type')->getLabel();?></label>  
                	 <?php echo $this->formElement($form->get('type'));?>
					<div class="col-sm-9"> 
                			<a href="#addnewtype" class="btn btn-success" id="add_option_button" onclick="add_option()" hidden><i class="glyphicon glyphicon-plus"></i></a>
                			<?php if($optionHtml != '') {
                			    echo $optionHtml;
                			}?>
                			<span id="options_holder">
                			</span> 
					</div>
				</div>
				<div class="form_sep">
					<label for="" class="req"><?php  echo $form->get('assign_to')->getLabel();?></label>
        					<?php  echo $this->formElement($form->get('assign_to'));?>
        		</div> 
				<div class="form_sep"> 
    				<?php 
                        echo $this->formElement($form->get('csrf')); 
                        echo $this->formElement($form->get('submit'));
                        echo $this->form()->closeTag();
                    ?>
        		 </div>  
			</div> 
		</div>
	</div>
</div>
<script>
function show_add_option_button()
{ 
	$("#options_holder").html('');
	 
	var type = $("#type").val() ;
	if(type  == "multiselect" || type  == "select"|| type  == "checkbox") {
		$("#add_option_button").hide().show();
	} else {
		$("#add_option_button").show().hide();
	}
}

function add_option()
{  
	if($("#type").val() == "select") {
    	var random_id = Math.random().toString(36).substring(7);
    	$("#options_holder").append("<div class=\"oh\">\
    	    	<label for='options' data-id=" + random_id + " >عنوان: </label>\
    	    	<input type='text' class='form-control' name='options[]' data-id=" + random_id + " />\
    	    	<label for='options' data-id=" + random_id + " >مقدار: </label>\
    	    	<input type='text' class='form-control' name='values[]' data-id=" + random_id + ">\
    	    	<a href=\"#dx\" class=\"btn btn-danger\" id ='btnRemove' onclick=\"remove_item('" + random_id + "')\" data-id=" + random_id + "><i class='glyphicon glyphicon-minus'></i></a>\
    	    	</div>")
	} else if ($("#type").val() == "checkbox") {
		var random_id = Math.random().toString(20).substring(5);
    	$("#radio_holder").append("<div class=\"oh\">\
    	    	<label for='options' data-id=" + random_id + " >عنوان: </label>\
    	    	<input type='text' class='form-control' name='options[]' data-id=" + random_id + " />\
    	    	<label for='options' data-id=" + random_id + " >مقدار: </label>\
    	    	<input type='text' class='form-control' name='values[]' data-id=" + random_id + ">\
    	    	<a href=\"#dx\" class=\"btn btn-danger\" id ='btnRemove' onclick=\"remove_item('" + random_id + "')\" data-id=" + random_id + "><i class='glyphicon glyphicon-minus'></i></a>\
    	    	</div>")
	} else if ($("#type").val() == "multiselect") {
		var random_id = Math.random().toString(36).substring(7);
    	$("#options_holder").append("<div class=\"oh\">\
    			<label for='options' data-id=" + random_id + " >عنوان: </label>\
    	    	<input type='text' class='form-control' name='options[]' data-id=" + random_id + " />\
    	    	<label for='options' data-id=" + random_id + " >مقدار: </label>\
    	    	<input type='text' class='form-control' name='values[]' data-id=" + random_id + ">\
    	    	<a href=\"#dx\" class=\"btn btn-danger\" id ='btnRemove' onclick=\"remove_item('" + random_id + "')\" data-id=" + random_id + "><i class='glyphicon glyphicon-minus	'></i></a>\
    	    	</div>")
	} else {
		alrt(3);
	}
}

function remove_item(id)
{
	$("label[data-id="+id+"]").parent().remove();
}

$("#type").change(function(){
	$("#radio_holder", "#options_holder").html('');
});

show_add_option_button();
</script>
<style>
.oh {
    padding: 10px;
}
.oh label {
    margin: 0px 10px;
}
a#btnRemove {
    margin-right: 10px;
}
</style>




