<ul id="text_nav_side_fixed">
		<?php
$userPermissions = $this->layout()->userPermissions;
$menu = $this->menu()->renderAdminMenuBar();
if ($menu) {
    foreach ($menu as $item) {
        $htmlMenu = '';
        if (isset($item['permission'])) {
            if (! in_array($item['permission'], $userPermissions)) {
                continue;
            }
        }
 
        $hasSub = false;
        $htmlPage = '';
        if (isset($item['pages'])) {
            foreach ($item['pages'] as $page) {
                $isActive = '';
                if (! in_array($page['permission'], $userPermissions)) {
                    continue;
                }
                $isActive = ($page['permission'] == $this->menu()->getActiveMenu());
                $hasSub = true;
                $ib = isset($page['class']) ? '<span class="' . $page['class'] . '"></span>' : '';
                $htmlPage .= "<li class='" . ($isActive ? 'parent_active' : '') . "'> <a href='{$page['link']}'>{$ib}{$page['label']} </a>";
                $hasSubSub = false; 
                if (isset($page['pages'])) {
                    $htmlPage .= "<ul class='' style='display:none' data-index='3'>";
                    foreach ($page['pages'] as $pag) {
                        $hasSubSub = true;
                        $isActive = ($pag['permission'] == $this->menu()->getActiveMenu());
                        if (! in_array($pag['permission'], $userPermissions)) {
                            continue;
                        }
                        $htmlPage .= "<li class='" . ($isActive ? 'link_active' : '') . "'> <a href='{$pag['link']}'> {$pag['label']}</a></li>";
                    }
                    $htmlPage .= "</ul>";
                }
                $htmlPage .= "</li>";
            }
        }
        if ($hasSub) {
            $ib = isset($item['class']) ? '<span class="' . $item['class'] . '"></span>' : '';
         //   $htmlMenu = "<li class='" . ($isActive ? 'parent_active' : '') . "'> <a href='{$page['link']}'> {$ib}{$item['label']}</a> 
            $htmlMenu = "<li class=''> <a href='{$page['link']}'> {$ib}{$item['label']}</a> 
							<ul class=''>
								$htmlPage
							</ul>
						</li>";
        } else {
            if (isset($item['permission'])) {
                $ib = isset($item['class']) ? '<span class="' . $item['class'] . '"></span>' : '';
                $htmlMenu = "<li> <a href='{$item['link']}'>{$ib}{$item['label']}</a> </li>";
            }
        }
        echo $htmlMenu;
    }
}
?>
</ul>
