<?= $this->doctype() ?> 
<?php $currentLang = $this->layout()->tools->getLang(); ?>
<html lang="<?= $currentLang ?>">
    <head>
        <meta charset="utf-8">
        <meta name="fontiran.com:license" content="ZWCEA">
        <?= $this->headTitle('') ?>

        <?= $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0')->appendHttpEquiv('X-UA-Compatible', 'IE=edge') ?>

        <?= $this->headLink ( array (
					'rel' => 'shortcut icon',
					'type' => 'image/x-icon',
					'href' => $this->basePath () . '/img/favicon.ico'))  
					->prependStylesheet ( $this->basePath () .'/js/validator/css/validation.css') 
                    ->prependStylesheet ( $this->basePath () . '/css/style_rtl.css' ) 
            		->prependStylesheet ( $this->basePath () . '/js/lib/owl-carousel/owl.carousel.css' )
                	->prependStylesheet ( $this->basePath () . '/js/lib/jvectormap/jquery-jvectormap-1.2.2.css' )
                	->prependStylesheet ( $this->basePath () . '/js/lib/bootstrap-switch/stylesheets/ebro_bootstrapSwitch.css' )
                 	->prependStylesheet ( $this->basePath () . '/js/lib/bootstrap-switch/stylesheets/bootstrap-switch.css' )
                    ->prependStylesheet ( $this->basePath () . '/js/select2/select2.css' )
                    ->prependStylesheet ( $this->basePath () . '/css/retina.css' )
                    ->prependStylesheet ( $this->basePath () . '/img/flags/flags.css' )
                    ->prependStylesheet ( $this->basePath () . '/css/font-awesome/css/font-awesome.css' ) 
                    ->prependStylesheet ( $this->basePath () . '/bootstrap/css/bootstrap.min.css' )  
			;	
        ?>
        <?= $this->headLink(
			    array(
			        'rel' => 'stylesheet',
			        'href' => $this->basePath() . '/css/theme/color_3.css',
			        'extras' => array('id' => 'theme')
			    )
			);
        ?>
 
          <?php
	          echo  $this->headScript()
	           ->prependFile($this->basePath()  . '/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',)) 
               ->prependFile($this->basePath() . '/js/pages/ebro_dashboard.js') 
               ->prependFile($this->basePath() . '/js/upload-script.js')
               ->prependFile($this->basePath() . '/js/lib/fullcalendar/fullcalendar.js')
               ->prependFile($this->basePath() . '/js/lib/jquery_ui/jquery-ui-1.10.3.custom.min.js') 
               ->prependFile($this->basePath() . '/js/lib/magnific-popup/jquery.magnific-popup.min.js')
               ->prependFile($this->basePath() . '/js/lib/owl-carousel/owl.carousel.min.js')
               ->prependFile($this->basePath() . '/js/lib/FitVids/jquery.fitvids.js') 
               ->prependFile($this->basePath() . '/js/lib/easy-pie-chart/jquery.easy-pie-chart.js')
               ->prependFile($this->basePath() . '/js/lib/jvectormap/maps/jquery-jvectormap-world-mill-en.js')
               ->prependFile($this->basePath() . '/js/lib/jvectormap/jquery-jvectormap-1.2.2.min.js')
               ->prependFile($this->basePath() . '/js/lib/peity/jquery.peity.min.js')
               ->prependFile($this->basePath() . '/js/ebro_common_rtl.js') 
               ->prependFile($this->basePath() . '/js/lib/navgoco/jquery.navgoco.min.js')
               ->prependFile($this->basePath() . '/js/jquery.touchSwipe.min.js')
               ->prependFile($this->basePath() . '/js/lib/bootstrap-switch/js/bootstrap-switch.min.js')
               ->prependFile($this->basePath() . '/js/lib/jQuery-slimScroll/jquery.slimscroll.min.js')
	           ->prependFile($this->basePath() . '/js/tinynav.js')
               ->prependFile($this->basePath() . '/js/lib/typeahead.js/hogan-2.0.0.js')
               ->prependFile($this->basePath() . '/js/lib/typeahead.js/typeahead.min.js')
               ->prependFile($this->basePath() . '/js/retina.min.js')
               ->prependFile($this->basePath() . '/js/jquery_cookie.min.js')
               ->prependFile($this->basePath() . '/js/jquery.ba-resize.min.js')
               ->prependFile($this->basePath() . '/js/validator/js/jquery.validationEngine.js')
               ->prependFile($this->basePath() . '/js/select2/select2.js')
               ->prependFile($this->basePath() . '/js/validator/languages/jquery.validationEngine-fa.js')
               ->prependFile($this->basePath() . '/bootstrap/js/bootstrap.min.js')
               ->prependFile($this->basePath() . '/js/jquery.min.js')
	        ;  
    ?> 
   
    <style type="text/css">
            .border {
            	border:1px #eee solid;
            	padding:20px;
            	margin-bottom:20px;
            }
            #suggesstion-box {
            	display:none;
            	color:red;
            	text-align:center
            }
            .table-responsive {
            	margin-bottom:50px !important;
            }
           th {
            	text-align:right !important;
            }
            select{
            	height:40px !important;
            }
            table i{
            	border:0px red solid;
            	padding:5px; 
            }
            table i.glyphicon{
            	width: 2em  !important;
            }
        </style>
    </head>
 
	<body class=" sidebar_hidden side_fixed sidebar_right">
	
		<div id="wrapper_all">
			<header id="top_header">
				<div class="container">
					 <div class="row">
						 
						<div class="col-sm-push-4 col-sm-3 text-right hidden-xs">
							<!-- <div class="notification_dropdown dropdown">
								<a href="#" class="notification_icon dropdown-toggle" data-toggle="dropdown">
									<span class="label label-danger">8</span>
									<i class="icon-comment-alt icon-2x"></i>
								</a>
								<ul class="dropdown-menu">
									<li>
										<div class="dropdown_heading">Comments</div>
										<div class="dropdown_content">
											<ul class="dropdown_items">
												<li>
													<h3><span class="small_info">12:43</span><a href="#">Lorem ipsum dolor&hellip;</a></h3>
													<p>Lorem ipsum dolor sit amet&hellip;</p>
												</li>
												<li>
													<h3><span class="small_info">Today</span><a href="#">Lorem ipsum dolor&hellip;</a></h3>
													<p>Lorem ipsum dolor sit amet&hellip;</p>
												</li>
												<li>
													<h3><span class="small_info">14 Aug</span><a href="#">Lorem ipsum dolor&hellip;</a></h3>
													<p>Lorem ipsum dolor sit amet&hellip;</p>
												</li>
											</ul>
										</div>
										<div class="dropdown_footer"><a href="#" class="btn btn-sm btn-default">Show all</a></div>
									</li>
								</ul>
							</div> -->
							
							<div class="notification_separator"></div>
							<div class="notification_dropdown dropdown">
								<a href="/admin-ticketing/tickets" class="notification_icon "  >
									<span class="label label-danger hidden" id="label-danger" > </span>
									<i class="icon-envelope-alt icon-2x"></i>
								</a>
								<ul class="dropdown-menu dropdown-menu-wide">
					<!-- 				<li>
										<div class="dropdown_heading">Messages</div>
										<div class="dropdown_content">
											<ul class="dropdown_items">
												<li>
													<h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
													<p class="large_info">Sean Walter, 24.05.2014</p>
													<i class="icon-exclamation-sign indicator"></i>
												</li>
												<li>
													<h3><a href="#">Lorem ipsum dolor&hellip;</a></h3>
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aliquam assumenda&hellip;</p>
													<p class="large_info">Sean Walter, 24.05.2014</p>
												</li>
												<li>
													<h3><a href="#">Lorem ipsum dolor&hellip;</a></h3>
													<p>Lorem ipsum dolor sit amet, consectetur&hellip;</p>
													<p class="large_info">Sean Walter, 24.05.2014</p>
													<i class="icon-exclamation-sign indicator"></i>
												</li>
											</ul>
										</div>
										<div class="dropdown_footer">
											<a href="#" class="btn btn-sm btn-default">Show all</a>
											<div class="pull-right dropdown_actions">
												<a href="#"><i class="icon-refresh"></i></a>
												<a href="#"><i class="icon-cog"></i></a>
											</div>
										</div>
									</li> -->
								</ul>
							</div>
						</div>
						<div class="col-xs-6 col-sm-push-4 col-sm-3">
							<div class="pull-right dropdown">
							 
							<?php
							/* if ($user) {  
							    $name =  $user['firstname'] .' '. $user['lastname'] ;
							    if ($user['username']  != '') { 
							        if($user['avatar'] == '') {
							            $image = '/img/user_avatar.png';
							        } else {
							            $image = '/uploads/avatar/'.$user['avatar']; 
							        }
							        echo '<a href="#" class="user_info dropdown-toggle" title='.$name.'>  '.$name.'
							           <img   src="'.$image.'" alt="">
                                                <!-- <span class="caret"></span> -->
                                         </a>';
								}  
							 }  */
							 ?>
							</div>
						</div>
						<div class="col-xs-12 col-sm-pull-6 col-sm-4">
							<a href="/"> <img class="img-responsive" style="margin-top:-5px;" src="/images/logo.png" alt=""> </a>
						</div>
					</div>
					
				</div>
			</header>						
 
			<!-- mobile navigation -->
			<nav id="mobile_navigation"></nav>
		 
	 <br>
  
			 <section class="container clearfix main_section">
				<div id="main_content_outer" class="clearfix">
					<div id="main_content">
						 
						<div class="row">
							<div class="col-lg-3 col-md-6">
								<div class="box_stat box_ico">
									<span class="stat_ico stat_ico_1"><i class="li_vallet"></i></span>
									<h4>11</h4>
									<small><?php echo t("Waiting Projects"); ?></small>
								</div>
							</div>
							<div class="col-lg-3 col-md-6">
								<div class="box_stat box_ico">
									<span class="stat_ico stat_ico_2"><i class="li_user"></i></span>
									<h4>865</h4>
									<small><?php echo t("New Projects"); ?></small>
								</div>
							</div>
							<div class="col-lg-3 col-md-6">
								<div class="box_stat box_ico">
									<span class="stat_ico stat_ico_3"><i class="li_banknote"></i></span>
									<h4>120</h4>
									<small><?php echo t("Projects"); ?></small>
								</div>
							</div>
							<div class="col-lg-3 col-md-6">
								<div class="box_stat box_ico">
									<span class="stat_ico stat_ico_4"><i class="li_truck"></i></span>
									<h4>135</h4>
									<small><?php echo t("Users"); ?></small>
								</div>
							</div>
						</div>
			        </div>
			 
				</div>
			</section>
			<br>
			<br>
			<br>
			<?php if(2>5) {?>
			<section id="breadcrumbs">
				<div class="container">
		          <ul>
				 <li><a href="<?php echo $homeUrl;?>"><?php echo    t("dashboard");?></a></li> 
						     
                <?php if(isset($this->layout()->LinkData['controller']) && $this->layout()->LinkData['controller'] !='') {?>
                   		    <li><a href="<?php echo $homeUrl;?>"><?php  echo $this->layout()->LinkData['controller'] ;?></a></li> 
                   		       
                <?php }?>
                <?php if(isset($this->layout()->LinkData['extra']) && $this->layout()->LinkData['extra'] !='') {?>
                 <li><a href="#"><?php if(isset($this->layout()->LinkData['action']) && $this->layout()->LinkData['action'] !='') { echo $this->layout()->LinkData['action'] ;?></a></li>
                <li><span>
                <?php }?>
                <?php echo $this->layout()->LinkData['extra'] ;?></span></li><?php }else {
                	  if(isset($this->layout()->LinkData['action']) && $this->layout()->LinkData['action'] !='') {
                ?>
                <li><span><?php echo $this->layout()->LinkData['action'] ;?></span></li>
                <?php 
                }
                }?>
					</ul>
				</div>
			</section>
			 <?php } ?>
			<br>
			<br>
			<section class="container clearfix main_section border">
				<div id="main_content_outer" class="clearfix">
					<div id="main_content" class=" ">
		 
						<?= $this->content; ?>
	 
					</div>
				</div>
			</section>
			<div id="footer_space"></div>
		</div>
<?php 

//     $urlDashboard = $this->url('application', array(
//                             		'controller' => 'index',
//                             		'action' => 'index'
//                             ));
?>
        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                            <p><span class="fa fa-copyright"></span> تمامی حقوق محفوظ است.   <a href="#"> </a></p>
                       
                    </div>
                    <div class="col-sm-8">
                        <ul>
 
                        </ul>
                    </div>
                    <div class="col-sm-1 text-right">
                      <!--   <small class="text-muted">1396/04/01</small> -->
                    </div>
                </div>
            </div>
        </footer>
        	
 
 
 	<nav id="side_fixed_nav">
			<div class="slim_scroll">
				<div class="side_nav_actions">
					<a href="javascript:void(0)" id="side_fixed_nav_toggle"><span class="icon-align-justify"></span></a>
					<div id="toogle_nav_visible" class="make-switch switch-mini" data-on="success" data-on-label="<i class='icon-lock'></i>" data-off-label="<i class='icon-unlock-alt'></i>">
						<input id="nav_visible_input" type="checkbox">
					</div>
				</div>
		       <?php echo $this->partial('adminMenubar'); ?>
			</div>
		</nav>
 
	
    <!-- style switcher -->
		<div id="style_switcher_rtl" class="switcher_open">
            <a href="#" class="switcher_toggle"><i class="icon-cog"></i></a>
			<div class="style_items">
				<p class="style_title">Theme</p>
				<ul class="clearfix" id="theme_switch">
					<li class="style_active" style="background:#48ac2e" title="color_1"><?php echo t("Color 1"); ?></li>
					<li style="background:#993399" title="color_2"><?php echo t("Color 2"); ?></li>
					<li style="background:#168cbe" title="color_3"><?php echo t("Color 3"); ?></li>
					<li style="background:#d61110" title="color_4"><?php echo t("Color 4"); ?></li>
					<li style="background:#e96710" title="color_5"><?php echo t("Color 5"); ?></li>
					<li style="background:#262626" title="color_6"><?php echo t("Color 6"); ?></li>
					<li style="background:#01aaad" title="color_7"><?php echo t("Color 7"); ?></li>
					<li style="background:#9c5100" title="color_8"><?php echo t("Color 8"); ?></li>
					<li style="background:#e31a8f" title="color_9"><?php echo t("Color 9"); ?></li>
					<li style="background:#ffbb0e" title="color_10"><?php echo t("Color 10"); ?></li>
					<li style="background:#79be0b" title="color_11"><?php echo t("Color 11"); ?></li>
					<li style="background:#887171" title="color_12"><?php echo t("Color 12"); ?></li>
					<li style="background:#28abe2" title="color_13"><?php echo t("Color 13"); ?></li>
					<li style="background:#2f7138" title="color_14"><?php echo t("Color 14"); ?></li>
					<li style="background:#ce4627" title="color_15"><?php echo t("Color 15"); ?></li>
					<li style="background:#693986" title="color_16"><?php echo t("Color 16"); ?></li>
					<li style="background:#7f8c8d" title="color_17"><?php echo t("Color 17"); ?></li>
					<li style="background:#2c3e50" title="color_18"><?php echo t("Color 18"); ?></li>
					<li style="background:#34495e" title="color_19"><?php echo t("Color 19"); ?></li>
					<li style="background:#1abc9c" title="color_20"><?php echo t("Color 20"); ?></li>
				</ul>
			</div>
			<div class="style_items" id="sidebar_switch" style="display:block; ">
				<p class="style_title"><?php echo t("Sidebar position"); ?></p>
				<label class="radio-inline">
					<input type="radio" name="sidebar_position" id="sidebar_left" value="left" checked> <?php echo t("Left"); ?>
				</label>
				<label class="radio-inline">
					<input type="radio" name="sidebar_position" id="sidebar_right" value="right"> <?php echo t("Right"); ?>
				</label>
			</div>
			<div class="style_items" id="layout_switch">
				<p class="style_title"><?php echo t("Layout"); ?></p>
				<select name="layout_style" id="layout_style" class="form-control">
					<option value="fixed"> <?php echo t("Fixed"); ?></option>
					<option value="full_width" class="hidden-sm hidden-md"><?php echo t("Full Width"); ?></option>
					<option value="boxed" class="hidden-sm hidden-md">><?php echo t("Boxed"); ?></option>
				</select>
			</div>
			<div class="style_items" id="style_pattern">
				<p class="style_title"><?php echo t("Pattern (boxed layout)"); ?></p>
				<ul class="clearfix">
					<li class="pattern_active" style="background:url(/img/patterns/pattern_1.png) no-repeat 0 0" title="pattern_1"></li>
					<li style="background:url(/img/patterns/pattern_2.png) no-repeat 0 0" title="pattern_2"><?php echo t("Pattern"); ?> 2</li>
					<li style="background:url(/img/patterns/pattern_3.png) no-repeat 0 0" title="pattern_3"><?php echo t("Pattern"); ?> 3</li>
					<li style="background:url(/img/patterns/pattern_4.png) no-repeat 0 0" title="pattern_4"><?php echo t("Pattern"); ?> 4</li>
					<li style="background:url(/img/patterns/pattern_5.png) no-repeat 0 0" title="pattern_5"><?php echo t("Pattern"); ?> 5</li>
					<li style="background:url(/img/patterns/pattern_6.png) no-repeat 0 0" title="pattern_6"><?php echo t("Pattern"); ?> 6</li>
					<li style="background:url(/img/patterns/pattern_7.png) no-repeat 0 0" title="pattern_7"><?php echo t("Pattern"); ?> 7</li>
					<li style="background:url(/img/patterns/pattern_8.png) no-repeat 0 0" title="pattern_8"><?php echo t("Pattern"); ?> 8</li>
					<li style="background:url(/img/patterns/pattern_9.png) no-repeat 0 0" title="pattern_9"><?php echo t("Pattern"); ?> 9</li>
					<li style="background:url(/img/patterns/pattern_10.png) no-repeat 0 0" title="pattern_10"><?php echo t("Pattern"); ?> 10</li>
				</ul>
			</div>
			<div class="text-center">
				<button class="btn btn-default" id="style_reset">Reset</button>
			</div>
        </div> 
 <div id="modal" class="modal fade">
	<div class="modal-dialog">

		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title">&nbsp;</h4>
			</div>
			<div class="modal-body">
				<h5><?php echo t('Are you sure to delete this?')?></h5>
				<p><?php echo t('Pay attention: after delete the item, you could not recover it!')?></p>
			</div>
			<div class="modal-footer">
			     <div class="form-group pull-left">
    				<a style="margin-right: 17px;" class="btn btn-xs btn-danger"
    					href="#"><?php echo t('Yes! I want to delete.')?></a>
			     </div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">  
 $(document).ready(function(){    
     $('#namechecker').change(function(e){ 
 		$("#namechecker").css("background","#FFF url(/images/LoaderIcon.gif) no-repeat 15px");
         var name = this.value;
         var url = $(this).attr('data-url'); 
    	 $.ajax({
          type: "POST",
          url :url,
          data : {
              name : name
          } ,
          success: function(result) {  
        	 $("#namechecker").css("background","#FFF");
 	         if (result == 'isExist') { 
  	        	   $("#suggesstion-box").show();
                   $("#suggesstion-box").html('<?php echo t("This name Is Exist"); ?>');
                   $("#suggesstion-box").delay(2000);
                   $("#suggesstion-box").hide(1000);
                   $('#namechecker').val('');
 	         }   
          }
      });
     });
     $('.submitBtn').click(function(e){  
       //  e.preventDefault(); 
       
         $("#form").validationEngine(); 
         if($("#form").validationEngine('validate')) 
         { 
        	   $("#form").submit();
         }
     });   


     $('.glyphicon-remove').click(function(e) { 
 	    e.preventDefault();
 	    var deletedId = $(this).parent().attr('attr-id');
 	    var urlAjax = $(this).parent().attr('attr-url');
 	    var mytr =   $(this).closest('tr'); 
 	    if((deletedId) &&  urlAjax) {  
 	       $.ajax({
 	  	        url: urlAjax ,
 	  	        data: {
 	  	            id:deletedId
 	  	        },
 	  	        type: 'POST',
 	  	        success: function(data) { 
 	  	              var result = $.parseJSON(data);  
 	    	           if(result == 1) {
 	    	        	   mytr.remove(); 
 	       	           }  
 	  	        }, 
 	  	     });  
 	    } else {
 	        $('#modal').modal();
 	    	$('#modal .modal-footer a').attr('href', $(this).closest('a').attr('href'));
 	    }
 	});
 });  

 </script>