<?php
$user =  $this->userData;
 
?>
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>پروژه سایت فروشگاهی</title>
   
     <?= $this->headTitle('') ?> 
        <?= $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0')->appendHttpEquiv('X-UA-Compatible', 'IE=edge') ?>

        <?php 
        echo $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/main/favicon.ico'])
            ->prependStylesheet ( $this->basePath () .'/js/validator/css/validation.css') 
            ->prependStylesheet ( $this->basePath () . '/mainhtml/css/style.css' ) 
        ?>
</head>
   <?= $this->content ?>
<body>
    <header class="header">
        <nav class="logo-search">
            <div class="container">
                <div class="logo">
                    <a href="/"><?php   echo $this->getPlugin("Block/index/index",   array("position" => "logo"));  ?></a>
                   
                </div>
                <!-- End Logo Part -->

     
                <?php   echo $this->getPlugin("content/index/dropdownmenu");  ?>
                <!-- End Drop Down Part -->
                <?php   echo $this->getPlugin("content/index/searchbox");  ?>

             
                <!-- End Search Box --> 
                <div class="social"> 
                 <?php   echo $this->getPlugin("link/index/index", array('layout'=>'social','position'=>'social'));  ?>
                 <?php    if(isset($user->is_customer )){ 
                    ?>
                	 <span id="myBtn" class="link-item"  ><?php echo $user->fullname; ?></span>
                    <a href="/logout" class="link-item"  ><?php echo t("Log Out") ?></a>
                 <?php    } else {?>
                    <a href="#myModal" id="myBtn" class="link-item"  >ثبت نام</a>
                    <a href="#loginModal" id="myBtnLogin"  class="link-item"  >ورود</a>
                 <?php    } ?>
                </div>
                <!-- End Social Box -->
            </div>
        </nav>
        
                <?php   echo $this->getPlugin("content/index/mainmenu");  ?>

        <!-- End Menu Wrapper --> 
          <?php   echo $this->getPlugin("link/index/index", array('layout'=>'under-navigation','position'=>'under-navigation'));  ?>
    </header>
    <!-- End Header --> 
		<?php  echo $this->getPlugin("Content/index/index",   array("position" => "kavosh")); ?>
    <!-- End Find Phone Wrapper -->

    <div class="image-category-wrapper">
        <div class="container">
            <div class="width_33 flot">
                <div class="text-center">
                    <a href="#"><img src="/mainhtml/images/category/1.jpg" alt="title here" title="title here"></a>
                </div>
            </div>
            <div class="width_33 flot">
                <div class="text-center">
                    <a href="#"><img src="/mainhtml/images/category/2.jpg" alt="title here" title="title here"></a>
                </div>
            </div>
            <div class="width_33 flot">
                <div class="text-center">
                    <a href="#"><img src="/mainhtml/images/category/3.jpg" alt="title here" title="title here"></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Login Box-->
    <div id="loginModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
			<div id="signup-box" class="up-slider login-like-box opened"  >
				<div class="wrap">
					 
					<div class="email-box"> 
						<form action="/loginuserr" method="POST" id="login_form"  >
							<div class=" " id="label_danger_login" ></div>
							 
							<p>
								<span class="iwrap type-text"><span class="error-msg"></span><label><?php echo t("Email"); ?></label> 
								 <input placeholder="<?php echo t("Enter your email address"); ?>" name="email" class="text-input validate[required,custom[email]] " type="text"> 
							</p>
							<p> 
								<label><?php echo t("Password"); ?></label> 
								 <input placeholder="enter your password" name="password" class="validate[required]" type="password">
						 	</p>
							<input name="next" value="/" type="hidden">
							<p>
								<input name="action" value="<?php echo t("Login"); ?>" class="button big submitBtnLogin" type="button"> 
							</p>
						</form>
					</div>
				</div>
			</div>
		</div>

</div>
    <!-- END Login Box-->
    <!-- Registratio Box-->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
			<div id="signup-box" class="up-slider login-like-box opened"  >
				<div class="wrap">
					 
					<div class="email-box"> 
						<form action="/registeruser" method="POST" id="signup_form"  >
							<div class=" " id="label_danger" ></div>
							<p> 
									<label><?php echo t("Name"); ?></label> 
    								 <input placeholder="<?php echo t("Enter your full name"); ?>" name="name" class="validate[required]" type="text">
    				 		 
							</p>
							<p>
								<span class="iwrap type-text"><span class="error-msg"></span><label><?php echo t("Email"); ?></label> 
								 <input placeholder="enter your email address" name="email" class="text-input validate[required,custom[email]] " type="text"> 
							</p>
							<p> 
								<label><?php echo t("Password"); ?></label> 
								 <input placeholder="enter your password" name="password" class="validate[required]" type="password">
						 	</p>
							<input name="next" value="/" type="hidden">
							<p>
								<input name="action" value="<?php echo t("Sign Up"); ?>" class="button big submitBtn" type="button"> 
							</p>
						</form>
					</div>
				</div>
			</div>
		</div>

</div>
	 <script>
 
	 var modal = document.getElementById('myModal');

	 // Get the button that opens the modal
	 var btn = document.getElementById("myBtn");

	 // Get the <span> element that closes the modal
	 var span = document.getElementsByClassName("close")[0];

	 // When the user clicks on the button, open the modal
	 btn.onclick = function() {
	     modal.style.display = "block";
	 }

	 // When the user clicks on <span> (x), close the modal
	 span.onclick = function() {
	     modal.style.display = "none";
	 }

	 // When the user clicks anywhere outside of the modal, close it
	 window.onclick = function(event) {
	     if (event.target == modal) {
	         modal.style.display = "none";
	     }
	 } 
</script>
	 <script>
 
	 var modal = document.getElementById('loginModal');

	 // Get the button that opens the modal
	 var btn = document.getElementById("myBtnLogin");

	 // Get the <span> element that closes the modal
	 var span = document.getElementsByClassName("close")[0];

	 // When the user clicks on the button, open the modal
	 btn.onclick = function() {
	     modal.style.display = "block";
	 }

	 // When the user clicks on <span> (x), close the modal
	 span.onclick = function() {
	     modal.style.display = "none";
	 }

	 // When the user clicks anywhere outside of the modal, close it
	 window.onclick = function(event) {
	     if (event.target == modal) {
	         modal.style.display = "none";
	     }
	 } 
</script>
	<!-- End Login Box-->
    <!-- End Image Category Wrapper -->

    <main class="main-body">
        <div class="container">
            <div class="width_75 fl_right">
                <div class="products-box">
                    <div class="products-bar">
                        <h3 class="title">محبوب ترین موبایل ها</h3>
                        <a href="#category_url" class="more-btn">مشاهده همه</a>
                    </div>
                    <div class="products-content">
                        <div class="carousels owl-carousel owl-theme">
                            <div class="item">
                                <div class="product-information">
                                    <div class="p_image text-center">
                                        <a href="#product_url">
                                            <img src="/mainhtml/images/phone/1.jpg" alt="image description" title="image description">
                                            <div class="overal" title="مشاهده جزئیات">
                                                <span class="fa fa-cart-arrow-down"></span>
                                            </div>
                                        </a>
                                    </div>
                                    <h5 class="p_title"><a href="#product_url">Sumsung Galaxy j7 prime 2017</a></h5>
                                    <div class="p_navbar">
                                        <p class="p_price"><span>1,500,000</span> تومان</p>
                                        <div class="p_point">
                                            <img src="/mainhtml/images/stars.png" alt="Stars Rate" title="Stars Rate">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Item 1 -->
                            <div class="item">
                                <div class="product-information">
                                    <div class="p_image text-center">
                                        <a href="#product_url">
                                            <img src="/mainhtml/images/phone/2.jpg" alt="image description" title="image description">
                                            <div class="overal" title="مشاهده جزئیات">
                                                <span class="fa fa-cart-arrow-down"></span>
                                            </div>
                                        </a>
                                    </div>
                                    <h5 class="p_title"><a href="#product_url">Sumsung Galaxy j7 prime 2017</a></h5>
                                    <div class="p_navbar">
                                        <p class="p_price"><span>1,500,000</span> تومان</p>
                                        <div class="p_point">
                                            <img src="/mainhtml/images/stars.png" alt="Stars Rate" title="Stars Rate">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Item 2 -->
                            <div class="item">
                                <div class="product-information">
                                    <div class="p_image text-center">
                                        <a href="#product_url">
                                            <img src="/mainhtml/images/phone/3.jpg" alt="image description" title="image description">
                                            <div class="overal" title="مشاهده جزئیات">
                                                <span class="fa fa-cart-arrow-down"></span>
                                            </div>
                                        </a>
                                    </div>
                                    <h5 class="p_title"><a href="#product_url">Sumsung Galaxy j7 prime 2017</a></h5>
                                    <div class="p_navbar">
                                        <p class="p_price"><span>1,500,000</span> تومان</p>
                                        <div class="p_point">
                                            <img src="/mainhtml/images/stars.png" alt="Stars Rate" title="Stars Rate">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Item 3 -->
                            <div class="item">
                                <div class="product-information">
                                    <div class="p_image text-center">
                                        <a href="#product_url">
                                            <img src="/mainhtml/images/phone/4.jpg" alt="image description" title="image description">
                                            <div class="overal" title="مشاهده جزئیات">
                                                <span class="fa fa-cart-arrow-down"></span>
                                            </div>
                                        </a>
                                    </div>
                                    <h5 class="p_title"><a href="#product_url">Sumsung Galaxy j7 prime 2017</a></h5>
                                    <div class="p_navbar">
                                        <p class="p_price"><span>1,500,000</span> تومان</p>
                                        <div class="p_point">
                                            <img src="/mainhtml/images/stars.png" alt="Stars Rate" title="Stars Rate">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Item 4 -->
                            <div class="item">
                                <div class="product-information">
                                    <div class="p_image text-center">
                                        <a href="#product_url">
                                            <img src="/mainhtml/images/phone/5.jpg" alt="image description" title="image description">
                                            <div class="overal" title="مشاهده جزئیات">
                                                <span class="fa fa-cart-arrow-down"></span>
                                            </div>
                                        </a>
                                    </div>
                                    <h5 class="p_title"><a href="#product_url">Sumsung Galaxy j7 prime 2017</a></h5>
                                    <div class="p_navbar">
                                        <p class="p_price"><span>1,500,000</span> تومان</p>
                                        <div class="p_point">
                                            <img src="/mainhtml/images/stars.png" alt="Stars Rate" title="Stars Rate">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Item 5 -->
                        </div>
                    </div>
                </div>
                <!-- End Popular Mobiles Wrapper -->

                <div class="products-box">
                    <div class="products-bar">
                        <h3 class="title">جدید ترین موبایل ها</h3>
                        <a href="#category_url" class="more-btn">مشاهده همه</a>
                    </div>
                    <div class="products-content">
                        <div class="carousels owl-carousel owl-theme">
                            <div class="item">
                                <div class="product-information">
                                    <div class="p_image text-center">
                                        <a href="#product_url">
                                            <img src="/mainhtml/images/phone/1.jpg" alt="image description" title="image description">
                                            <div class="overal" title="مشاهده جزئیات">
                                                <span class="fa fa-cart-arrow-down"></span>
                                            </div>
                                        </a>
                                    </div>
                                    <h5 class="p_title"><a href="#product_url">Sumsung Galaxy j7 prime 2017</a></h5>
                                    <div class="p_navbar">
                                        <p class="p_price"><span>1,500,000</span> تومان</p>
                                        <div class="p_point">
                                            <img src="/mainhtml/images/stars.png" alt="Stars Rate" title="Stars Rate">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Item 1 -->
                            <div class="item">
                                <div class="product-information">
                                    <div class="p_image text-center">
                                        <a href="#product_url">
                                            <img src="/mainhtml/images/phone/6.jpg" alt="image description" title="image description">
                                            <div class="overal" title="مشاهده جزئیات">
                                                <span class="fa fa-cart-arrow-down"></span>
                                            </div>
                                        </a>
                                    </div>
                                    <h5 class="p_title"><a href="#product_url">Sumsung Galaxy j7 prime 2017</a></h5>
                                    <div class="p_navbar">
                                        <p class="p_price"><span>1,500,000</span> تومان</p>
                                        <div class="p_point">
                                            <img src="/mainhtml/images/stars.png" alt="Stars Rate" title="Stars Rate">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Item 2 -->
                            <div class="item">
                                <div class="product-information">
                                    <div class="p_image text-center">
                                        <a href="#product_url">
                                            <img src="/mainhtml/images/phone/3.jpg" alt="image description" title="image description">
                                            <div class="overal" title="مشاهده جزئیات">
                                                <span class="fa fa-cart-arrow-down"></span>
                                            </div>
                                        </a>
                                    </div>
                                    <h5 class="p_title"><a href="#product_url">Sumsung Galaxy j7 prime 2017</a></h5>
                                    <div class="p_navbar">
                                        <p class="p_price"><span>1,500,000</span> تومان</p>
                                        <div class="p_point">
                                            <img src="/mainhtml/images/stars.png" alt="Stars Rate" title="Stars Rate">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Item 3 -->
                            <div class="item">
                                <div class="product-information">
                                    <div class="p_image text-center">
                                        <a href="#product_url">
                                            <img src="/mainhtml/images/phone/7.jpg" alt="image description" title="image description">
                                            <div class="overal" title="مشاهده جزئیات">
                                                <span class="fa fa-cart-arrow-down"></span>
                                            </div>
                                        </a>
                                    </div>
                                    <h5 class="p_title"><a href="#product_url">Sumsung Galaxy j7 prime 2017</a></h5>
                                    <div class="p_navbar">
                                        <p class="p_price"><span>1,500,000</span> تومان</p>
                                        <div class="p_point">
                                            <img src="/mainhtml/images/stars.png" alt="Stars Rate" title="Stars Rate">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Item 4 -->
                            <div class="item">
                                <div class="product-information">
                                    <div class="p_image text-center">
                                        <a href="#product_url">
                                            <img src="/mainhtml/images/phone/5.jpg" alt="image description" title="image description">
                                            <div class="overal" title="مشاهده جزئیات">
                                                <span class="fa fa-cart-arrow-down"></span>
                                            </div>
                                        </a>
                                    </div>
                                    <h5 class="p_title"><a href="#product_url">Sumsung Galaxy j7 prime 2017</a></h5>
                                    <div class="p_navbar">
                                        <p class="p_price"><span>1,500,000</span> تومان</p>
                                        <div class="p_point">
                                            <img src="/mainhtml/images/stars.png" alt="Stars Rate" title="Stars Rate">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Item 5 -->
                        </div>
                    </div>
                </div>
                <!-- End Newest Mobiles Wrapper -->

                <div class="products-box">
                    <div class="products-bar">
                        <h3 class="title">به زودی وارد بازار میشوند</h3>
                        <a href="#category_url" class="more-btn">مشاهده همه</a>
                    </div>
                    <div class="products-content">
                        <div class="carousels owl-carousel owl-theme">
                            <div class="item">
                                <div class="product-information">
                                    <div class="p_image text-center">
                                        <a href="#product_url">
                                            <img src="/mainhtml/images/phone/8.jpg" alt="image description" title="image description">
                                            <div class="overal" title="مشاهده جزئیات">
                                                <span class="fa fa-cart-arrow-down"></span>
                                            </div>
                                        </a>
                                    </div>
                                    <h5 class="p_title"><a href="#product_url">Sumsung Galaxy j7 prime 2017</a></h5>
                                    <div class="p_navbar">
                                        <p class="p_price"><span>1,500,000</span> تومان</p>
                                        <div class="p_point">
                                            <img src="/mainhtml/images/stars.png" alt="Stars Rate" title="Stars Rate">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Item 1 -->
                            <div class="item">
                                <div class="product-information">
                                    <div class="p_image text-center">
                                        <a href="#product_url">
                                            <img src="/mainhtml/images/phone/2.jpg" alt="image description" title="image description">
                                            <div class="overal" title="مشاهده جزئیات">
                                                <span class="fa fa-cart-arrow-down"></span>
                                            </div>
                                        </a>
                                    </div>
                                    <h5 class="p_title"><a href="#product_url">Sumsung Galaxy j7 prime 2017</a></h5>
                                    <div class="p_navbar">
                                        <p class="p_price"><span>1,500,000</span> تومان</p>
                                        <div class="p_point">
                                            <img src="/mainhtml/images/stars.png" alt="Stars Rate" title="Stars Rate">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Item 2 -->
                            <div class="item">
                                <div class="product-information">
                                    <div class="p_image text-center">
                                        <a href="#product_url">
                                            <img src="/mainhtml/images/phone/9.jpg" alt="image description" title="image description">
                                            <div class="overal" title="مشاهده جزئیات">
                                                <span class="fa fa-cart-arrow-down"></span>
                                            </div>
                                        </a>
                                    </div>
                                    <h5 class="p_title"><a href="#product_url">Sumsung Galaxy j7 prime 2017</a></h5>
                                    <div class="p_navbar">
                                        <p class="p_price"><span>1,500,000</span> تومان</p>
                                        <div class="p_point">
                                            <img src="/mainhtml/images/stars.png" alt="Stars Rate" title="Stars Rate">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Item 3 -->
                            <div class="item">
                                <div class="product-information">
                                    <div class="p_image text-center">
                                        <a href="#product_url">
                                            <img src="/mainhtml/images/phone/4.jpg" alt="image description" title="image description">
                                            <div class="overal" title="مشاهده جزئیات">
                                                <span class="fa fa-cart-arrow-down"></span>
                                            </div>
                                        </a>
                                    </div>
                                    <h5 class="p_title"><a href="#product_url">Sumsung Galaxy j7 prime 2017</a></h5>
                                    <div class="p_navbar">
                                        <p class="p_price"><span>1,500,000</span> تومان</p>
                                        <div class="p_point">
                                            <img src="/mainhtml/images/stars.png" alt="Stars Rate" title="Stars Rate">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Item 4 -->
                            <div class="item">
                                <div class="product-information">
                                    <div class="p_image text-center">
                                        <a href="#product_url">
                                            <img src="/mainhtml/images/phone/10.jpg" alt="image description" title="image description">
                                            <div class="overal" title="مشاهده جزئیات">
                                                <span class="fa fa-cart-arrow-down"></span>
                                            </div>
                                        </a>
                                    </div>
                                    <h5 class="p_title"><a href="#product_url">Sumsung Galaxy j7 prime 2017</a></h5>
                                    <div class="p_navbar">
                                        <p class="p_price"><span>1,500,000</span> تومان</p>
                                        <div class="p_point">
                                            <img src="/mainhtml/images/stars.png" alt="Stars Rate" title="Stars Rate">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Item 5 -->
                        </div>
                    </div>
                </div>
                <!-- End Upcoming Mobiles Wrapper -->
            </div>
            <!-- End Right Sidebar 'width_75' -->

            <div class="width_25 fl_left">
                <div class="products-box">
                    <div class="products-bar">
                        <h3 class="title">لیست قیمت</h3>
                    </div>

                    <div class="table-display text-center">
                        <a href="#" class="btn">یابنده موبایل</a>
                    </div>

                    <div class="list-image">
                        <ul>
                            <li>
                                <a href="#post_url">
                                    <img src="https://picsum.photos/60/60/?random" title="image" alt="image">
                                    <h6 class="text">نام گوشی در این قسمت</h6>
                                </a>
                            </li>
                            <li>
                                <a href="#post_url">
                                    <img src="https://picsum.photos/61/60/?random" title="image" alt="image">
                                    <h6 class="text">نام گوشی در این قسمت</h6>
                                </a>
                            </li>
                            <li>
                                <a href="#post_url">
                                    <img src="https://picsum.photos/60/61/?random" title="image" alt="image">
                                    <h6 class="text">نام گوشی در این قسمت</h6>
                                </a>
                            </li>
                            <li>
                                <a href="#post_url">
                                    <img src="https://picsum.photos/62/60/?random" title="image" alt="image">
                                    <h6 class="text">نام گوشی در این قسمت</h6>
                                </a>
                            </li>
                            <li>
                                <a href="#post_url">
                                    <img src="https://picsum.photos/60/62/?random" title="image" alt="image">
                                    <h6 class="text">نام گوشی در این قسمت</h6>
                                </a>
                            </li>
                            <li>
                                <a href="#post_url">
                                    <img src="https://picsum.photos/62/61/?random" title="image" alt="image">
                                    <h6 class="text">نام گوشی در این قسمت</h6>
                                </a>
                            </li>
                            <li>
                                <a href="#post_url">
                                    <img src="https://picsum.photos/62/62/?random" title="image" alt="image">
                                    <h6 class="text">نام گوشی در این قسمت</h6>
                                </a>
                            </li>
                            <li>
                                <a href="#post_url">
                                    <img src="https://picsum.photos/63/61/?random" title="image" alt="image">
                                    <h6 class="text">نام گوشی در این قسمت</h6>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Left Sidebar 'width_25' -->
        </div>

        <div class="top-news-wrapper">
            <div class="container">
                <div class="width_33 flot">
                    <h4 class="box-title">مقایسه های اخیر</h4>
                    <ul class="list-image">
                        <li>
                            <h6><a href="#">مقایسه گوشی Xiamo Redmi با Huawei P10</a></h6>
                        </li>
                        <li>
                            <h6><a href="#">مقایسه گوشی Xiamo Redmi با Huawei P10</a></h6>
                        </li>
                        <li>
                            <h6><a href="#">مقایسه گوشی Xiamo Redmi با Huawei P10</a></h6>
                        </li>
                        <li>
                            <h6><a href="#">مقایسه گوشی Xiamo Redmi با Huawei P10</a></h6>
                        </li>
                        <li>
                            <h6><a href="#">مقایسه گوشی Xiamo Redmi با Huawei P10</a></h6>
                        </li>
                        <li>
                            <h6><a href="#">مقایسه گوشی Xiamo Redmi با Huawei P10</a></h6>
                        </li>

                    </ul>
                </div>
                <!-- End width_33 box 1 -->
                <div class="width_33 flot">
                    <h4 class="box-title">مقایسه های پر مخاطب</h4>
                    <ul class="list-image">
                        <li>
                            <h6><a href="#">مقایسه گوشی Xiamo Redmi با Huawei P10</a></h6>
                        </li>
                        <li>
                            <h6><a href="#">مقایسه گوشی Xiamo Redmi با Huawei P10</a></h6>
                        </li>
                        <li>
                            <h6><a href="#">مقایسه گوشی Xiamo Redmi با Huawei P10</a></h6>
                        </li>
                        <li>
                            <h6><a href="#">مقایسه گوشی Xiamo Redmi با Huawei P10</a></h6>
                        </li>
                        <li>
                            <h6><a href="#">مقایسه گوشی Xiamo Redmi با Huawei P10</a></h6>
                        </li>
                        <li>
                            <h6><a href="#">مقایسه گوشی Xiamo Redmi با Huawei P10</a></h6>
                        </li>

                    </ul>
                </div>
                <!-- End width_33 box 2 -->
                <div class="width_33 flot">
                    <h4 class="box-title">بیشترین جستجو</h4>
                    <ul class="list-image">
                        <li>
                            <h6><a href="#">مقایسه گوشی Xiamo Redmi با Huawei P10</a></h6>
                        </li>
                        <li>
                            <h6><a href="#">مقایسه گوشی Xiamo Redmi با Huawei P10</a></h6>
                        </li>
                        <li>
                            <h6><a href="#">مقایسه گوشی Xiamo Redmi با Huawei P10</a></h6>
                        </li>
                        <li>
                            <h6><a href="#">مقایسه گوشی Xiamo Redmi با Huawei P10</a></h6>
                        </li>
                        <li>
                            <h6><a href="#">مقایسه گوشی Xiamo Redmi با Huawei P10</a></h6>
                        </li>
                        <li>
                            <h6><a href="#">مقایسه گوشی Xiamo Redmi با Huawei P10</a></h6>
                        </li>

                    </ul>
                </div>
                <!-- End width_33 box 3 -->
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="container">
            <div class="width_41 fl_right">
                <div class="pocket-box">
                    <h5 class="box-title">ما را <span>دنبال کنید!</span></h5>
                    <div class="width_50 flot">
                        <ul class="social-links">
                            <li><a href="https://www.facebook.com" rel="nofollow" target="_blank" style="background-color: #3b5999"><span class="fa fa-facebook"></span></a></li>
                            <li><a href="https://www.twitter.com" rel="nofollow" target="_blank" style="background-color: #55acee"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="https://www.instagram.com" rel="nofollow" target="_blank" style="background-color: #e4405f"><span class="fa fa-instagram"></span></a></li>
                            <li><a href="https://telegram.org" rel="nofollow" target="_blank" style="background-color: #007ee5"><span class="fa fa-telegram"></span></a></li>
                        </ul>
                    </div>
                    <div class="width_50 flot">
                        <div class="subscribe-box">
                            <strong>در خبرنامه ما عضو شوید :</strong>
                            <form action="/">
                                <input type="text" placeholder="ایمیل خود را وارد کنید" />
                                <button class="submit-btn">ثبت ایمیل</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Width_41 -->

            <div class="width_50 fl_right">
                <div class="width_33 flot">
                    <div class="footer-item">
                        <h5 class="title">لیست موبایل ها</h5>
                        <ul class="list">
                            <li><a href="#">گوشی های نوکیا</a></li>
                            <li><a href="#">گوشی های هواوی</a></li>
                            <li><a href="#">گوشی های سامسونگ</a></li>
                            <li><a href="#">گوشی های ال جی</a></li>
                            <li><a href="#">گوشی های اپل</a></li>
                            <li><a href="#">گوشی های مایکروسافت</a></li>
                            <li><a href="#">گوشی های سونی</a></li>
                            <li><a href="#">گوشی های اچ تی سی</a></li>
                        </ul>
                    </div>
                </div>
                <!-- End width_33 box 1 -->
                <div class="width_33 flot">
                    <div class="footer-item">
                        <h5 class="title">دسته بندی ها</h5>
                        <ul class="list">
                            <li><a href="#">گوشی های نوکیا</a></li>
                            <li><a href="#">گوشی های هواوی</a></li>
                            <li><a href="#">گوشی های سامسونگ</a></li>
                            <li><a href="#">گوشی های ال جی</a></li>
                            <li><a href="#">گوشی های اپل</a></li>
                            <li><a href="#">گوشی های مایکروسافت</a></li>
                            <li><a href="#">گوشی های سونی</a></li>
                            <li><a href="#">گوشی های اچ تی سی</a></li>
                        </ul>
                    </div>
                </div>
                <!-- End width_33 box 2 -->
                <div class="width_33 flot">
                    <div class="footer-item">
                        <h5 class="title">دسترسی سریع</h5>
                        <ul class="list">
                            <li><a href="#">صفحه اصلی</a></li>
                            <li><a href="#">درباره ما</a></li>
                            <li><a href="#">خدمات</a></li>
                            <li><a href="#">سوالات متداول</a></li>
                            <li><a href="#">اخبار</a></li>
                            <li><a href="#">مقالات و آموزش</a></li>
                            <li><a href="#">نقد و بررسی</a></li>
                            <li><a href="#">تماس با ما</a></li>
                        </ul>
                    </div>
                </div>
                <!-- End width_33 box 3 -->
            </div>
            <!-- End width_50 -->

        </div>
    </footer>
    <!-- End Footer -->

    <div class="copyright">
        <div class="container">
            <p>کلیه حقوق برای این وب سایت محفوظ است. <span class="fa fa-copyright"></span> 2011 - 2018</p>
        </div>
    </div>

 <?php
	        echo  $this->headScript() 
               ->prependFile($this->basePath() . '/mainhtml/js/main.js')
               ->prependFile($this->basePath() . '/mainhtml/js/plugins.js')
	           ->prependFile($this->basePath() . '/js/validator/js/jquery.validationEngine.js')
	           ->prependFile($this->basePath() . '/js/validator/languages/jquery.validationEngine-fa.js')
               ->prependFile($this->basePath() . '/mainhtml/js/jquery.js')
               
	        ;
    ?> 
 <script>
 $('.submitBtn').click(function(e){  
     //  e.preventDefault(); 
    
       $("#signup_form").validationEngine(); 
       if($("#signup_form").validationEngine('validate')) 
       {  
           $.ajax({
               type: "POST",
               url :"/registeruser",
               data : $('#signup_form').serialize() ,
               success:function(results) {
           	   
       	           if (results == 'logintrue') {
        	        	  location.reload();
       	           } else { 
         
                        $('body').find("#label_danger").addClass('alert alert-danger').html(results);
       	           } 
               }
           });
       }
 });
    
 $('.submitBtnLogin').click(function(e){  
     //  e.preventDefault();  
       $("#login_form").validationEngine(); 
       if($("#login_form").validationEngine('validate')) 
       {  
           $.ajax({
               type: "POST",
               url :"/loginuser",
               data : $('#login_form').serialize() ,
               success:function(results) { 
       	           if (results == 'logintrue') {
        	        	  location.reload();
       	           } else {  
                        $('body').find("#label_danger_login").addClass('alert alert-danger').html(results);
       	           } 
               }
           });
       }
   });   

 </script>
</body>

</html>