<?php
echo $this->headTitle(t('Add shop'));
$this->menu()->setActiveItem('products-shop-add');


?>
<div id="main_content_outer" class="clearfix">
		<div id="main_content">
			<!-- main content -->  
		    <div class="row"> 
                <?php 
                    $flash = $this->flashMessenger();
                    $flash->setMessageOpenFormat('<div class="container" style="overflow: hidden;"> <div%s><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><div>')->setMessageCloseString('</div></div></div>');
                    echo $flash->render('error', array('alert', 'alert-dismissable', 'alert-danger', 'custom-flash-messanger'));
                    echo $flash->render('info', array('alert', 'alert-dismissable', 'alert-info', 'custom-flash-messanger'));
                    echo $flash->render('default', array('alert', 'alert-dismissable', 'alert-warning', 'custom-flash-messanger'));
                    echo $flash->render('success', array('alert', 'alert-dismissable', 'alert-success', 'custom-flash-messanger'));
                ?> 
    		     <div class="col-sm-12"> 
    		     		<?php 
        		     		$this->breadcrumb()->setItems([
        		     		    t('Home') => $this->url('application', [ 'lang' => $this->layout()->tools->getLang() ]),
        		     		    t('Shop') => $this->url('products-shop', ['action' => 'list', 'lang' => $this->layout()->tools->getLang()]),
        		     		    t('Edit Shop') => $this->url('products-shop', ['action' => 'edit/id/' .$this->id, 'lang' => $this->layout()->tools->getLang()]),
        		     		    $this->name =>  1 
        		     		     
        		     		]);
        		     		echo  $this->breadcrumb()->render(); 
    		     		?>
    		     </div> 
		    </div>
	  <div class="row"> 
		  <div class="col-sm-12  ">
			 <?php
                $form = $this->form;
                $form->prepare();
                echo $this->form()->openTag($form);
              ?> 
		  <div class="col-sm-2"></div>
			  <div class="col-sm-8"> 
        			 <div class="form_sep">
        					 <label for="" class="req"><?php  echo $form->get('name')->getLabel();?></label>
        					<?php  echo $this->formElement($form->get('name'));?>
        			 </div>  
        			 <div class="form_sep">
        					 <label  class="req"><?php  echo $form->get('status')->getLabel();?></label>
        					<?php  echo $this->formElement($form->get('status'));?>
        			 </div> 
        			 <div class="form_sep">
        					 <label  class="req"><?php  echo $form->get('user_id')->getLabel();?></label>
        					<?php  echo $this->formElement($form->get('user_id'));?>
        			 </div> 
        			 <div class="form_sep">
        					 <label for="" class="req"><?php  echo $form->get('telf')->getLabel();?></label>
        					<?php  echo $this->formElement($form->get('telf'));?>
        			 </div> 
        			 <div class="form_sep">
        					 <label for=""  ><?php  echo $form->get('tels')->getLabel();?></label>
        					<?php  echo $this->formElement($form->get('tels'));?>
        			 </div> 
        			 <div class="form_sep">
        					 <label for="" ><?php  echo $form->get('url')->getLabel();?></label>
        					<?php  echo $this->formElement($form->get('url'));?>
        			 </div> 
        			 <div class="form_sep">
        					 <label for="" ><?php  echo $form->get('fax')->getLabel();?></label>
        					<?php  echo $this->formElement($form->get('fax'));?>
        			 </div> 
        			 <div class="form_sep">
        					 <label for="" class="req"><?php  echo $form->get('address')->getLabel();?></label>
        					<?php  echo $this->formElement($form->get('address'));?>
        			 </div> 
        			 <div class="form_sep">  
        					<?php  echo $this->formElement($form->get('submit'));?>
        			 </div> 
        		 
    			 
			  </div> 
				  <?php
                echo $this->formElement($form->get('csrf'));
                echo $this->form()->closeTag();
                ?>
			 </div>
		 </div>
	 </div> 
</div>	 
 
 

