<?php
    echo $this->headTitle(t('Dashboard')); 
    $this->menu()->setActiveItem('application-admin-dashboard');
   echo  $this->breadcrumb()->setItems([
        t('Home') => $this->url('application', ['lang' => $this->layout()->tools->getLang()]),
        t('Dashboard') => '',
    ]);
?>
<link rel="stylesheet" href="/css/application/admin/dashboard.css"><script> </script>
<div class="container">
    <div class="row">
 
        <div class="col-lg-9">
        
        </div>
    </div>
</div>
<?php 
    $flash = $this->flashMessenger();
    $flash->setMessageOpenFormat('<div class="container" style="overflow: hidden;"><div class="row"><div%s><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><div>')->setMessageCloseString('</div></div></div></div>');
    echo $flash->render('error', array('alert', 'alert-dismissable', 'alert-danger', 'custom-flash-messanger'));
    echo $flash->render('info', array('alert', 'alert-dismissable', 'alert-info', 'custom-flash-messanger'));
    echo $flash->render('default', array('alert', 'alert-dismissable', 'alert-warning', 'custom-flash-messanger'));
    echo $flash->render('success', array('alert', 'alert-dismissable', 'alert-success', 'custom-flash-messanger'));
?>