<style>
.dz-remove{
	cursor: pointer !important;
}
 
</style>
<link href="/css/dropzone.css" media="screen" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/js/dropzone.js"></script>
<?php  
$options = $this->options;
?>
<div id="uploadFile" class="dropzone">
<div class="alert"></div>
</div>

<script>
$(document).ready(function(){
	var initialize = true;
	
	$('body').on('mouseOut', '.specials', function (){
		var position = this.value;  
		var server_file = $(this).parent().children('.server_file').text();
		$.post("<?php echo $options["front_specialUrl"]?>", { "fileId": server_file,"configName" : "<?php echo $this->configName;?>","extraColumnsValue" : "<?php echo urlencode(json_encode($this->extraColumnsValue));?>","value" : (position ? position : '') },function(data){
 
			if (data == "1") {
			   	$(".alert").slideDown();
			   	$(".alert").addClass("alert-success");
			   	$(".alert").html("<?php echo t("File Description changed succesfully");?>");
			   	$(".alert").delay(1000);
			   	$(".alert").slideUp(1000);
			} else { 
			 	$(".alert").slideDown();
			   	$(".alert").addClass("alert-danger");
			   	$(".alert").html("<?php echo t("Error in set   description for file");?>");
			   	$(".alert").delay(1000);
			   	$(".alert").slideUp(1000);
			}	
		});	 
		
    });
 
	Dropzone.options.uploadFile = {
			url : "<?php echo $options["front_url"] . "/configName/" . urlencode($this->configName) . "/extraColumnsValue/" . urlencode(json_encode($this->extraColumnsValue));?>",
			addRemoveLinks: <?php echo $options["canDeleteUploadedFile"]; ?>,
			paramName: "file", // The name that will be used to transfer the file
			maxFilesize: <?php echo $options["front_maxFilesize"]; ?>, // MB
			acceptedFiles: "<?php echo $options["front_acceptedFiles"]; ?>",
			maxFiles: <?php echo $options["front_maxFiles"]; ?>,
			clickable:<?php echo $options["front_clickable"]; ?>,
			success: function(file, response) {
				response = $.parseJSON(response);	
				if(response.code == 200){ // succeeded
					$(file.previewTemplate).append('<span class="server_file hidden" >'+response.msg+"</span> <?php echo ($options["canDeleteUploadedFile"]?"<span class='dropzonetxt'>". t('Description....') ."</span><teaxtarea type ='text' class='position form-control'  ></teaxtarea>":'');?>" );
				    file.previewElement.classList.add("dz-success"); // from source
				 // } else if (response.code == 400 ) {  //  error
				  } else   {  //  error
				    // below is from the source code too
				    var node, _i, _len, _ref, _results;
				    var message = response.msg // modify it to your error message
				    file.previewElement.classList.add("dz-error");
				    _ref = file.previewElement.querySelectorAll("[data-dz-errormessage]");
				    _results = [];
				    for (_i = 0, _len = _ref.length; _i < _len; _i++) {
				      node = _ref[_i];
				      _results.push(node.textContent = message);
				    }
				    return _results;
				}
			},
			removedfile: function(file) {
				var server_file = $(file.previewTemplate).children('.server_file').text();
					$.post("<?php echo $options["front_deleteUrl"]?>", { "fileId": server_file,"configName" : "<?php echo $this->configName;?>","extraColumnsValue" : "<?php echo urlencode(json_encode($this->extraColumnsValue));?>","token" : "<?php echo $this->token;?>" },function(data){
					 
					    if (data == "1") { 
				    	$(".alert").slideDown();
					   	$(".alert").addClass("alert-success");
					   	$(".alert").html("<?php echo t("File deleted");?>"); 
					   	$(".alert").delay(2000);
					   $(".alert").slideUp(1000);
				    	var _ref;
				    	return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
				    } else {
				    	$(".alert").slideDown();
					   	$(".alert").addClass("alert-danger");
					   	$(".alert").html("<?php echo t("Error in deleting file");?>"); 
					   	$(".alert").delay(2000);
					   	$(".alert").slideUp(1000); 
					   	var _ref;
				    	return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
					}
				  });
			},  
			 init: function () {
				 this.on("addedfile", function (file) { 
					 if (initialize) {
					 var t =  file.position  ; 
					 	if ( t  ) { 
						 	var temp = "<?php echo ($options["canDeleteUploadedFile"]?"<span class='dropzonetxt'>". t('Description....') ."</span><textarea  class='form-control specials'  >" : ''); ?> ";
						 	if (temp !='') {
							 	temp +=   t   ; 
						 	}
						 	temp += '</textarea>';
						 	$(file.previewTemplate).append('<span class="server_file hidden" >'+file.fileId+"</span>" + temp );
					 	} else {
					 		$(file.previewTemplate).append('<span class="server_file hidden" >'+file.fileId+"</span> <?php echo ($options["canDeleteUploadedFile"]?"<span class='dropzonetxt'>". t('Description....') ."</span><textarea  class='form-control specials'  > </textarea>" : ''); ?> ");
		 			    }
	 			    }
			        });
				 var myDropzone = this; 
 <?php 
					if ($this->filesInfo) {
						foreach ($this->filesInfo as $fileInfo) {
							$filePath = $options["uploadPath"] . (isset($this->extraColumnsValue["path"])?$this->extraColumnsValue["path"] . "/":"") . $fileInfo['file_name']; 
							$filePathImg = $options["uploadPathThumb"] . (isset($this->extraColumnsValue["path"])?$this->extraColumnsValue["path"] . "/":"") . $fileInfo['file_name'];
							if (! is_file($filePath)) {
                                continue;
                            }
							?>
							var mockFile = { name: "<?php echo $fileInfo["original_file_name"];?>", size: <?php echo filesize($filePath); ?>,type: '<?php echo $fileInfo["mime_type"];?>',status: Dropzone.ADDED,fileId: "<?php echo $fileInfo["id"] ?>",caption: "<?php echo $fileInfo["file_name"] ?>",order: "<?php echo $fileInfo["order"] ?>" };
							myDropzone.emit("addedfile", mockFile);
			                // And optionally show the thumbnail of the file:
							myDropzone.emit("thumbnail", mockFile, "<?php echo $filePathImg ?>");
							myDropzone.files.push(mockFile); 
			               <?php 
                        }
					}
				 ?>
				 initialize = false;  
	            }
	  };
});
</script>