<?= $this->headTitle(t('Add Permission')) ?>
<?php 
    $this->menu()->setActiveItem('application-permission-add'); 
    $this->breadcrumb()->setItems([
        t('Home') => $this->url('application', ['lang' => $this->layout()->tools->getLang()]),
        t('Dashboard') => $this->url('application-admin', ['action' => 'dashboard', 'lang' => $this->layout()->tools->getLang()]),
        t('Add Permission') => '',
    ]);
?>
<link rel="stylesheet" href="/css/application/admin/dashboard.css"><script> </script>
<div class="container">
    <div class="row">
        <?php echo $this->partial('adminMenubar'); ?>
        <div class="col-lg-9">
            <h1><?= t('Add Permission') ?></h1>
            <hr>
            <?php 
                $applicationUsersPermissionsForm->prepare();
                echo $this->form()->openTag($applicationUsersPermissionsForm);
            ?>
            <div class="form-group">
                <?= $this->formRow($applicationUsersPermissionsForm->get('permission_name')) ?>
            </div>
            <div class="form-group">
                <?= $this->formRow($applicationUsersPermissionsForm->get('permission_label')) ?>
            </div>
            <div class="form-group">
                <?= $this->formRow($applicationUsersPermissionsForm->get('exception')) ?>
            </div>
            <div>
                <?= $this->formRow($applicationUsersPermissionsForm->get('application_users_permissions_form_csrf')) ?>
                <?= $this->formRow($applicationUsersPermissionsForm->get('submit')) ?>
            </div>
            <?= $this->form()->closeTag() ?>
        </div>
    </div>
</div>