<?= $this->headTitle(t('Assign Permission to User Group')) ?>
<?php 
    $this->menu()->setActiveItem('application-permission-assign-permission-to-user-group'); 
    $this->breadcrumb()->setItems([
        t('Home') => $this->url('application', ['lang' => $this->layout()->tools->getLang()]),
        t('Dashboard') => $this->url('application-admin', ['action' => 'dashboard', 'lang' => $this->layout()->tools->getLang()]),
        t('Assign Permission to User Group') => '',
    ]);
?>
<link rel="stylesheet" href="/css/application/admin/dashboard.css">
<style>
.lightblue{
	background-color:#E3EAF9 !important;
}
</style>
<div class="container">
    <div class="row">
 
        <div class="col-lg-9">
		     <h1><?= t('Assign Permission to User Group') ?></h1>
		     <hr>
		      <hr />
            <div class="col-md-6 pull-left">
                <div class="form-group">
                     <button id="selectall" type="button"  class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i>
                      <?php echo t('Select all');?></button>
                     <button type="submit" class="btn btn-primary" id="tour6">
                       <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    
                   </button>
                </div>
            </div>
			 <form action="" name="permissions" method="post">
			     <table class="table table-hover table-striped table-bordered">
				     <thead>
					     <tr>
							 <th><?= t('Title') ?></th>
		        			 <?php foreach ($groups as $group) { ?>
		        			     <th><?php echo @$group['title']; ?>
		        			     <input type="checkbox" class="selectall"  id="<?php echo $group['id']?>">
		        			     </th>
		        			 <?php } ?>	    
					      </tr>
					  </thead>
					  <tbody>
				          <?php
 
				          if (isset($this->list)) foreach ($this->list as $index => $permissions) { ?>
				            <tr class="lightblue"> <td colspan="<?php echo count($groups)+1?>"><?php echo $index; ?></td></tr>
				            <?php foreach ($permissions as $key => $permission) { ?>
				            <tr> <td> <?php echo $permission['permission_name']; ?> </td>
				            	 <?php foreach ($this->groups as   $group) { ?>
				 					 <td>
				        				<input class="group<?php echo $group['id']?>"  type="checkbox" value="<?php echo $group['id']; ?>"
										<?php echo @in_array($permission['id'], @$this->current[$group['id']]) ? 'checked' : ''?>
										name="perms[<?php echo $permission['id']; ?>][<?php echo $group['id']; ?>]"
										title="<?php echo $permission['permission_name']; ?>" /> <input
										type="hidden" value="<?php echo $group['id']; ?>"
										name="lastperms[<?php echo $permission['id']; ?>][<?php echo $group['id']; ?>]" />
								    </td>
				             <?php } ?>	
				            </tr>
				        <?php } ?>
				        <?php } ?>
		            </tbody>
			    </table>
			    <input class="btn btn-primary" type="submit" value="<?= t('Update'); ?>" />
		    </form>
		</div>
	</div>
</div>
 
<script>
$(document).ready(function(){
	var j = 0;
	$("#selectall").click(function() { 
		  if (j == 1) {
			   $(':checkbox').prop('checked',false); 
			   j = 0; 
	      } else {
	    	   $(':checkbox').prop('checked',true);
			   j = 1;
	      }
	});
 
   $('body').on('change','.selectall',function(){  
		  var id = $(this).attr('id');  
		  var i = $(this).is(':checked');
		  if (i) { 
	    	   $('.group'+id).prop('checked',true); 
	      } else {
			  $('.group'+id).prop('checked',false); 
	      }
			 
	});
 
	$(".groupcheckbox").click(function() {
		var ischecked = $(this).is(':checked'); 
		var name = $(this).attr('data-attr');
		var name = "."+name; 
		if(ischecked) {
			$(name).prop( "checked",true );
		} else {
			$(name).prop( "checked",false );
		}
	});
});
</script> 