<?= $this->headTitle(t('List Permissions')) ?>
<?php 
    $this->menu()->setActiveItem('application-permission-list');
    $this->breadcrumb()->setItems([
        t('Home') => $this->url('application', ['lang' => $this->layout()->tools->getLang()]),
        t('Dashboard') => $this->url('application-admin', ['action' => 'dashboard', 'lang' => $this->layout()->tools->getLang()]),
        t('List Permissions') => '',
    ]);
?>

<div class="container">
    <div class="row">
         
        <div class="col-lg-9">
		    <h1><?= t('List Permissions') ?></h1>
		    <hr>
            <?php if ($this->permissions) { ?>
                      <table class="table table-hover">
                          <thead>
                              <tr>
                                   <th>#</th>
                                   <th><?= t('Permission Name') ?></th>
                                   <th><?= t('Edit') ?></th>
                                   <th><?= t('Delete') ?></th>
                              </tr>
                          </thead>
                          <tbody>
                              <?php foreach ($this->permissions as $key => $permission) { ?>
                                        <tr>
                                            <td><?= ++$key ?></td>
                                            <td><?= $permission['permission_name'] ?></td>
                                            <td><a href="<?= $this->url('application-permission', ['controller' => 'permission','action' => 'update','id' => $permission['id'], 'lang' => $this->layout()->tools->getLang()]) ?>" class="btn btn-xs btn-primary"><?= t('Edit') ?></a></td>
                                            <td><a href="<?= $this->url('application-permission', ['controller' => 'permission','action' => 'delete', 'id' => $permission['id'], 'lang' => $this->layout()->tools->getLang(), 'token' => $token]) ?>" class="delete-btn btn btn-xs btn-danger"><?= t('Delete') ?></a></td>
                                        </tr>
                              <?php } ?>
                          </tbody>
                      </table>  
            <?php } ?>
		    <div id="modal" class="modal fade">
		        <div class="modal-dialog">
		            <div class="modal-content">
		                <div class="modal-header">
		                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                    <h4 class="modal-title"><?= t('Are you sure you want to delete?') ?></h4>
		                </div>
		                <div class="modal-body">
		                    <p><?= t('This record cannot be retrieved after deletion!') ?></p>
		                </div>
		                <div class="modal-footer">
		                    <button type="button" class="btn btn-default" data-dismiss="modal"><?= t('Cancel') ?></button>
		                    <a style="margin-right: 17px;" class="btn btn-danger" href="#"><?= t('Yes I`m') ?></a>
		                </div>
		            </div>
		        </div>
		    </div>
        </div>
    </div>
</div>

<script>
var $ = jQuery;
    $('.delete-btn').click(function(e) {
        e.preventDefault();
        $('#modal').modal();
        $('#modal .modal-footer a').attr('href', $(this).attr('href'));
    });
</script> 
