<?= $this->headTitle(t('Update Permission')) ?>
<?php $this->menu()->setActiveItem('application-permission-list'); ?>
<link rel="stylesheet" href="/css/application/admin/dashboard.css"><script> </script>
<div class="container">
    <div class="row">
        <?php echo $this->partial('adminMenubar'); ?>
        <div class="col-lg-9">
            <h1><?= t('Update Permission') ?></h1>
            <hr>
            <?php 
                $applicationUsersPermissionsForm->prepare();
                echo $this->form()->openTag($applicationUsersPermissionsForm);
                if (isset($error))
                    echo "<div class=\"alert alert-danger\">$error</div>";
            ?>
            <div class="form-group">
                <?= $this->formRow($applicationUsersPermissionsForm->get('permission_name')) ?>
            </div>            
            <div class="form-group">
                <?= $this->formRow($applicationUsersPermissionsForm->get('permission_label')) ?>
            </div>
            <div class="form-group">
                <?= $this->formRow($applicationUsersPermissionsForm->get('exception')) ?>
            </div>
            <div>
                <?= $this->formRow($applicationUsersPermissionsForm->get('application_users_permissions_form_csrf')) ?>
                <?= $this->formRow($applicationUsersPermissionsForm->get('submit')->setValue(t('Edit'))) ?>
            </div>
            <?= $this->form()->closeTag() ?>
        </div>
    </div>
</div>