<?php $this->headTitle($pageInfo[0]['title']) ?>
<link rel="stylesheet" href="/css/application/index/static-pages.css"><script> </script>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container" id="application-index-about-container">
    <div class="row">
        <div class="col-lg-12">
            <?= $pageInfo[0]['content'] ?>
        </div>
    </div>
</div>