<?php $this->headTitle('Your`re Blocked') ?>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="blocked-user-layout">
       <img class="center-block img img-responsive" src="/img/404/not-found.png">
	   <p><?= t('You`re blocked. Give it a try after 2 hours.') ?></p>
    </div>
</div>