<?php $this->headTitle(t('Content')) ?>
<link rel="stylesheet" href="/css/application/index/content.css"><script> </script>
<section class="inner_pages">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                <article class="content_page">
                    <section class="author">
                        <div class="author_avatar">
                          <img class="img-responsive" src="/img/main/user.jpeg" width="70" height="70" alt="" title="" />
                        </div>
                        <div class="author_info">
                            <a href="" class="post_author_name">فرشاد حسن زاده</a>
                            <a href="" class="post_author_follow btn btn-default btn-sm">فالو می‌کنم</a>
                            <br>
                            <p class="post_author_about">درباره من لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است...</p>
                            <a href="" class="post_author_date">۱۲ آبان</a>
                            <div class="post_time_read">. زمان مطالعه <span>۷</span></div>
                        </div>
                    </section>
                    <header>
                        <figure>
                            <img class="img-responsive" src="/img/main/post3.jpg" alt="The Pulpit Rock" width="100%" height="auto">
                        </figure>
                        <h1>
                            <strong>
                            علائم حساسیت به واکسن، چگونه بفهمیم؟
                            </strong>
                        </h1>
                    </header>
                    <section id="content">
                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                        </p>
                    </section>
                    <footer>
                      <div class="content_tags">
                        <a href="">تکنولوژی</a>
                        <a href="">ورزشی</a>
                        <a href="">مادر و نوزاد</a>
                        <a href="">سلامتی</a>
                        <a href="">مادر و نوزاد</a>
                        <a href="">مادر و نوزاد</a>
                      </div>
                      <div class="content_btns">
                        <div class="post_info">
                          <input id="toggle-heart" type="checkbox"/>
                          <label class="like_heart" for="toggle-heart"><i class="fa fa-heart"></i></label><span>24</span>
                          <label class="comment_icon"><i class="fa fa-comment"></i></label><span>24</span>
                        </div>
                        <div class="post_share">
                          <ul class="list-inline">
                            <li><a href=""><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter-square"></i></a></li>
                            <li><a href=""><i class="fa fa-share-square"></i></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="author author_details">
                        <div class="author_avatar">
                          <img class="img-responsive" src="/img/main/user.jpeg" width="70" height="70" alt="" title="" />
                        </div>
                        <div class="author_info">
                          <a href="" class="post_author_name">فرشاد حسن زاده</a>
                          <a href="" class="post_author_follow btn btn-default btn-sm">فالو می‌کنم</a>
                          <br>
                          <div class="post_author_about">
                              درباره من لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است...
                              درباره من لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است...
                              درباره من لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است...
                          </div>
                        </div>
                      </div>
                    </footer>
                </article>
            </div>
        </div>
    </div>
</section>
<section class="related">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="box related_box">
          <a href="">
            <figure class="related_photo">
              <img class="img-responsive" src="/img/main/post1.jpeg" alt="" title="" />
            </figure>
          </a>
          <div class="inner_related">
            <a href="">
              <h3>
                علائم حساسیت به واکسن، چگونه بفهمیم؟
              </h3>
            </a>
          </div>
          <div class="related_footer">
            <div class="related_footer_avatar">
              <a href="">
                <img class="img-responsive" src="/img/main/user.png" width="40" height="40" alt="" title="" />
                <h4>
                        فرشاد حسن زاده
                </h4>
                <br>
                <div class="post_time_read"> زمان مطالعه <span>3</span></div>
              </a>
            </div>
            <div class="related_footer_btns">
              <div class="post_info post_info_related">
                <input id="toggle-heart" type="checkbox"/>
                <label class="like_heart" for="toggle-heart"><i class="fa fa-heart"></i></label><span>24</span>
                <label class="comment_icon"><i class="fa fa-comment"></i></label><span>24</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="box related_box">
          <a href="">
            <figure class="related_photo">
              <img class="img-responsive" src="/img/main/post3.jpg" alt="" title="" />
            </figure>
          </a>
          <div class="inner_related">
            <a href="">
              <h3>
                علائم حساسیت به واکسن، چگونه بفهمیم؟
              </h3>
            </a>
          </div>
          <div class="related_footer">
            <div class="related_footer_avatar">
              <a href="">
                <img class="img-responsive" src="/img/main/user.png" width="40" height="40" alt="" title="" />
                <h4>
                        فرشاد حسن زاده
                </h4>
                <br>
                <div class="post_time_read"> زمان مطالعه <span>3</span></div>
              </a>
            </div>
            <div class="related_footer_btns">
              <div class="post_info post_info_related">
                <input id="toggle-heart" type="checkbox"/>
                <label class="like_heart" for="toggle-heart"><i class="fa fa-heart"></i></label><span>24</span>
                <label class="comment_icon"><i class="fa fa-comment"></i></label><span>24</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="box related_box">
          <a href="">
            <figure class="related_photo">
              <img class="img-responsive" src="/img/main/post1.jpeg" alt="" title="" />
            </figure>
          </a>
          <div class="inner_related">
            <a href="">
              <h3>
                علائم حساسیت به واکسن، چگونه بفهمیم؟
              </h3>
            </a>
          </div>
          <div class="related_footer">
            <div class="related_footer_avatar">
              <a href="">
                <img class="img-responsive" src="/img/main/user.png" width="40" height="40" alt="" title="" />
                <h4>
                        فرشاد حسن زاده
                </h4>
                <br>
                <div class="post_time_read"> زمان مطالعه <span>3</span></div>
              </a>
            </div>
            <div class="related_footer_btns">
              <div class="post_info post_info_related">
                <input id="toggle-heart" type="checkbox"/>
                <label class="like_heart" for="toggle-heart"><i class="fa fa-heart"></i></label><span>24</span>
                <label class="comment_icon"><i class="fa fa-comment"></i></label><span>24</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center show_more_related">
        <button class="btn btn-default">مطالب مرتبط بیشتر ...</button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="comment_box_title">
          دیدگا‌ه‌‌ها
        </div>
        <div class="box user_cm_box">
          <img class="img-responsive" src="/img/main/user.jpeg" width="40" height="40" alt="" title="" />
          <div class="write_name">
            <div class="write_name_main">
              دیدگاه‌تان را بنویسید ...
            </div>
            <div class="write_name_user">
              فرشاد حسن زاده
            </div>
          </div>
          <div class="main_write_cm">
            <textarea id="text_cm"></textarea>
            <button class="btn btn-primary">ارسال دیدگاه</button>
          </div>
        </div>
        <div class="box all_cm_box">
          <div class="cm_box">
            <img class="img-responsive" src="/img/main/user.png" width="32" height="32" alt="" title="" />
              <div class="cm_user_name">
                فرشاد حسن زاده
              </div>
              <div class="cm_time">
                14 ساعت
              </div>
              <div class="cm_content">
                درباره من لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است... درباره من لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
              </div>
              <div class="cm_footer">
                <button class="btn btn-xs btn-default cm_reply">پاسخ</button>
                <div class="like_cm_box">
                  <div class="like_btn">3<i class="fa fa-thumbs-o-down" aria-hidden="true"></i></div>
                  <div class="like_btn">15<i class="fa fa-thumbs-o-up" aria-hidden="true"></i></div>
                </div>
              </div>
          </div>
          <div class="cm_box">
            <img class="img-responsive" src="/img/main/user.png" width="32" height="32" alt="" title="" />
              <div class="cm_user_name">
                فرشاد حسن زاده
              </div>
              <div class="cm_time">
                14 ساعت
              </div>
              <div class="cm_content">
                درباره من لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است... درباره من لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
              </div>
              <div class="cm_footer">
                <button class="btn btn-xs btn-default cm_reply">پاسخ</button>
                <div class="like_cm_box">
                  <div class="like_btn">3<i class="fa fa-thumbs-o-down" aria-hidden="true"></i></div>
                  <div class="like_btn">15<i class="fa fa-thumbs-o-up" aria-hidden="true"></i></div>
                </div>
              </div>
          </div>
          <div class="cm_box">
            <img class="img-responsive" src="/img/main/user.png" width="32" height="32" alt="" title="" />
              <div class="cm_user_name">
                فرشاد حسن زاده
              </div>
              <div class="cm_time">
                14 ساعت
              </div>
              <div class="cm_content">
                درباره من لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است... درباره من لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
              </div>
              <div class="cm_footer">
                <button class="btn btn-xs btn-default cm_reply">پاسخ</button>
                <div class="like_cm_box">
                  <div class="like_btn">3<i class="fa fa-thumbs-o-down" aria-hidden="true"></i></div>
                  <div class="like_btn">15<i class="fa fa-thumbs-o-up" aria-hidden="true"></i></div>
                </div>
              </div>
              <div class="reply_area">
                <textarea id="thistext" placeholder="متن پاسخ ..."></textarea>
                <button class="btn btn-xs btn-primary cm_reply_reply">ارسال</button>
              </div>
              <div class="cm_box_reply">
                <img class="img-responsive" src="/img/main/user.jpeg" width="32" height="32" alt="" title="" />
                  <div class="cm_user_name">
                    بهزاد مرادی
                  </div>
                  <div class="cm_time">
                    14 ساعت
                  </div>
                  <div class="cm_content">
                    درباره من لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                  </div>
                  <div class="cm_footer">
                    <button class="btn btn-xs btn-default cm_reply">پاسخ</button>
                    <div class="like_cm_box">
                      <div class="like_btn">3<i class="fa fa-thumbs-o-down" aria-hidden="true"></i></div>
                      <div class="like_btn">15<i class="fa fa-thumbs-o-up" aria-hidden="true"></i></div>
                    </div>
                  </div>
                  <div class="reply_area">
                    <textarea id="thistext" placeholder="متن پاسخ ..."></textarea>
                    <button class="btn btn-xs btn-primary cm_reply_reply">ارسال</button>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center show_more_related">
        <button class="btn btn-default">دیدگاه‌ها ی بیشتر ...</button>
      </div>
    </div>
  </div>
</section>
<script src="/js/application/index/content.js"></script>
<!-- Initialize the API -->
<script>
    Api.init({
        baseUrl: '<?= $this->basePath() ?>',
        type: 'POST',
        lang : '<?= $this->layout()->tools->getLang() ?>',
    }, {id: '<?= $id ?>'});

    $(document).ready(function(){
      $(".user_cm_box").on('click', function(){
          $('.write_name_main').slideUp(200);
          $(this).children('.main_write_cm').slideDown();
          $("#text_cm").focus();
          $("#text_cm").blur(function(){
            // $('.write_name_main').slideDown(200);
            // $('.main_write_cm').slideUp();
          });
      });

      $(".cm_reply").on('click', function(){
          $(this).parent().next('.reply_area').slideDown();
          $(this).parent().next('.reply_area').children("#thistext").focus();
      });
    });

</script>
