<?php $this->headTitle(t('Password Forgotten')) ?>
<link rel="stylesheet" href="/css/application/index/password-forgotten.css"><script> </script>
<div class="container" id="application-index-signin-container">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
        password forgotten
        </div>
    </div>
</div>

<a href="<?= $this->url('application', [], ['force_canonical' => true, 'query'=>['q'=>'topic', 'count'=>10]]); ?>" >  </a>
