<?php $this->headTitle(t('Reset Password')) ?>
<link rel="stylesheet" href="/css/application/index/reset-password.css"><script> </script>
<div class="container" id="application-index-signin-container">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
        reset password 
        </div>
    </div>
</div>