<?php $this->headTitle(t('Search')) ?>
<link rel="stylesheet" href="/css/application/index/search.css"><script> </script>
<div class="container" id="application-index-signin-container">
    <div class="row">
        <div class="col-lg-12">
            search page
        </div>
    </div>
</div>

