<?php $this->headTitle(t('Signin')); ?>
 

<style>
.btn {
    margin: 0px;
}
</style>
	<header class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="dashboard.html"> </a>
			</div>
			<div class="pull-right">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/signin" class=""><?php echo t("Log In");?></a></li>
					  <li><a href="/signup" class=""><?php  echo t("Sign Up"); ?></a></li>  
				<!-- 	<li><a href="#">Help</a></li> -->
				</ul>
			</div>
		</div>
	</header> 
	
<div class="login_wrapper">
    <div class="login_panel log_section">
    
        <div class="login_head">
            <h1><?php echo t("Log In to Admin");?>  </h1>
        </div>
      <div class="login-form">
       <?php
/* @var $this \Zend\View\Renderer\PhpRenderer */
		 
       $form = $this->signinForm;
     
       echo $this->form()->openTag($signinForm);
       if (@$error)
           echo "<div class=\"alert alert-danger\">$error</div>";
			$form->prepare();
			// Render the opening tag
			echo $this->form()->openTag($form);
			?>
             <div class="form-group">  
                    <?= $this->formRow($signinForm->get('username')) ?>
             </div>
             <div class="form-group"> 
                
               
                <?php echo $this->formElement($form->get('password'));?>
                <label class="checkbox"> 
                <?php    // echo $this->formElement($form->get('check'));?>
                </label>
            </div>
            <div class="login_submit">
                
               	 <?php 
    			echo     $this->formRow($signinForm->get('signin_csrf'));  
               	 echo $this->formElement($form->get('submit')); 
               	 ?>
            </div>
          
	      <?php
			echo $this->form()->closeTag();
			
		   ?>
    </div>
 </div>
 
</div>
 
<script>
$(document).ready(function(){ 
 

    $("#loginForm").validationEngine();
   	$( '#supportRegistrationForm' ).submit( function( e ) {
           if($("#supportRegistrationForm").validationEngine('validate'))  { 
         	  $( '#supportRegistrationForm' ).submit();  
       		} 
   	});
    
});  

</script>