<?php 
echo $this->headTitle(t('Signup'));
?>
 
<style>
.btn {
    margin: 0px;
}
</style>
	<header class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="dashboard.html"> </a>
			</div>
			<div class="pull-right">
				<ul class="nav navbar-nav">
					<li ><a href="/signin" class=""><?php echo t("Log In");?></a></li>
				    <li class="active"><a href="/signup" class=""><?php  echo t("Sign Up"); ?></a></li>  
	 
				</ul>
			</div>
		</div>
	</header> 
 <div class="slide-content">
            <div class="container">
                <div class="width_50 flot wow fadeInRight" data-wow-delay="0.8s">
                    <div class="login-register-box">
                        
<div class="login_wrapper">
    <div class="login_panel log_section">
        <div class="login_head">
            <h1><?php echo t("Sign up");?>  </h1>
        </div>
       
          <?php
         
          $signupForm = $this->signupForm;
              $signupForm->prepare();
              echo $this->form()->openTag($signupForm);
            if (@$error)
           echo "<div class=\"alert alert-danger\">$error</div>";
          ?>
           <div class="form-group"> 
              <?= $this->formRow($signupForm->get('fullname')) ?>
          </div>
           <div class="form-group"> 
              <?= $this->formRow($signupForm->get('email')) ?>
          </div>
          <div class="form-group">
              <?= $this->formRow($signupForm->get('password')) ?>
          </div>
          <div class="form-group">
              <?= $this->formRow($signupForm->get('repeat_password')) ?>
          </div>
       
          <div class="form-group">
          <div class="row">
          <div class="col-lg-12">
          <div class="col-lg-2">
             <span id="refreshcaptcha"   class="icon-refresh"></span>
          </div>
          <div class="col-lg-9">
              <?= $this->formRow($signupForm->get('captcha')) ?>
          </div>
          </div>
          </div>
          </div>
       
          <div id="signup-form-terms-link">
          <?php 
              if(2>3) {
          //t('By signing up, you agree to the');
          ?>
              <a href="<?php $this->url('application', ['action' => 'terms', 'lang' => $this->layout()->tools->getLang()]) ?>"><?= t('Terms') ?></a>
              <?php } ?>
          </div>
          <div class="login_submit">
              <?= $this->formRow($signupForm->get('signup_csrf')) ?>
              <?= $this->formRow($signupForm->get('submit')) ?>
          </div>
          <?= $this->form()->closeTag() ?>
   
    </div>
</div>
<script>
$(document).ready(function(){ 
    $("#registrationForm").validationEngine();
   	$( '#registrationForm' ).submit( function( e ) {
           if($("#registrationForm").validationEngine('validate'))  { 
         	  $( '#registrationForm' ).submit();  
       		} 
   	}); 
});  

</script>